<% content_for :account_popup_content do %>

  <div class="accounts-popup-half-form-container">
    <%= form_for(@user_new_session, as: 'user_new_session', url: factlink_accounts_create_session_path, html: { class: "accounts-popup-half-form" }) do |f| %>

      <h1 class="accounts-popup-half-form-heading">Sign in to <%= t(:app_name) %></h1>

      <%= f.label :email, 'Email address' %>
      <%= f.text_field :email, placeholder: 'john@smith.com' %>
      <%= possible_error_for_field(@user_new_session, :email) %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= link_to "Forgot your password?", new_password_path('user'), target: '_blank', class: 'accounts-popup-forgot-password' %>

      <button type="submit" data-disable-with="Signing in..." class="button-confirm accounts-popup-signin-button">Sign in</button>

    <% end %>

    <div class="accounts-popup-half-form-separator">
      or
    </div>

    <%= form_for(@user_new_account, as: 'user_new_account', url: factlink_accounts_create_account_path, html: { class: "accounts-popup-half-form" }) do |f| %>

      <h1 class="accounts-popup-half-form-heading">Create a <%= t(:app_name) %> account</h1>

      <%= f.label :full_name %>
      <%= f.text_field :full_name, placeholder: 'John Smith' %>
      <%= possible_error_for_field(@user_new_account, :full_name) %>

      <%= f.label :email, 'Email address' %>
      <%= f.text_field :email, placeholder: 'john@smith.com' %>
      <%= possible_error_for_field(@user_new_account, :email) %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= possible_error_for_field(@user_new_account, :password) %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= possible_error_for_field(@user_new_account, :password_confirmation) %>

      <p>By creating an account you accept our <%= link_to 'terms', terms_of_service_path, target: '_blank' %>.</p>

      <button type="submit" data-disable-with="Creating..." class="button accounts-popup-create-button">Create account</button>
    <% end %>
  </div>

<% end %>
