<div>
	<span class="action"><%= activity.action %></span> 

	<!-- <span class="img <%= activity.subject.class.to_s.downcase %>"><a><%= activity.subject %></a></span> -->

	<span class="img fact"><a><%= truncate(activity.subject.from_fact.displaystring, :length => 60) %></a></span>


	<br/>
	<% 	
		if activity.subject.type.to_sym == :supporting 
			@message = "is supporting"
		else
			@message = "is weakening"
		end
	%>
	<span class="action <%= activity.subject.type %>"><%= @message %></span>
	
	<span class="img fact"><a><%= truncate(activity.subject.fact.displaystring, :length => 50) %></a></span>

</div>