<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle"><%= @activity[:user].name %> commented</h2>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" id="added-comment-message">
  <tr>
    <td colspan="3" class="added-comment-message-header">
      <h3>
        <%= link_to @activity[:fact].proxy_open_url, class: "message-title" do %>
          <%= @activity[:fact].displaystring %>
        <% end %>
      </h3>
    </td>
  </tr>
  <tr>
    <td class="added-comment-message-container" rowspan="3">
      <table cellpadding="0" cellspacing="0" border="0" class="added-comment-message-box">
        <tr>
          <td valign="top" class="message-user-image">
            <img src="<%= Gravatar.url(hash: @activity[:user].gravatar_hash, size: 32) %>" width="32" height="32" alt="<%= @activity[:user].name %>" />
            <%= link_to_possibly_dead_user(@activity[:user], class: "user-name") %>
          </td>
        </tr>
        <tr>
          <td class="added-comment-message-content">
            <p>
              <%= @activity[:comment].formatted_content %>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br />

<table class="button" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="button-inner">
      <%= link_to @activity[:fact].proxy_open_url do %>
        <div class="button-link">
          Reply to this comment
        </div>
      <% end %>
    </td>
  </tr>
</table>

<br /><br />
