<%
  gu_id = @activity.user_id

  follower_count  = UserFollowingUsers.new(gu_id).followers_count
  following_count = UserFollowingUsers.new(gu_id).following_count
%>

<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle"><%= @activity.user.user %> is now following you on Factlink</h2>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" id="user" width="100%">
  <tr>
    <td class="user-header">
      <img class="user-image" src="<%= @activity.user.user.avatar_url(size: 32) %>" width="32" height="32" alt="<%= @activity.user.user %>" />
      <%= link_to_possibly_dead_user @activity.user.user, class: "user-name" %>
    </td>
  </tr>

  <tr>
    <td>
      <table cellpadding="20" cellspacing="0" border="0" id="user-info" width="100%">
        <tr>
          <td class="user-info-description" colspan="3">
            <p><%= @activity.user.user.biography %></p>
          </td>
        </tr>
        <tr>
          <td class="user-info-stat" width="50px">
            <span class="muted">Followers</span><br />
            <span class="user-info-value">
              <%= follower_count %>
            </span>
          </td>
          <td class="user-info-stat no-border" width="50px">
            <span class="muted">Following</span><br />
            <span class="user-info-value">
              <%= following_count %>
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br />

<table class="button" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="button-inner">
      <a href="<%= user_profile_url(@activity.user.user) %>">
        <div class="button-link">
          Follow <%= @activity.user.user %>
        </div>
      </a>
    </td>
  </tr>
</table>

<br /><br />
