!!! 5
html
  head
    title Factlink Short URL Service
    link(rel="stylesheet", type="text/css", href= proxy_url + "/static/styles/header.css")
    script
      top.frames[1].onload=function(){
        if (typeof top.frames[1].FACTLINK === 'undefined'){
          document.getElementById('error_in_proxy').style.display="block";
        }
      }
  body
    #wrapper
      header
        a(href=core_url, target="_top", tabindex=8)
          img(src=proxy_url + "/static/images/factlink-logo-beta.png")
        form(action=".", method="GET", target="_parent", class="input-append")

          input(type="text", value=clean_page_url, name="url", placeholder="Type the url you want to go to (e.g. http://search.yahoo.com/)", tabindex=1)
          input(type="hidden", value=factlinkModus, name="factlinkModus")
          input(type="submit", value="Go", class="btn btn-primary", tabindex=2)

        div.top-right.btn-group
          a.btn(href=core_url, target="_top", title="Visit Factlink")
            i.icon-home
          a.btn#error_in_proxy(href=proxy_url + "/unsupported", target="_top", title="Error: this site is unsupported")
            i.icon-exclamation-sign.icon-white
          a.btn(href=proxy_url, target="_top", title="More information")
            i.icon-info-sign
          a.btn(href=clean_page_url, target="_top", title="Browse this site without the Factlink Browser")
            i.icon-remove
