<%= form_for(job, :url => [:admin, job]) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :title %>
    <div class="field">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <%= f.label :content %>
    <div class="field">
      <%= f.text_area :content %>
    </div>
  </div>
  <div class="row">
    <%= f.label :show %>
    <div class="field">
      <%= f.check_box :show %>
    </div>
  </div>
  <div class="actions">
    <%= link_to 'cancel', admin_jobs_path %>
    <%= f.submit class: "btn" %>
  </div>
<% end %>
