  <h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.title %></td>
    <td><%= job.content %></td>
    <td><%= link_to 'Show', admin_job_path(job)  %></td>
    <td><%= link_to 'Edit', edit_admin_job_path(job)  %></td>
    <td><%= link_to 'Destroy', admin_job_path(job), :method => :delete, :confirm => "Are you sure you want to delete this Job?"  %></td>
  </tr>
<% end %>
</table>
  <%= link_to 'New', new_admin_job_path %>

<br />
