<% content_for :title do %>
  Factlink &mdash; helps people find credibility in the world's information
<% end %>

<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "admin" %>
<% end %>

<% content_for :more_specific_page do %>

  <div id="container" class="container">

    <%= render 'home/notifications', notice: notice, alert: alert %>

      <%= yield %>
  </div>


  <!-- JavaScript at the bottom for fast page loading -->
  <%= javascript_include_tag "frontend" %>
  <%= yield :javascript %>
<% end %>

<%= render template: 'layouts/more_general' %>