<% content_for :title do %>
  Factlink &mdash; Because the web needs what you know
<% end %>

<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "admin" %>
<% end %>

<% content_for :main do %>
  <div id="container" class="container fixed">
    <section id="full-column">
      <%= render 'home/notifications', notice: notice, alert: alert %>

      <section id="main-wrapper">
        <%= yield %>
      </section>
    </section>
  </div>
<% end %>
<% content_for :specific_javascript do %>
  <!-- JavaScript at the bottom for fast page loading -->
  <%= javascript_include_tag "admin" %>
  <%= yield :javascript %>
<% end %>

<%= render template: 'layouts/base', locals: {
  fixed_topbar: true,
  show_footer: false
} %>
