<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield :title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="<%= image_path("factlink-logo.png") %>">

    <%= stylesheet_link_tag "base" %>

    <%= yield :specific_stylesheet_tag %>

    <%= yield :stylesheets %>

    <% if can_haz :pink_feedback_button %>
      <!-- Speciaal voor jou Joel! -->
      <style>
        #feedback_button {background: #e6007e;}
        #notifications span.unread.active {background: #e6007e; text-shadow: rgba(0,0,0,0.25);}
      </style>
    <% end %>

    <link rel="chrome-webstore-item"
      href="https://chrome.google.com/webstore/detail/<%=FactlinkUI::Application.config.chrome_extension_id%>">

    <%= javascript_include_tag "modernizr-loader" %>
    <%= csrf_meta_tag %>
  </head>
  <body class="factlink-site controller_<%= controller.controller_name -%> action_<%= controller.action_name -%><%= params[:show_sign_in] ? " show_sign_in" : "" %><%= " show_sign_up" if defined? show_sign_up and show_sign_up %><%= " show_footer" if defined? show_footer and show_footer %>">
    <%= render 'feedback/button' unless defined? dont_render_feedback %>

    <%= render 'home/browser_support_message' %>
    <%= yield :modal %>

    <%= yield :sign_in_bar %>

    <%= render "base/topbar", fixed_topbar: fixed_topbar %>

    <%= yield :main %>

    <% if defined? show_footer and show_footer %>
      <%= render "base/footer", show_sign_up: show_sign_up %>
    <% end %>

    <%= render "feedback/frame" %>

    <%= javascript_include_tag "application" %>
    <%= render 'snippets/raven_js' %>
    
    <%= yield :specific_javascript %>
    <%= render 'snippets/google_analytics' %>
  </body>
</html>
