<% content_for :header do %>
<% end %>

<% content_for :left_column do %>
  <%= render "channels/channels", user: @user %>
<% end %>

<% content_for :left_column do %>
  <div class="related-users">
    <%= render("channels/related_users",
                 :related_users => @channel.related_users(:without=>[current_graph_user]).andand.map{|x| x.user },
                 :excluded_users => [@channel.andand.created_by.andand.user])
               %>
  </div>
  <% if false and @channel and not @channel.new? %>
    <div id="activity-listing">
      <%= render "channels/activity_list", channel: @channel %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <script>
    Channels.reset(<%= @user.graph_user.channels.map{|ch| Channels::SingleMenuItem.for(channel: ch,view: self,channel_user: @user) }.to_json.html_safe %>);

    <% if @channel && !@channel.new? %>
      window.currentChannel = Channels.get(<%= @channel.id %>);
    <% end %>

    <% if current_user %>
      window.currentUser = new User(<%= Users::User.for(user: current_user, view: self).to_json.html_safe %>);

      window.currentUser.setChannels(new OwnChannelCollection(<%= current_graph_user.channels.map{|ch| Channels::SingleMenuItem.for(channel: ch,view: self) }.to_json.html_safe %>));
    <% end %>

    var Router = new Workspace();

    Backbone.history.start({pushState:true, silent:true});

  </script>
  <%= load_mustache_templates %>
<% end %>

<% content_for :template do %>
  <%= load_js_template "user_block_tmpl",         "users/_user.html.mustache" %>
  <%= load_js_template "channel_li",              "channels/_single_menu_item.html.mustache" %>
  <%= load_js_template "channel_overview",        "channels/_channel.html.mustache" %>
  <%= load_js_template "subchannel_li",           "subchannels/_subchannel_item.html.mustache" %>
  <%= load_js_template "own_channels_collection", "channels/_own_channel_listing.html.mustache" %>
  <%= load_js_template "own_channel_li",          "channels/_own_channel.html.mustache" %>
  <%= load_js_template "fact_tmpl",               "facts/_fact.html.mustache" %>
  <%= load_js_template "fact_bubble_tmpl",        "facts/_fact_bubble.html.mustache" %>
  <%= load_js_template "fact_wheel_tmpl",         "facts/_fact_wheel.html.mustache" %>
  <%= load_js_template "facts_tmpl",              "channels/_facts.html.mustache" %>
<% end %>

<%= render :template => 'layouts/frontend' %>
