<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/client/css/modal.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
	<title>Factlink modal window</title>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	
	<% if Rails.env.development? %>
		<!-- Vogue auto reloads CSS on save - great for development! -->
		<script src="http://localhost:8001/vogue-client.js" type="text/javascript"></script>
	<% end %>
	
	<%= javascript_include_tag "rails" %>
	
	<%= yield :javascript %>

	
	<%= csrf_meta_tag %>
</head>
<body>

	<div class="fl-modal">
		<div class="fl-container">
			
			<%= image_tag "icons/close-button.png", :class => "close-button", :style => "position: absolute; top: -2px; left: 410px;", :onclick => "parent.remote.hideFrame(); parent.remote.hideOverlay();" %>
			
			<%= yield %>

		</div>
	</div>

</body>
</html>