<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bubble.css">
	<title><%= "Factlink: \"#{@title}\"" || "Factlink modal window" %></title>
	
	<style type="text/css">
	  html, body{ 
	    width: 100%;
	    height: 100%;
	  }
	</style>
	
	<%= csrf_meta_tag %>
</head>
<body>

	<div class="modal">			
			<span class="close" onclick="parent.remote.hide();"></span>
			<%= yield %>
	</div>
  
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.6.2.min.js"><\/script>')</script>

	<%= javascript_include_tag "rails" %>

  <script src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script> 

	<script src="/client/js/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="/javascripts/jquery.jeditable.mini.js"></script>

  <script type="text/javascript">
    $(".modal").draggable();
    $( document ).bind('click', function(e) {
      if( $(e.target).is('body') )
        parent.remote.hide();
    });
  </script>

	<%= yield :javascript %>
	
</body>
</html>