<!DOCTYPE html>
<html>
<head>
  <%= render "base/open_graph" %>
  <%= stylesheet_link_tag "base" %>
  <%= stylesheet_link_tag "client" %>

  <title>Factlink modal window</title>

  <style type="text/css">
    html, body{
      width: 100%;
      height: 100%;
      background: transparent;
    }
  </style>

  <%= csrf_meta_tag %>
  <%= inject_special_test_code %>
</head>
<body class="client">
  <div id='alerts'></div>

  <% if can_haz :new_discussion_page %>
    <div class="js-client-modal-region client-modal-region new-discussion-page"><%= yield %></div>
  <% else %>
    <div class="js-client-modal-region client-modal-region"><%= yield %></div>
  <% end %>

  <div id='modal_region'></div>
  <%= javascript_include_base %>
  <%= javascript_include_extended %>
  <%= render 'snippets/raven_js' %>

  <script type="text/javascript">
    Factlink.allowFeatures(<%= current_ability.feature_toggles.to_s.html_safe %>);
    Factlink.setSignedIn(<%= (!!current_ability.signed_in?).to_s.html_safe %>);

    FactlinkApp.startAsClient();
    <% if params[:guided] == "true" %>
      // turn on guided globally in this backbone session
      FactlinkApp.guided = true;
    <% else %>
      FactlinkApp.guided = false;
    <% end %>
    <%= render 'backbone/currentUser' %>
    Backbone.history.start({pushState: Modernizr.history});
  </script>

  <%= yield :javascript %>

  <script type="text/javascript">
    $( document ).on('click', function(e) {
      if( $(e.target).is('html, body, .js-client-html-close') ) {
        if (parent.remote) {
          parent.remote.hide();
        }

        if ($(e.target).is('.js-client-html-close')) mp_track("Modal: Close button");
      }
    });
  </script>

</body>
</html>
