<% content_for :title do %>
  Factlink &mdash; helps people find credibility in the world's information
<% end %>

<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "frontend" %>
<% end %>


<% content_for :more_specific_page do %>
  <div id="body">
    <div id="container" class="container">

      <%= render 'home/notifications', notice: notice, alert: alert %>

      <div class="row" id="main">
        <section id="left-column" class="span3">
          <% if content_for?(:left_column) %>
            <%= yield(:left_column) %>
          <% else %>
            &nbsp;
          <% end %>
        </section>

        <section id="main-column" class="span9" role="main">
          <section id="main-wrapper">
            <%= yield :main_column %>
            <%= yield %>
          </section>
        </section>
      </div>
    </div>
  </div>
  <div id="first-tour-modal" class="modal hide fade tour-modal"></div>

  <%= render 'home/footer' %>

  <%= load_mustache_templates %>

  <%= javascript_include_tag "frontend" %>

  <%= render "home/twipsy" %>

  <script>
    <% if current_user %>
      window.currentUser = new User(<%= Users::User.for(user: current_user, view: self).to_json.html_safe %>);

      window.currentUser.setChannels(new OwnChannelCollection(<%= current_graph_user.channels.map{|ch| Channels::Channel.for(channel: ch,view: self) }.to_json.html_safe %>));

    <% end %>

    <% use_backbone = current_user %>

    <% if use_backbone %>

      var Router = new Workspace({username: "<%= @user.nil? ? (current_user.nil? ? "" : current_user.username) : @user.username %>"});
    <% end %>

  </script>

  <%= yield :javascript %>

  <script>
    $(function() {
      <% if use_backbone %>
        Router.navigate(window.location.pathname);
        Backbone.history.loadUrl( Backbone.history.fragment );
      <% end %>
    });
  </script>

<% end %>

<%= render template: 'layouts/more_general' %>
