<% unless defined? wide %>
  <% wide = false %>
<% end %>

<% content_for :title do %>
  Factlink &mdash; Because the web needs what you know
<% end %>

<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "frontend" %>
<% end %>


<% content_for :main do %>
    <div class="application-background">
      <div class="left"></div>
      <div class="right"></div>
      <div class="container"></div>
    </div>

    <div id="container" class="container<%= " fixed" unless defined? not_fixed and not_fixed %>">
      <section id="left-column">
        <% if content_for?(:left_column) %>
          <%= yield(:left_column) %>
        <% else %>
          &nbsp;
        <% end %>
      </section>

      <section id="main-column">
        <%= render 'home/notifications', notice: notice, alert: alert %>

        <section id="main-wrapper">
          <%= yield :main_column %>
          <%= yield %>
        </section>
      </section>
    </div>
    <div id="modal_region"></div>
<% end %>

<% content_for :specific_javascript do %>
  <%= javascript_include_tag "frontend" %>

  <script>
    <%= render 'backbone/currentUser' %>


    Factlink.allowFeatures(<%= current_ability.feature_toggles.to_s.html_safe %>);

    <% use_backbone = current_user %>
    <% if use_backbone %>
      FactlinkApp.startAsSite();
    <% end %>

  </script>

  <%= yield :javascript %>

<% end %>

<%= render template: 'layouts/base', locals: {
  fixed_topbar: true, wide: wide
} %>
