<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Factlink &mdash; helps people find credibility in the world's information</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <%= stylesheet_link_tag "frontend" %>

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <!-- end CSS-->


  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <%= javascript_include_tag "modernizr-loader" %>
  <%= csrf_meta_tag %>

</head>

<body class="factlink-site">

  <%= render 'home/topbar' %>

  <div id="container" class="container">

    <%= render 'home/notifications', notice: notice, alert: alert %>

    <section id="header" class="span-24 append-bottom">
      <%= yield :header %>
    </section>

    <section id="left-column" class="prepend-2 span-5 side-column">
      <% if content_for?(:left_column) %>
        <%= yield(:left_column) %>
      <% else %>
        &nbsp;
      <% end %>
    </section>

    <section id="main-column" class="span-16" role="main">
      <section id="main-wrapper">
        <%= yield :main_column %>
        <%= yield %>
      </section>
    </section>

    <div id="feedback">
      <a href="mailto:feedback@factlink.com?Subject=Feedback Factlink pre-alpha">Feedback</a>
    </div>
  </div>

  <%= load_mustache_templates %>

  <%= javascript_include_tag "frontend" %>

  <script>
    $(".fact-block").factlink();
    $(".alert-message").alert();

    $('.topbar').dropdown();
    $('.bookmarklet').twipsy({placement:"below",offset:5});
  </script>

  <% if user_signed_in? %>
    <% if (current_user.andand.sign_in_count < 10) %>
      <%= render "home/twipsy" %>
    <% end %>
  <% end %>

  <script>
  $('.take-the-tour').live('click', function() {
    $('#first-tour-modal').remove();

    // Load the tour
    $.ajax({
      url: "<%= tour_path %>",
      dataType: "html",
      success: function(data) {
        $('body').append(data);
        initTourModal();
      },
      error: function(data) {
        console.log('Error while loading the tour.');
      }
    });
  });
  </script>

  <%= yield :javascript %>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
