<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Factlink &mdash; helps people find credibility in the world's information</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/bubble.css">
	<link rel="stylesheet" href="/stylesheets/grid.css">
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/javascripts/modernizr-2.0.6.min.js"></script>
  <%= csrf_meta_tag %>

</head>

<body class="factlink-site">

	<div id="top-bar">
		<div class="container">

			<div id="factlink-logo" class="span-4">
				<a href="/"><%= image_tag('factlink-logo-inverse.png', :height => 20) %></a>
			</div>

			<div class="span-14">
				<%= render :partial => "home/snippets/fact_search" %>
			</div>
			
			<div class="span-6 last">
					<%= render :partial => "users/account_block" %>
			</div>

		</div>
	</div>


  <div id="container" class="container">
	
		<!-- notification snippet -->
		<div id="application-notification">
			<% if notice %>
				<p class="notice"><%= notice %> <%= close_notifications_button %></p>
			<% end %>
			<% if alert %>
				<p class="alert"><%= alert %> <%= close_notifications_button %></p>
		<% end %>
		</div>
	
		<!-- header snippet -->
    <section id="header" class="span-24 append-bottom">
			<%= yield :header %>
    </section>


		<!-- left column -->
		<section id="left-column" class="span-4">
			<%= yield :left_column %>
		</section>

		<!-- main content -->
		<section id="main-column" class="span-14" role="main">
			<section id="main-wrapper">
			<%= yield :main_column %>
			</section>
		</section>

		<!-- right column 
		<section id="right-column" class="span-6 last">

		</section>
    -->

    <!-- <footer>
    </footer> -->
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.6.2.min.js"><\/script>')</script>

	<%= javascript_include_tag "rails" %>

	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  <script src="/javascripts/jquery.hoverIntent.minified.js"></script>
  <script src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="/javascripts/disablewith.js"></script>
  <script src="/javascripts/raphael-min.js"></script>
  <script src="/javascripts/jquery.tipsy.js"></script>
  <script src="/javascripts/jquery.factlink.js"></script>

	
	<script>
		// get the facts
		function getFacts(url) {
			$.ajax({
			  url: url,
				dataType: "script",
			  success: function(){
			    $(this).closest('li').addClass("active");
			  }
			});
		}
				
		$('.follow-channel').bind('click', function() {
			$.ajax({
			  url: $(this).data('follow-url'),
				dataType: "script",
			  success: function(){
					console.log("Succes");
			  }
			});

			return false;
		});

		$(".fact-block").factlink();

	</script>

	<%= yield :script %>	
	
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
