<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "frontend" %>
<% end %>


<% content_for :main do %>
  <div class="container fixed">
    <section id="main-column">
      <%= render 'flash/notification_center', notice: notice, alert: alert %>

      <section id="main-wrapper">
        <%= yield %>
      </section>
    </section>
  </div>
  <div id="modal_region"></div>
  <div id="js-facebook-renewal-region"></div>
  <div class="js-discussion-modal-region"></div>
<% end %>

<% content_for :specific_javascript do %>
  <%= javascript_include_extended %>

  <script>
    <%= render 'backbone/currentUser' %>

    Factlink.allowFeatures(<%= current_ability.feature_toggles.to_json.html_safe %>);
    Factlink.setSignedIn(<%= current_ability.signed_in?.to_json.html_safe %>);

    FactlinkApp.start({factlinkAppMode: FactlinkAppMode.coreInSite});
  </script>

  <%= yield :javascript %>

<% end %>

<%= render template: 'layouts/base', locals: {
  fixed_topbar: true
} %>
