<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "general" %>
<% end %>

<% content_for :more_specific_page do %>
    <div id="body">
      <div class="container">
        <div class="row">
          <div id="menu" class="span4">
            <ul>
              <%= yield :menu_items %>
            </ul>
          </div>

          <div id="body_text" class="span8">
            <%= yield :body_text %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'home/footer' %>

    <!-- JavaScript at the bottom for fast page loading -->

    <%= yield :template %>

    <%= javascript_include_tag "frontend" %>

    <script>
      $("article.fact").each(function()  {
        $fact = $(this);
        $fact.data("wheel", new Wheel(this));
        $fact.data("wheel").init($fact.find(".wheel").get(0));
      });
    </script>

    <%= yield :javascript %>

<% end %>

<%= render template: 'layouts/more_general' %>
