<% content_for :title do %>
  Factlink &mdash; Because the web needs what you know
<% end %>
<% content_for :specific_stylesheet_tag do %>
  <%= stylesheet_link_tag "landing" %>
<% end %>

<% content_for :more_specific_page do %>
  <div id="body">
    <div class="container">
      <div class="row">
        <div class="span8">
          <div id="payoff">
            <%= yield :payoff %>
          </div>

          <div class="row">
            <div id="selling-points" class="span4">
            <%= yield :selling_points %>
          </div>

          <div id="movie" class="span4">
            <%= yield :movie %>
          </div>
        </div>
        </div>

        <div class="span4">
          <div id="signup">
            <%= yield :sign_up %>
          </div>
          <div id="top-facts">
            <%= yield :top_facts %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield :new_sign_up %>
  </div>

<% end %>

<% content_for :specific_javascript do %>
  <%= javascript_include_tag "landing" %>
  <%= yield :template %>
  <%= yield :javascript %>
<% end %>

<%= render template: 'layouts/more_general' %>
