<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "frontend" %>
<% end %>

<% content_for :main do %>
  <div class="container one-column-container">
    <%= render 'flash/simple', notice: notice, alert: alert %>

    <%= yield %>
  </div>
<% end %>

<% content_for :specific_javascript do %>
  <%= yield :javascript %>
<% end %>

<%= render template: "layouts/base", locals: {
  show_footer: false,
  show_sign_up: false
} %>
