<!DOCTYPE html>
<html>
  <head>
    <title>Factlink</title>
    <%= stylesheet_link_tag "popup" %>

    <%= javascript_include_tag "modernizr-loader" %>
    <%= csrf_meta_tag %>

  </head>
  <body>

    <div id="container">
      <div id="header" class="row-fluid">
        <div class="span3">
          <%= link_to image_tag("factlink_logo71x15.png"), root_path, { target: "_blank" } %>
        </div>

        <div class="span9 pull-right" style="text-align: right;">
          <% unless user_signed_in? %>
               <%= link_to "Login to Factlink", new_user_session_path, { target: "_blank" } %>
          <% else %>
            <label id="annotate_button">
              <input type="checkbox" name="annotate">
              Annotation mode
            </label>
          <% end %>
        </div>
        
      </div>
      <%= render 'home/notifications', notice: notice, alert: alert %>

      <div class="row-fluid">
        <div class="span12">
          <p>You can create Factlinks by selecting text and pressing the Factlink button above.</p>
        </div>
        
        <div class="span12" id="blacklisted">
          <h3>Blacklisted website</h3>
          <p>Unfortunately this website is blacklisted for our annotation tool. You cannot view Factlinks on this site. You can create Factlinks my selecting text and pressing the Factlink button.</p>
        </div>
        
        <div class="span12" id="error_loading_factlink">
          <h3>Error</h3>
          <p>Something went wrong while loading Factlink. Please try again later.</p>
        </div>
        
      </div>

      <%= yield %>
    </div>
  </body>

  <!-- JavaScript at the bottom for fast page loading -->

  <%= load_mustache_templates %>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <%= javascript_include_tag "popup" %>

  <%= yield :javascript %>
</html>
