<!DOCTYPE html>
<html>
  <head>
    <title>Factlink</title>
    <%= stylesheet_link_tag "style" %>
    
    <%= stylesheet_link_tag "frontend" %>
    <%= stylesheet_link_tag "grid" %>
    <%= stylesheet_link_tag "popup" %>
    
    <%= javascript_include_tag "modernizr-2.0.6.min" %>
  </head>
  <body>
    <div id="top-bar">
			<div class="span-6 last">
					<%= render "users/account_block", target: "_blank" %>
			</div>
			<%= render 'home/notifications', notice: notice, alert: alert %>
  	</div>
  	<div id="container">
  	  <%= yield %>
  	</div>
  </body>
</html>
