<% content_for :main do %>
  <div class="header">
    <div class="background">
      <%= image_tag "base/header/background.jpg", class: "stars" %>
      <%= image_tag "base/header/earth.png", class: "earth" %>
    </div>

    <div class="container">
      <%= yield :header %>
    </div>
  </div>

  <div class="content">
    <div class="container">
       <%= yield :content %>
    </div>
  </div>

  <div class="sign_up clearfix">
    <div class="arrow"></div>

    <div class="container sign_up_form">
      <h2>Sign up for the beta now</h2>

      <form action="">
        <input type="text" name="username" placeholder="Choose a username" class="text">
        <input type="text" name="email" placeholder="Email address" class="text">
        <input type="submit" name="submit" value="Reserve my username" class="btn btn-primary">
      </form>

      <span class="reserved">You will be placed on the priority waiting list, offered to you by Frankwatching.</span>
    </div>
  </div>
<% end %>

<%= render template: "layouts/base" %>
