<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "pages" %>
<% end %>

<% content_for :sign_in_bar do %>
  <%= render "base/sign_in_bar" %>
<% end %>

<% content_for :main do %>
  <div class="header">
    <div class="background">
      <%= image_tag "base/header/background.jpg", class: "stars" %>
      <%= image_tag "base/header/earth.png", class: "earth" %>
    </div>

    <div class="container">
      <%= yield :header %>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <% if content_for?(:left_column) %>
        <div class="row">
          <div class="span3">
            <%= yield :left_column %>
          </div>
          <div class="span9">
            <%= yield :content %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield :content %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/base", locals: {
  fixed_topbar: false,
  show_footer: true,
  show_sign_up: !current_user
} %>
