<% @edit = (action == :update) ? true : false %>

<%= form_for(:channel,
  html: { method: (action == :update) ? :put : :post, class: 'channel-form form-horizontal'},
  url: { action: action, username: params[:username] }) do |f| %>

  <div class="content-header">
    <% if @edit %>
      <h1>Edit your <%= t(:channel) %></h1>
      <div style="float: right; margin-top: -42px;"><%= link_to("Delete", channel_path(current_user.username, channel.id), 'data-disable-with' => "Deleting...", :confirm => "Are you sure you want to delete your channel \"#{channel}?\"", :method => :delete, :class => "btn btn-danger") %></div>
    <% else %>
      <h1>Create a new <%= t(:channel) %></h1>
    <% end %>
  </div>

  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>
      <ul>
      <% channel.errors.each do |key, value| %>
        <li><%= key.to_s %> <%= value.to_s %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="help-block">
    <%= t(:channels).titleize %> are there to keep your facts categorized and can be interesting for other users to follow.
  </p>

  <div class="control-group">
    <%= f.label "#{t(:channel).titleize} name", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, placeholder: "Politics, Cooking, Sports, ...", class: "input-xlarge", required: :required, tabindex: 1 %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to("Cancel",
          @edit ? channel_path(current_user.username, channel.id) : root_path,
          class: :btn,
          tabindex: 3) %>
    <%= button_tag( @edit ? "Apply" : "Create", 'data-disable-with' => (@edit ? "Applying..." : "Creating..."), :class => "btn btn-primary", tabindex: 2) %>
  </div>

<% end %>
