<% if related_users && related_users.count > 0 %>
  <h2><%= t(:related_users).capitalize %> for <%= topic.title %></h2>
<% else %>
  <h2><%= t(:interesting_users).capitalize %></h2>
  <% related_users = interesting_users_without( [current_user] + excluded_users, 5) %>
<% end %>

<% if related_users %>
  <ul>
    <% related_users.each do |user| %>
      <li class="user-block" onclick="document.location = '<%= user_profile_path(user.username) %>';">
        <div class="user-avatar">
           <%= image_tag(user.avatar_url(size: 32), width: 32, height: 32, alt: user.username) %>
        </div>

        <div class="wrapper">
          <h3><%= user.username %></h3>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
