<% jsmode ||= nil %>
<a href="<%=  jsmode ? "/\<%= username %\>/channels/\<%= channel.id %\>/facts".html_safe : facts_for_channel_path(channel.created_by.user.username, channel) %>">
	<span style="vertical-align:middle;">
	  <%= jsmode ? "\<%= channel.title %\>".html_safe : channel.title %>
	
		<% if jsmode %>
		  <%= "\<% if (channel.discontinued === true) { %\>(discontinued)\<% } %\>".html_safe %>
		<% else %>
		  <% if channel.discontinued == 'true' %>
			  (discontinued)
			<% end %>
		<% end %>
  
    (<%= jsmode ? "\<%= channel.facts.length %\>".html_safe : channel.facts.count %>)
  </span>
  <%= image_tag("ajax-loader.gif") %>
</a>
