<!-- header -->
<% content_for :header do %>
	<div class="span-6">
		<%= user_info_block(@user) %>
	</div>
<% end %>


<!-- left column -->
<% content_for :left_column do %>
	
	<%= user_channel_block(@user) %>
	<%= user_fact_block(@user) %>

<% end %>



<!-- main column -->
<% content_for :main_column do %>
	<div id="#main-column-content">
		
		<p id="notice"><%= notice %></p>

		<h3><%= @channel.title %></h3>
		
		<% if current_user %>
			<% if @channel.created_by == current_user.graph_user %>
				<%= link_to 'edit this channel', edit_channel_path(@user.username, @channel.id) %>
			<% end %>
		<% end %>
		
		
		<pre><%= @channel.description %></pre>

		<ul>
			
			<% unless @channel.facts.count > 0 %>
				<li>No facts for this channel...</li>
			<% else %>
				<% @channel.facts.to_a.each do |fact| %>
					<li><%= fact.displaystring %></li>
				<% end %>			
			<% end %>
			

		</ul>



		
	</div>
<% end %>