<li class="evidence_button<%=positive_active%>" data-action-url="<%= set_opinion_path(fact_relation.id,   :beliefs) %>"><%=positive_action%></li>
<li class="evidence_button<%=negative_active%>" data-action-url="<%= set_opinion_path(fact_relation.id,:disbeliefs) %>"><%=negative_action%></li>
