<%
if defined?(fact_relation) and fact_relation and not defined?(fact)
  fact = fact_relation.from_fact
end
%>
<% if defined?(modal) and modal %>
<article class="fact" data-fact-id="<%= fact.id %>" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact) %><% end %>">
	<% if defined?(fact_relation) and fact_relation %>
    <%= fact_relation.type.to_s %>
    <%= render :partial => "facts/partial/fact_wheel", :locals => { :fact => fact , :fact_relation => fact_relation }%>
  <% else %>
    <%= render :partial => "facts/partial/fact_wheel", :locals => { :fact => fact }%>
  <% end %>
	<header>
	  <% if fact.site.title and false # tempororily disabled title because the import does not support it yet %>
		  <span class="head"><%= fact.site.title %></span><br>
		<% end %>
		<span class="body">
		<a href="<%= fact.site.url %>"><%= fact.displaystring %></a>
		</span>
		<br>
		<% if true%>
		<sub>
		   <%= time_ago_in_words(fact.created_at) %> ago by
		   <%= link_to("#{fact.created_by.user.username} (#{fact.created_by.authority})", user_profile_path(fact.created_by.user.username)) %>
		   found on <a href="<%= fact.site.url %>"><%= fact.pretty_url %></a>
		</sub>
		<% end %>
		<% if user_signed_in? %>				
		  <div class="actions">
		    <ul>
			    <li><a href="#" class="add-to-channel"><%= image_tag("bookmark.gif") %>Channels</a></li>
			    <% if fact.created_by == current_user.graph_user %>
			      <li><%= link_to(image_tag('trash.gif') + "Delete", fact_path(fact.id), :confirm => "You will delete this Factlink. Are you sure?", :method => :delete, :remote => true ) %></li>
			    <% end %>			
		    </ul>	
		  </div>
		  <% if true %>
		  <%= render :partial => "/facts/partial/channel_listing", :locals => { :fact => fact } %>
      <% end %>
		  <% if defined?(add_to_fact) and add_to_fact %>
		    <div style="float:right; display:block;">
			    <%= link_to('add as supporting', add_supporting_evidence_path(add_to_fact.id, fact.id), :remote => true )%>
			    <%= link_to('add as weakening',	 add_weakening_evidence_path(add_to_fact.id, fact.id),  :remote => true )%>
		    </div>
      <% end %>
	  <% end %>				

	</header>
</article>
<% end %>