<div class="wheel">
  <div class="opinion" data-value="<%= fact.get_opinion.as_percentages[:believe][:percentage] %>" data-opinion="beliefs"  data-opinions="believe" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact).to_s == "beliefs" %><% end %>" data-color="#95C11F"></div>
  <div class="opinion" data-value="<%= fact.get_opinion.as_percentages[:disbelieve][:percentage] %>" data-opinion="disbeliefs"  data-opinions="disbelieve" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact).to_s == "disbeliefs" %><% end %>" data-color="#E94E1B"></div>
	<div class="opinion" data-value="<%= fact.get_opinion.as_percentages[:doubt][:percentage] %>" data-opinion="doubts"  data-opinions="doubt" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact).to_s == "doubts" %><% end %>" data-color="#36A9E1"></div>

  <div class="authority"><%= image_tag("brains.png", "alt" => "Brain Cycles") %> <span><%= fact.get_opinion.as_percentages[:authority] %></span></div>		
</div>

<div class="beliefs-box opinion-box float-box"><span class="opinion-type">believe</span><br> 
  <span class="percentage"><%= fact.get_opinion.as_percentages[:believe][:percentage] %>%</span> 
  <%= render :partial => "/facts/partial/users_popup", :locals => {:opinion => fact.opiniated(:beliefs)} %>
</div>
<div class="doubts-box opinion-box float-box">
  <span class="opinion-type">doubt</span>
  <span class="percentage"><%= fact.get_opinion.as_percentages[:doubt][:percentage] %>%</span> 
  <%= render :partial => "/facts/partial/users_popup", :locals => {:opinion => fact.opiniated(:doubts)} %>
</div>

<div class="disbeliefs-box opinion-box float-box"> 
	<span class="opinion-type">disbelieve</span><br> 
	<span class="percentage"><%= fact.get_opinion.as_percentages[:disbelieve][:percentage] %>%</span> 
  <%= render :partial => "/facts/partial/users_popup", :locals => {:opinion => fact.opiniated(:disbeliefs)} %>
</div>