<%
  if defined?(fact_relation) and fact_relation and not defined?(fact)
  fact = fact_relation.from_fact
  end
  if defined?(fact_relation) and fact_relation
%>
  <%= render :partial => "facts/partial/evidence_actions", :locals => { :fact => fact , :fact_relation => fact_relation } %>
<% elsif defined?(add_to_fact) and add_to_fact %>
  <%=  render :partial => "facts/partial/evidence_actions", :locals => { :fact => fact , :add_to_fact => add_to_fact } %>
<% end %>

<article class="fact" data-fact-id="<%= fact.id %>" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact) %><% end %>">
	<% if defined?(fact_relation) and fact_relation %>
    <!-- <%= fact_relation.type.to_s %> -->
    <%= render :partial => "facts/partial/fact_wheel", :locals => { :fact => fact , :fact_relation => fact_relation }%>
  <% else %>
    <%= render :partial => "facts/partial/fact_wheel", :locals => { :fact => fact }%>
  <% end %>
	<header>

	  <span id="title-<%= fact.id %>" class="head<%= editable_title(fact) %>"><%= fact.data.title %></span>

		<span class="body">
			<a href="<%= fact.site.url %>"<% if defined?(modal) and modal %> target="_blank"<% end %>><%= fact.data.displaystring %></a>
      <br><sub>
          <%= link_to("#{h fact.pretty_url}", fact.site.url, :target => "_top") %>
		    </sub>
    </span>
		<% if user_signed_in? %>				
		  <div class="actions">
		    <ul>
			    <li><a href="#" class="add-to-channel"><%= image_tag("bookmark.gif") %>Channels</a></li>
			    <% if fact.created_by == current_user.graph_user %>
			      <li><%= link_to(image_tag('trash.gif') + "Delete", fact_path(fact.id), :confirm => "You will delete this Factlink. Are you sure?", :method => :delete, :remote => true ) %></li>
			    <% end %>			
		    </ul>	
		  </div>
		  <%= render :partial => "/facts/partial/channel_listing", :locals => { :fact => fact } %>
	  <% end %>				

	</header>
</article>

<%= content_for :extra_javascript do %>

	<script>
	$('.edit').editable('<%= update_title_path %>', {
		indicator : 'Saving...',
		tooltip		: 'You can edit this title to place the fact in the correct context.'
	});
	</script>
	
<% end %>
