<% view = FactsHelper::FactBubbleView.new(fact,current_user) %>

<article class="fact" data-fact-id="<%= fact.id %>" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact) %><% end %>">
  <%= (render "facts/fact_wheel", :fact => fact).html_safe %>
	<header>

	  <span id="title-<%= fact.id %>" class="head<%= view.editable_title_class %>"><%= fact.data.title %></span>

		<span class="body">
			<%= view.link %><br>
    </span>
    <sub>
      <%= view.scroll_to_link %>
    </sub>
		<% if user_signed_in? %>				
		  <div class="actions">
		    <ul>
			    <li><a href="#" class="add-to-channel"><img src="/images/bookmark.gif">Channels</a></li>
			    <% if view.i_am_fact_owner %>
			      <li><%= view.delete_link %></li>
			    <% end %>			
		    </ul>
		  </div>
		  <%= render "/facts/partial/channel_listing", { :fact => fact } %>
	  <% end %>				

	</header>
</article>
