<% view = FactsHelper::FactWheelView.new(fact,current_user) %>

<div class="wheel">
  <div class="authority" data-authority="<%= view.authority %>"></div>
  <% view.opinions.each do |op| %>
    <div class="opinion" data-value="<%= op[:percentage] %>" data-opinion="<%= op[:type] %>s"  data-opinions="<%= op[:type] %>"
      <% if user_signed_in? %>data-user-opinion="<%= op[:is_current_opinion] %>"<% end %>
      data-color="<%= op[:color] %>"></div>
  <% end %>

</div>

<div class="believes-box opinion-box float-box">
  <span class="opinion-type">believers</span>
  <br>
  <span class="percentage"><%= view.believe_percentage %>%</span> 
  <%= (render "/facts/users_popup", :graph_users => fact.opiniated(:believes).to_a.take(6)).html_safe %>
</div>

<div class="doubts-box opinion-box float-box">
  <span class="opinion-type">doubters</span>
  <br>
  <span class="percentage"><%= view.doubt_percentage %>%</span> 
  <%= (render "/facts/users_popup", :graph_users => fact.opiniated(:doubts).to_a.take(6)).html_safe %>
</div>

<div class="disbelieves-box opinion-box float-box">
  <span class="opinion-type">disbelievers</span>
  <br> 
  <span class="percentage"><%= view.disbelieve_percentage %>%</span> 
  <%= (render "/facts/users_popup", :graph_users => fact.opiniated(:disbelieves).to_a.take(6)).html_safe %>
</div>
