<article class="fact" data-fact-id="<%= fact.id %>" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact) %><% end %>">
  <%= render :partial => "facts/partial/fact_wheel", :locals => { :fact => fact }%>
	<header>

	  <span id="title-<%= fact.id %>" class="head<%= editable_title(fact) %>"><%= fact.data.title %></span>

		<span class="body">
			<a href="<%= fact.site.url %>"<% if defined?(modal) and modal %> target="_blank"<% end %>><%= h fact.data.displaystring %></a>
      <br>
			<sub>
      	<%= link_to("#{h fact.pretty_url}", proxy_scroll_url(fact), :target => "_blank") %>
		  </sub>
    </span>
    <sub>
      <%= link_to("#{h fact.pretty_url}", fact.site.url, :target => "_top") %>
		</sub>
		<% if user_signed_in? %>				
		  <div class="actions">
		    <ul>
			    <li><a href="#" class="add-to-channel"><%= image_tag("bookmark.gif") %>Channels</a></li>
			    <% if fact.created_by == current_user.graph_user %>
			      <li><%= link_to(image_tag('trash.gif') + "Delete", fact_path(fact.id), :confirm => "You will delete this Factlink. Are you sure?", :method => :delete, :remote => true ) %></li>
			    <% end %>			
		    </ul>	
		  </div>
		  <%= render :partial => "/facts/partial/channel_listing", :locals => { :fact => fact } %>
	  <% end %>				

	</header>
</article>
