<% view = FactsHelper::FactWheelView.new(fact,current_user) %>

<div class="wheel">
  <div class="authority" data-authority="<%= view.authority %>"></div>
  <% view.opinions.each do |op| %>
    <div class="opinion" data-value="<%= op[:percentage] %>" data-opinion="<%= op[:type] %>s" data-opinions="<%= op[:type] %>"
      <% if user_signed_in? %>data-user-opinion="<%= op[:is_current_opinion] %>"<% end %>
      data-color="<%= op[:color] %>"></div>
  <% end %>

</div>

<% view.opinions.each do |op| %>
  <div class="<%=op[:type]%>s-box opinion-box float-box">
    <span class="opinion-type"><%=op[:groupname]%></span>
    <br>
    <span class="percentage"><%= op[:percentage] %>%</span> 
    <%= (render "/facts/users_popup", :graph_users => fact.opiniated(op[:symbol]).to_a.take(6)).html_safe %>
  </div>
<% end%>

