<%= form_for(@factlink, :url => { :action => "update" }) do |f| %>
  <% if @factlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factlink.errors.count, "error") %> prohibited this factlink_top from being saved:</h2>

      <ul>
      <% @factlink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<script type="text/javascript">
		parent.remote.show();
		parent.remote.highlightNewFactlink("<%= @factlink.displaystring %>", "<%= @factlink.id %>");
	</script>

	<div class="fl-stats">
		<ul class="fl-stats-bar">
			<li class="fl-bar-disbelieve" style="height: <%= @factlink.percentage_score_disbelieve %>%;">></li>
			<li class="fl-bar-doubt" style="height: <%= @factlink.percentage_score_uncertain %>%;"></li>
			<li class="fl-bar-believe" style="height: <%= @factlink.percentage_score_believe %>%;"></li>
		</ul>
		<span class="fl-stats-count"><%= @factlink.brain_cycles %></span>
	</div>

	<div class="fl-factlink">
		<h1>&#8220;<%= @factlink.displaystring %>&#8221;</h1>
	</div>


	<div class="fl-clear"></div>


	<div class="fl-edit-tags">
		<%= f.label "Tags" %>
		<%= f.text_field :tags, :placeholder => "Example, longer example, ...", :style => "width: 340px;" %>
	</div>
	
  <div class="actions" style="float: right; padding: 10px; display: block;">
    <%= f.submit "Update this Factlink" %> or <%= link_to("go back", fact_path(@factlink), :style => "color: inherit;") %>
  </div>


<% end %>

	<div class="fl-clear"></div>

	<pre style="text-align: center;"><span style="font-size: 0.75em;">alpha development version 0.0481</span></pre>
	<br/>
