<div class="fl-users fl-popup">

<%
	# Wohoo, this is not nice :D Logic in template, oh yeah.
	# But works for now.
	believers 		= fact_relation.opiniated(:beliefs)
	doubters 			= fact_relation.opiniated(:doubts)
	disbelievers 	= fact_relation.opiniated(:disbeliefs)

	total_size = believers.size + doubters.size + disbelievers.size
%>
	<div class="fl-filter-bar">
		<ul>
			<li class="active"><a onclick="apply_filter('*', $(this));"><span>all (<%= total_size %>)</span></a></li>
			<li><a id="<%= fact_relation.id %>" onclick="apply_filter('.believers', $(this));"><span>believers (<%= believers.size %>)</span></a></li>
			<li><a onclick="apply_filter('.doubters', $(this));"><span>doubters (<%= doubters.size %>)</span></a></li>
			<li><a onclick="apply_filter('.disbelievers', $(this));"><span>disbelievers (<%= disbelievers.size %>)</span></a></li>
		</ul>
	</div>

	<div class="fl-scroll-pane">

		<ol id="fl-users">
			
			<% unless total_size > 0 %>

				<div class="center" style="padding-top: 48px; color: #fff; font-weight: 400; font-size: 1.1em; text-shadow: 0px 1px 0px #444;">
					<span>There are no users with an opinion on this fact.</span>
				</div>

			<% else %>
			
				<% believers.each do |believer| %>
					<li class="believers"><span class="believer tag">believes</span> <%= link_to(believer.username, user_profile_path(believer.username), :target => "_blank") %> <span style="font-size: 0.8em; float: right;">(<%= believer.authority %>)</span></li>
				<% end %>

				<% doubters.each do |doubter| %>
					<li class="doubters"><span class="doubter tag">doubts</span> <%= link_to(doubter.username, user_profile_path(doubter.username), :target => "_blank") %> <span style="font-size: 0.8em; float: right;">(<%= doubter.authority %>)</span></li>
				<% end %>

				<% disbelievers.each do |disbeliever| %>
					<li class="disbelievers"><span class="disbeliever tag">disbelieves</span> <%= link_to(disbeliever.username, user_profile_path(disbeliever.username), :target => "_blank") %> <span style="font-size: 0.8em; float: right;">(<%= disbeliever.authority %>)</span></li>
				<% end %>

			<% end %>
		</ol>
	</div>

</div>