	<li data-score="<%= fact_relation.percentage %>" id="fl-source-<%= fact_relation.id %>" class="<%= fact_relation.type %>">
  <div class="container">
	
		<% if user_signed_in? %>
      <img class="arrow" src="/images/client/source-more-arrow.png">
		<% end %>

		<%= fl_source_stats(fact_relation) %>

  	<div class="fl-source-info">

    	<h2 class="fl-source">&#8220;<%= fact_relation.get_from_fact.displaystring %>&#8221;</h2>

    	<sub>
    		<span class="fl-source-created"><%= time_ago_in_words(fact_relation.get_from_fact.created_at) %> ago by <%= link_to("#{fact_relation.get_from_fact.created_by.username} (#{fact_relation.get_from_fact.created_by.authority})", user_profile_path(fact_relation.get_from_fact.created_by.username), :target => "_blank") %></span>
    		<% if fact_relation.get_from_fact.site %>
    			<span class="fl-source-found">found on <a href="<%= fact_relation.get_from_fact.site.url %>" target="_blank"><%= truncate(fact_relation.get_from_fact.pretty_url, :length => 25) %></a></span>
    		<% else %>
    			<span class="fl-source-found">found on <a href="<%= fact_relation.get_from_fact.url %>" target="_blank"><%= truncate(fact_relation.get_from_fact.pretty_url, :length => 25) %></a></span>
    		<% end %>
    	</sub>

  		<div class="fl-clear"></div>
  	</div>

  	<div class="fl-clear"></div>
  </div>
  
		
	<%= fact_relation_interacting_users(fact_relation) %>


  <div class="fl-choices fl-popup">			
		<div class="fl-relevance-container fl-fact-dialog">
		  <h2 class="from_fact">&#8220;<%= fact_relation.get_from_fact.displaystring %>&#8221;</h2>
		  <% if fact_relation.type.to_sym == :supporting %>
        <span class="opinion">supports:</span>
      <% else %>
        <span class="opinion">weakens:</span>
		  <% end %>
		  <h2 class="to_fact">&#8220;<%= fact_relation.get_to_fact.displaystring %>&#8221;</h2>
		  
			<% if user_signed_in? %>
			<div class="fl-relevance-toggle-buttons">
				<%= fact_relation_relevance_options(fact_relation) %>
			</div>
			<% end %>
    </div>
    
		<div class="fl-opinion-container fl-fact-dialog">
		  <h2 class="from_fact">&#8220;<%= fact_relation.get_from_fact.displaystring %>&#8221;</h2>
		  <% if user_signed_in? %>
			<div class="fl-opinion-toggle-buttons">
				<%= render :partial => 'facts/partial/opinion_options', :locals => { :fact_relation => fact_relation } %>
			</div>
			<% end %>			
		</div>
		
		<% unless user_signed_in? %>
		<div style="padding: 4px 0px 4px 0px;">
			please sign in to add your opinion
		</div>
		<% end %>		
	</div>
</li>