<%= form_for(User.new, :as => :user, :url => registration_path(:user), remote: true, html: { id: form_id, novalidate: "novalidate" }) do |f| %>

  <%= f.text_field :full_name, placeholder: "Full name",
    class:"text", id: "#{form_id}_user_full_name" %>
  <%= f.email_field :email, placeholder: "Email address",
    class:"text", id: "#{form_id}_user_email" %>
  <%= f.hidden_field :registration_code,
    id: "#{form_id}_user_registration_code", value: @code %>

  <%= f.submit "Create account", class: "button button-home", 'data-disable-with' => "Creating..." %>
<% end %>
<p class="privacy-notice">By creating an account, I accept the <%= link_to 'Terms of Service', pages_path('terms-of-service'), target: '_blank' %> and <%= link_to 'Privacy Policy', pages_path('privacy'), target: '_blank' %>.</p>
