<h1>Global feature tokkels</h1>

<%= form_tag admin_global_feature_toggles_path, method: 'PUT' do %>

  <% Ability::FEATURES.each do |feature| %>

    <%# check_box_tag 'name', value, checked, options %>

    <label class='checkbox'>
      <%= check_box_tag "features[#{feature}]", true, false, class: 'checkbox' %>
      <%= h feature %>
    </label>
<!--
    <label class='checkbox'>
      <%= check_box_tag "features[can_see_hackerone]", true, false, class: 'checkbox' %>
      Can see HackerOne
    </label>
 -->
  <% end %>
  <%= submit_tag 'Save', class: 'btn' %>
<% end %>
