<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle">You have been unsubscribed from <%= t(@type, scope: 'mail_subscriptions') %> emails</h2>
<% end %>

<% content_for :email_body do %>

  <p align="center"><%= link_to 'Subscribe again', subscribe_url(@user.user_notification.notification_settings_edit_token, @type), class: 'button' %></p>

  <p align="center"><%= link_to 'Unsubscribe from all emails', unsubscribe_url(@user.user_notification.notification_settings_edit_token, :all) %></p>

<% end %>

<%= render template: "layouts/email" %>
