<div class="footer">
  <ul class="footer-inner">
    <%= footer_item "In your browser", in_your_browser_path %>
    <%= footer_item "On your site", on_your_site_path %>
    <%= footer_item "About us", about_path %>
    <%= footer_item "Jobs", jobs_path %>
    <%= footer_item "Blog", blog_index_path %>
    <%= footer_item "Privacy", privacy_path %>
    <%= footer_item "Terms of Service", terms_of_service_path %>
    <li class="footer-item footer-copyright">
      &copy; 2011-<%= DateTime.now.year %> Factlink
    </li>
  </ul>
</div>
