<% content_for :specific_javascript do %>
  <script>
    function connected(service_name){
      $('span.connect-buttons.'+service_name).hide();
      $('span.disconnect-buttons.'+service_name).show();
    }

    document.addEventListener('authorized', function (e) {
      if (e.detail === '<%= service_name %>'){
        connected('<%= service_name %>');
      }
    });
  </script>
<% end %>

<% connected = (not current_user.id_for_service(service_name).nil?) %>
<div class="control-group">
  <%= f.label service_name, class: "control-label" %>
  <div class="controls">

    <span class="social-services-buttons">
      <span class="disconnect-buttons <%= service_name %>" <% if not connected %> style="display: none;"<% end %>>
        <span class="connected">
          <%= link_to("/auth/#{service_name}/deauthorize", :method => :delete, class: ["button", "disabled"]) do %>
            <%= image_tag("#{service_name}.png") %>
            Connected to <%= service_name.capitalize %>
          <% end %>
        </span>

        <span class="disconnect">
          <%= link_to("/auth/#{service_name}/deauthorize", :method => :delete, class: ["button", "button-danger"]) do %>
            <%= image_tag("#{service_name}.png") %>
              Disconnect from <%= service_name.capitalize %>
          <% end %>
        </span>
      </span>
      <span class="connect-buttons <%= service_name %>" <% if connected %> style="display: none;"<% end %>>
        <span class="connect">
            <% # the "use_authorize=true&x_auth_access_type=write" part is only relevant for Twitter, Facebook ignores this %>
            <%= link_to("/auth/#{service_name}?use_authorize=true&x_auth_access_type=write", class: ["button", "js-social-popup-link"], :"data-width" => 640, :"data-height" => 400) do %>
            <%= image_tag("#{service_name}.png") %>
              Connect <%= service_name.capitalize %>
          <% end %>
        </span>
      </span>
    </span>
  </div>
</div>
