<% connected = (not current_user.id_for_service(service_name).nil?) %>
<div class="control-group">
  <%= f.label service_name, class: "control-label" %>
  <div class="controls">

  <span class="social-services-button">
	<% if connected %> 
    <span class="connected">
      <%= link_to("/auth/#{service_name}/deauthorize", :method => :delete, :class => "btn disabled") do %>
        <%= image_tag("#{service_name}.png") %>
        Connected to <%= service_name.capitalize %>     
      <% end %>
    </span>

    <span class="disconnect">
      <%= link_to("/auth/#{service_name}/deauthorize", :method => :delete, :class => "btn btn-danger") do %>
        <%= image_tag("#{service_name}.png") %>
          Disconnect from <%= service_name.capitalize %>
      <% end %>
    </span>
   
  	<% else %>
  		<%= link_to("/auth/#{service_name}", :class => "btn") do %>
        <%= image_tag("#{service_name}.png") %> 
          Connect <%= service_name.capitalize %>
        <% end %>
  	<% end %>
    </span>
 
  </div>
</div>
