<header class="append-bottom title">
  <h1>Account settings</h1>

  <div class="clearfix"></div>

  <div class="tabs">
    <ul>
      <li class="account active"><a>Account</a></li>
      <li class="password"><a>Change password</a></li>
    </ul>
  </div>
</header>

<div class="row" id="edit_user">
  <%= form_for(@user, :as => @user, :url => edit_user_path(@user), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <fieldset>
      <legend></legend>
      <div class="control-group">
        <%= f.label :username, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :username %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Picture</label>
        <div class="controls">
          <%= image_tag @user.avatar_url, class: "avatar" %>
          <span class="help-inline">This image is automatically grabbed from <a>Gravatar</a>. Edit your Gravatar account to edit the profile picture.</span>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :current_password, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :current_password %>
          <p class="help-block">(we need your current password to confirm your changes)</p>
        </div>
      </div>

      <div class="controls">
        <%= f.submit "Save settings", class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
</div>