<header class="append-bottom title">
  <h1>Change your password</h1>

  <div class="clearfix"></div>

  <div class="tabs">
    <ul>
      <li><%= link_to "About", user_profile_path(current_user) %></li>
      <li class="account"><%= link_to "Edit", edit_user_path(current_user) %></li>
      <li class="password active"><%= link_to "Change password", user_password_edit_path(current_user) %></li>
        <li class="tab-notification-settings"><%= link_to "Notification Settings", user_notification_settings_path(current_user) %></li>
    </ul>
  </div>
</header>

<div class="row" id="edit_user">
  <div class="span8">
    <%= form_for(@user, :url => user_update_password_path(@user), :html => { :method => :put, :class => "form-horizontal" }, validate: true) do |f| %>
      <fieldset>
        <legend></legend>
        <div class="control-group">
          <%= f.label :password, "Current password", class: "control-label"  %>
          <div class="controls">
            <%= f.password_field :current_password, required: true, tabindex: 1 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, "New password", class: "control-label"  %>
          <div class="controls">
            <%= f.password_field :password, :autocomplete => "off", required: true, tabindex: 2 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "Confirm new password", class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation, required: true, tabindex: 3 %>
          </div>
        </div>

        <div class="controls">
          <%= f.submit "Change my password", class: "btn btn-primary" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
