<header class="append-bottom title">
  <h1>About <%= current_user.username%> (edit)</h1>

  <div class="clearfix"></div>

  <div class="tabs">
    <ul>
      <li><%= link_to "About #{current_user.username}", user_profile_path(current_user) %></li>
      <li class="account active"><%= link_to "Edit", edit_user_path(current_user) %></li>
      <li class="password"><%= link_to "Change password", user_password_edit_path(current_user) %></li>
        <li class="tab-notification-settings"><%= link_to "Notification Settings", user_notification_settings_path(current_user) %></li>
    </ul>
  </div>
</header>

<div class="row" id="edit_user">
  <div class="span8">
    <%= form_for(@user, :url => { action: :update, id: (@user.errors[:username].any? ? @user.username_was : @user.username) }, :html => { :class => "form-horizontal" }, validate: true) do |f| %>
      <fieldset>
        <legend></legend>
        <div class="control-group">
          <%= f.label :username, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :username, autocomplete: "off", required: true, maxlength: 16, tabindex: 1 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :first_name, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :first_name, autocomplete: "off", tabindex: 2 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :last_name, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :last_name, autocomplete: "off", tabindex: 3 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :location, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :location, autocomplete: "off", tabindex: 4 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :biography, class: "control-label" %>
          <div class="controls">
            <%= f.text_area :biography, autocomplete: "off", tabindex: 5, rows: 4 %>
          </div>
        </div>

        <% FactlinkUI::Application.config.social_services.each do |service_name| %>
          <%= render "social_services_button", service_name: service_name, f: f %>
        <% end %>

        <div class="control-group">
          <div class="controls">
            Note: We will not publish anything without your permission.
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Picture</label>
          <div class="controls">
            <%= image_tag @user.avatar_url, class: "avatar" %>
            <span class="help-inline avatar">This image is automatically grabbed from <%= link_to "Gravatar", "http://gravatar.com", target: "_blank" %>. Edit your Gravatar account to edit the profile picture.<br><br>(we use <%= @user.email %>)</span>
          </div>
        </div>

        <div class="controls">
          <%= f.submit "Save settings", class: "btn btn-primary" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
