<div style="text-shadow: 0px 1px 1px #fff;">
	<div style="float: right; width: 180px; border: solid 1px #fff; border-radius: 2px; padding: 6px; background: rgba(255, 255, 255, 0.6);">

		<div style="">
			<%= image_tag('icons/factlink/16.png') %> Factlink authority: <%= @user.authority %>
			<br/>
			
			<p id="authorityExplanation" style="display: none; border-top: solid 2px #fff; margin-top: 10px;">
				Explain your Factlink authority here. Lorizzle funky fresh dolizzle sit amizzle, mofo adipiscing elit. Nullam sapizzle velit, check out this i'm in the shizzle, fo shizzle my nizzle yo mamma, pizzle vizzle, arcu. Pellentesque egizzle stuff. Sizzle eros. Shiz at shut the shizzle up dapibus turpis yo black.
			</p>
			
			<span id="authExpLink" style="font-size: 0.85em; float: right; opacity: 0.8; line-height: 2.0;"><a onclick="$('#authorityExplanation').slideDown('slow'); $('#authExpLink').hide();">what is this?</a></span>
		</div>
	</div>
	
	<h1 style="text-shadow: 0px 1px 1px #fff;"><%= @user.username %></h1>
	
	<span style="display:block;"><%= @user.username %> created <%= @user.facts.count %> facts and added <%= @user.fact_relations.count %> sources to Factlink</span>

	<span style="display:block;">
		<%= @user.username %> <a href="#opinions">believes</a> <%= @user.believe_count %> sources, <a href="#opinions">doubts</a> <%= @user.doubt_count %> sources
		and <a href="#opinions">disbelieves</a> <%= @user.disbelieve_count %> sources.
	</span>

</div>


<div class="span-14 append-2 last" style="text-shadow: 0px 1px 1px #fff;">
	<h2>user created facts</h2>
	<ul>
		<%= render(:partial => "facts/partial/factlink", :collection => @user.facts) || "<li style='list-style: none;'>This user did not add any Factlinks yet</li>".html_safe %>
	</ul>
</div>


<hr>

<div id="opinions">
	<h2 style="text-shadow: 0px 1px 1px #fff;"><%= @user.username %>:</h2>
	<div class="span-8" style="text-shadow: 0px 1px 1px #fff;">
		<h2>believes <%= @user.believed_facts.count %> facts</h2>
		<ul>
			<%= render(:partial => "facts/partial/factlink", :collection => @user.believed_facts) || "<li style='list-style: none;'>#{@user.username} does not believe any facts</li>".html_safe %>
		</ul>
	</div>


	<div class="span-8" style="text-shadow: 0px 1px 1px #fff;">
		<h2>doubts <%= @user.doubted_facts.count %> facts</h2>
		<ul>
			<%= render(:partial => "facts/partial/factlink", :collection => @user.doubted_facts) || "<li style='list-style: none;'>#{@user.username} does not doubt any facts</li>".html_safe %>
		</ul>
	</div>

	<div class="span-8 last" style="text-shadow: 0px 1px 1px #fff;">
		<h2>disbelieves <%= @user.disbelieved_facts.count %> facts</h2>
		<ul>
			<%= render(:partial => "facts/partial/factlink", :collection => @user.disbelieved_facts) || "<li style='list-style: none;'>#{@user.username} does not disbelieve any facts</li>".html_safe %>			
		</ul>
	</div>
</div>