<!-- header -->
<% content_for :header do %>
	<%= user_block(@user) %>
<% end %>


<!-- left column -->
<% content_for :left_column do %>
	<%= channel_listing_for_user(@user.channels, @user) %>
<% end %>


<!-- main column -->
<% content_for :main_column do %>


	<h1>Facts added by <%= @user.username %></h1>
	<%= fact_listing(@user.facts.reverse) %>


<% end %>

<% content_for :right_column do %>

	<% if @activities.count > 0 %>
	    <%= activity_list_for_user(@activities, 0)%>
	<% end%>

<% end %>


