<% content_for :header do %>
<% end %>


<% content_for :left_column do %>
  <%= user_block(@user) %>
  <%= render :partial => "home/snippets/channels", :locals => {:user => @user } %>
<% end %>


<% content_for :main_column do %>


	<h1>User stream <%= @user.username %></h1>
	<%= fact_listing(@user.graph_user.stream.facts) %>


<% end %>

<% content_for :right_column do %>

	<% if @activities.count > 0 %>
	    <%= activity_list_for_user(@activities, 20)%>
	<% end%>

<% end %>


