<% content_for :header do %>
  <h1>Great discussions on your site</h1>
<% end %>

<% content_for :title do %>
  Great discussions on your site
<% end %>

<% content_for :content do %>
<div class="publisher-container">
  <div class="publisher-animation-area">
    <!-- SIDEBAR Animation -->
    <div class="animation-sidebar-text">

      <ul class="animation-sidebar-paragraph">
        <li>
          <div class="discuss-icon">
            <span class="discuss-icon-body"></span>
            <span class="discuss-icon-arrow"></span>
          </div>
        </li>
        <li></li>
      </ul>

      <ul class="animation-sidebar-paragraph">
        <li>
          <div class="discuss-icon">
            <span class="discuss-icon-body">+</span>
            <span class="discuss-icon-arrow"></span>
          </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>
  </div>

  <div class="publisher-content-area">
    <h1 class="publisher-content-heading">The future of comments</h1>
    <p>Readers join discussions inside your article, adding a whole new layer of information and debate to your content. Readers vote for the best discussions, which will be most prominently featured. This is a huge improvement over chronological comments at the bottom of the page.
    </p>
  </div>
</div>

<div class="publisher-container">
  <div class="publisher-content-area">
    <h1 class="publisher-content-heading">Higher engagement and retention</h1>
    <p>Creating an active community means more people visiting your site regularly. Even less frequent visitors will enjoy the lively debate within articles. When someone joins a discussion, we will update them on replies and other interesting discussions on your website. Jumping into the debate yourself gives your visitors the opportunity to discuss directly with the author.
    </p>
  </div>

  <div class="publisher-animation-area">
    <div class="animation-sidebar-comment">
      <div class="animation-sidebar-comment-container">
        <div class="animation-sidebar-vote-area">
          <span class="animation-sidebar-vote-arrow"><i class="icon-up-open"></i></span>
          <span>5</span>
          <span class="animation-sidebar-vote-arrow"><i class="icon-down-open"></i></span>
        </div>
        <div class="animation-sidebar-comment-area">
          <div class="animation-sidebar-comment-heading">
            <img src="<%= asset_path 'landing/content/Shane.jpg' %>" class="animation-sidebar-avatar">
            <a href="#">Shane Davidson</a>
            <span class="animation-sidebar-comment-time">4h</span>
          </div>

          <div class="animation-sidebar-comment-content">This is a great article. Thanks for the enlightment!</div>
        </div>
      </div>

      <div class="animation-sidebar-comment-container">
        <div class="animation-sidebar-vote-area">
          <span class="animation-sidebar-vote-arrow"><i class="icon-up-open"></i></span>
          <span>2</span>
          <span class="animation-sidebar-vote-arrow"><i class="icon-down-open"></i></span>
        </div>
        <div class="animation-sidebar-comment-area">
          <div class="animation-sidebar-comment-heading">
            <img src="<%= asset_path 'landing/content/Kerry.jpg' %>" class="animation-sidebar-avatar">
            <a href="#">Kerry Jackson</a>
            <span class="animation-sidebar-comment-time">3h</span>
          </div>

          <div class="animation-sidebar-comment-content">I'm actually suprised. I always believed otherwise but find the arguments very convincing.</div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="publisher-container">
  <div class="publisher-animation-area">
    <div class="publisher-animation-social">
      <div class="publisher-animation-social-row">
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Adrian.png' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Blain.jpg' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/cdwharton-avatar.jpg' %>" class="animation-social-avatar">
        </div>
      </div>
      <div class="publisher-animation-social-row">
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Innocenti.png' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <div class="animation-social-primary-item">
            <div class="animation-social-icon">
              <div class="social-discuss-icon">
                <span class="social-discuss-icon-body"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Kerry.jpg' %>" class="animation-social-avatar">
        </div>
      </div>
      <div class="publisher-animation-social-row">
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Prisca.jpg' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Sarah_alt.png' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Shane.jpg' %>" class="animation-social-avatar">
        </div>
      </div>
    </div>
  </div>

  <div class="publisher-content-area">
    <h1 class="publisher-content-heading">Social reach</h1>
    <p>We make it very easy to share discussions to various social platforms. New visitors will see the discussed part of your article, and invited to contribute to the discussion. In addition, Factlink itself is a social network for knowledge, where users can subscribe to discussions on your website, and discover new content.
    </p>
  </div>
</div>

<div class="publisher-container">
  <div class="publisher-content-area">
    <h1 class="publisher-content-heading">High quality debates</h1>
    <p>Users will vote for the best discussions, and the best points made in your articles. Users gain authority points for comments that get upvoted a lot, which is a great incentive to share insights and expertise.
    </p>
  </div>
  <div class="publisher-animation-area">
  </div>
</div>

<div class="publisher-container">
  <div class="publisher-content-area">
    <h1 class="publisher-content-heading">Free & easy to integrate</h1>
    <p>Just use one of our plugins for blogging platforms. Alternatively, drop a single line of code on your page, and you’re done! We will automatically match the look and feel of your site, and if this is not enough you can customize it.
    </p>
  </div>
</div>


<% end %>
