<% content_for :header do %>
  <h1>Great discussions on your site</h1>
  <p>Readers join discussions inside your articles and invite their friends. You get engaged users, and more of them.</p>
  <button class="button">Get started</button>
<% end %>

<% content_for :title do %>
  Great discussions on your site
<% end %>

<% content_for :content do %>
<%= render "home/pages/partials/focussed_discussions" %>
<%= render "home/pages/partials/higher_engagement" %>
<%= render "home/pages/partials/social_reach" %>
<%= render "home/pages/partials/discuss_with_readers" %>
<%= render "home/pages/partials/easy_integration" %>
<% end %>
