<% content_for :title do %>
Factlink - The people behind Factlink
<% end %>

<% content_for :menu_items do %>
  <li><%= link_to "About", pages_path("about") %></li>
  <li class="selected_menu_item"><%= link_to "Team", pages_path("team") %></li>
<% end %>

<% content_for :body_text do %>
  <h1>The people behind Factlink</h1>
  <p>The Factlink team is a group of world-class people who have been involved with building many pioneering products. Our expertise is in building web-wide scale products. Our focus is on solving hard problems and delighting users. We care deeply about helping people to excel and explore their full talents.</p>


  <h2>Team</h2> 
  <div class="team_photos">
    <a href="http://nl.linkedin.com/pub/bobbie-karagiannis/21/319/696" target="_blank"><%= team_photo_tag "bobbie",  "Bobbie Karagiannis" %></a>
    <a href="http://nl.linkedin.com/in/florisvenneman" target="_blank"><%= team_photo_tag "floris",  "Floris Venneman" %></a>
    <a href="http://www.linkedin.com/in/gordonrios" target="_blank"><%= team_photo_tag "gordon",  "Gordon Rios" %></a>
    <a href="http://nl.linkedin.com/in/jenskanis" target="_blank"><%= team_photo_tag "jens",  "Jens Kanis" %></a>
    <a href="http://nl.linkedin.com/in/salvadorven" target="_blank"><%= team_photo_tag "jan",  "Jan Salvador van der Ven" %></a>
    <a href="http://nl.linkedin.com/in/jobertabma" target="_blank"><%= team_photo_tag "jobert",  "Jobert Abma" %></a>
    <a href="http://nl.linkedin.com/in/joelkuiper" target="_blank"><%= team_photo_tag "joel",  "Joël Kuiper" %></a>
    <a href="http://nl.linkedin.com/in/vanzwoljj" target="_blank"><%= team_photo_tag "jordin",  "Jordin van Zwol" %></a>
    <a href="http://www.linkedin.com/in/knudbalslev" target="_blank"><%= team_photo_tag "knud",  "Knud Balslev" %></a>
    <a href="http://nl.linkedin.com/in/luitvd" target="_blank"><%= team_photo_tag "luit",  "Luit van Drongelen" %></a>
    <a href="http://nl.linkedin.com/in/markijbema" target="_blank"><%= team_photo_tag "mark",  "Mark IJbema" %></a>
    <a href="http://nl.linkedin.com/in/mrusschen" target="_blank"><%= team_photo_tag "martijn",  "Martijn Russchen" %></a>
    <a href="http://www.linkedin.com/in/merijnterheggen" target="_blank"><%= team_photo_tag "merijn",  "Merijn Terheggen" %></a>
    <a href="http://nl.linkedin.com/in/michielprins1" target="_blank"><%= team_photo_tag "michiel",  "Michiel Prins" %></a>
    <a href="http://nl.linkedin.com/in/remonoldenbeuving" target="_blank"><%= team_photo_tag "remon",  "Remon Oldenbeuving" %></a>
    <a href="http://nl.linkedin.com/in/tomdev" target="_blank"><%= team_photo_tag "tom",  "Tom de Vries" %></a>
  </div>
  
  <h2>Advisors and Collaborators</h2>
  <div class="team_photos">
    <a href="http://www.linkedin.com/pub/anne-vrolyk/0/915/524" target="_blank"><%= team_photo_tag "anne", "Anne Vrolyk" %></a>
    <a href="http://www.linkedin.com/in/colincrawford" target="_blank"><%= team_photo_tag "colin", "Colin Crawford" %></a>
    <a href="http://www.linkedin.com/in/michaelflopez" target="_blank"><%= team_photo_tag "michael", "Michael Lopez" %></a>
    <a href="http://nl.linkedin.com/in/michelmol" target="_blank"><%= team_photo_tag "michel", "Michel Mol" %></a>
    <a href="http://nl.linkedin.com/in/richardborsboom" target="_blank"><%= team_photo_tag "richard", "Richard Borsboom" %></a>
    <a href="http://www.linkedin.com/in/rmagoulas" target="_blank"><%= team_photo_tag "roger", "Roger Magoulas" %></a>
    <a href="http://www.linkedin.com/in/waterman" target="_blank"><%= team_photo_tag "scott", "Scott Waterman" %></a>
    <a href="http://nl.linkedin.com/in/toniebroekhuijsen" target="_blank"><%= team_photo_tag "tonie", "Tonie Broekhuijsen" %></a>
  </div>
  
  <h2>Get in touch!</h2>
  <p>Do you care about building something amazing? We love talking to talented people. <a href="mailto:info@factlink.com">Drop us a note!</a></p>
<% end %>

<% content_for :javascript do %>
  <script>
  $('.tooltips').tooltip();
  </script>
<% end %>