<% content_for :header do %>
  <h1>The people behind Factlink</h1>
  <p>The Factlink team is a group of world-class people who have been involved with building many pioneering products. Our expertise is in building web-wide scale products. Our focus is on solving hard problems and delighting users. We care deeply about helping people to excel and explore their full talents.</p>
<% end %>

<% content_for :title do %>
  Factlink &mdash; The people behind Factlink
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :team %>
<% end %>

<% content_for :content do %>
  <h2>Team</h2>
  <div class="faces-list">
    <%= team_photo_tag "eamon", "Eamon Nerbonne", "eamonnerbonne" %>
    <%= team_photo_tag "jens", "Jens Kanis", "jens" %>
    <%= team_photo_tag "deelstra", "Jan Deelstra", "JJoos" %>
    <%= team_photo_tag "janpaul", "Jan Paul Posma", "janpaul123" %>
  </div>
  <div class="faces-list">
    <%= team_photo_tag "jan", "Jan Salvador van der Ven", "salvador" %>
    <%= team_photo_tag "jobert", "Jobert Abma", "jobert" %>
    <%= team_photo_tag "luuk", "Luuk Hartsema", "hartsema" %>
    <%= team_photo_tag "mark", "Mark IJbema", "mark" %>
  </div>
  <div class="faces-list">
    <%= team_photo_tag "martijn", "Martijn Russchen", "martijn" %>
    <%= team_photo_tag "merijn", "Merijn Terheggen", "merijn" %>
    <%= team_photo_tag "michiel", "Michiel Prins", "michiel" %>
    <%= team_photo_tag "remon", "Remon Oldenbeuving", "RSO" %>
  </div>
  <div class="faces-list">
    <%= team_photo_tag "tom", "Tom de Vries", "tomdev" %>
  </div>
  <br/>
  <h2>Advisors and Collaborators</h2>
  <div class="faces-list">
    <%= advisor_photo_tag "anne", "Anne Vrolyk" %>
    <%= advisor_photo_tag "colin", "Colin Crawford" %>
    <%= advisor_photo_tag "gordon", "Gordon Rios" %>
    <%= advisor_photo_tag "knud", "Knud Balslev" %>
    <%= advisor_photo_tag "michael", "Michael Lopez" %>
    <%= advisor_photo_tag "roger", "Roger Magoulas" %>
  </div>
  <div class="faces-list">
    <%= advisor_photo_tag "scott", "Scott Waterman" %>
    <%= advisor_photo_tag "tonie", "Tonie Broekhuijsen" %>
  </div>
  <h2>Get in touch!</h2>
  <p>Do you care about building something amazing? We love talking to talented people.</p>
  <p><a class="button button-confirm" href="mailto:info@factlink.com">Drop us a note!</a></p>
<% end %>
