<% content_for :header do %>
  <h1>The people behind Factlink</h1>
<% end %>

<% content_for :title do %>
  Factlink &mdash; The people behind Factlink
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :team %>
<% end %>

<% content_for :content do %>
  <h2>Team</h2>
  <div class="faces-list">
    <%= team_photo_tag "eamon", "Eamon Nerbonne", "eamonnerbonne" %>
    <%= team_photo_tag "janpaul", "Jan Paul Posma", "janpaul123" %>
    <%= team_photo_tag "luuk", "Luuk Hartsema", "hartsema" %>
  </div>
  <div class="faces-list">
    <%= team_photo_tag "mark", "Mark IJbema", "mark" %>
    <%= team_photo_tag "martijn", "Martijn Russchen", "martijn" %>
    <%= team_photo_tag "merijn", "Merijn Terheggen", "merijn" %>
  </div>
  <br/>
  <h2>Advisors and Collaborators</h2>
  <div class="faces-list">
    <%= advisor_photo_tag "anne", "Anne Vrolyk" %>
    <%= advisor_photo_tag "colin", "Colin Crawford" %>
    <%= advisor_photo_tag "gordon", "Gordon Rios" %>
    <%= advisor_photo_tag "knud", "Knud Balslev" %>
  </div>
  <div class="faces-list">
    <%= advisor_photo_tag "michael", "Michael Lopez" %>
    <%= advisor_photo_tag "roger", "Roger Magoulas" %>
    <%= advisor_photo_tag "scott", "Scott Waterman" %>
    <%= advisor_photo_tag "tonie", "Tonie Broekhuijsen" %>
  </div>
  <h2>Get in touch!</h2>
  <p>Do you care about building something amazing? We love talking to talented people.</p>
  <p><a class="button-confirm" href="mailto:info@factlink.com">Drop us a note!</a></p>
<% end %>
