<% content_for :title do %>
Factlink - The people behind Factlink
<% end %>

<% content_for :menu_items do %>
  <li><%= link_to "About", pages_path("about") %></li>
  <li class="selected_menu_item"><%= link_to "Team", pages_path("team") %></li>
<% end %>

<% content_for :body_text do %>
  <h1>The people behind Factlink</h1>
  <p>The Factlink team is a group of world-class people who have been involved with building many pioneering products. Our expertise is in building web-wide scale products. Our focus is on solving hard problems and delighting users. We care deeply about helping people to excel and explore their full talents.</p>


  <h2>Team</h2> 
  <div class="team_photos">
    <%= team_photo_tag "bobbie",  "Bobbie Karagiannis" %>
    <%= team_photo_tag "floris",  "Floris Venneman" %>
    <%= team_photo_tag "gordon",  "Gordon Rios" %>
    <%= team_photo_tag "jens",  "Jens Kanis" %>
    <%= team_photo_tag "jan",  "Jan Salvador van der Ven" %>
    <%= team_photo_tag "jobert",  "Jobert Abma" %>
    <%= team_photo_tag "joel",  "Joël Kuiper" %>
    <%= team_photo_tag "jordin",  "Jordin van Zwol" %>
    <%= team_photo_tag "knud",  "Knud Balslev" %>
    <%= team_photo_tag "luit",  "Luit van Drongelen" %>
    <%= team_photo_tag "mark",  "Mark IJbema" %>
    <%= team_photo_tag "martijn",  "Martijn Russchen" %>
    <%= team_photo_tag "merijn",  "Merijn Terheggen" %>
    <%= team_photo_tag "michiel",  "Michiel Prins" %>
    <%= team_photo_tag "remon",  "Remon Oldenbeuving" %>
    <%= team_photo_tag "tom",  "Tom de Vries" %>
  </div>
  
  <h2>Advisors and Collaborators</h2>
  <div class="team_photos">
    <%= team_photo_tag "anne", "Anne Vrolyk" %>
    <%= team_photo_tag "michael", "Michael Lopez" %>    
    <%= team_photo_tag "roger", "Roger Magoulas" %>
    <%= team_photo_tag "scott", "Scott Waterman" %>
    <%= team_photo_tag "tonie", "Tonie Broekhuijsen" %>
    <%= team_photo_tag "michel", "Michel Mol" %>
  </div>
  
  <h2>Get in touch!</h2>
  <p>Do you care about building something amazing? We love talking to talented people. <a href="mailto:info@factlink.com">Drop us a note!</a></p>
<% end %>

<% content_for :javascript do %>
  <script>
  $('.tooltips').tooltip();
  </script>
<% end %>