<% content_for :title do %>
  Our Team
<% end %>

<% content_for :menu_items do %>
  <li><%= link_to "About Factlink", pages_path("about") %></li>
  <li class="selected_menu_item"><%= link_to "Our Team", pages_path("team") %></li>
<% end %>

<% content_for :body_text do %>
  <h1>Our Talented People</h1>
  <p>Factlink is made by a world-class group who have built many pioneering products. Each has brought his or her experience to not only deliver the best customer experiences, but to also help build a unique company that will thrive for many years to come.</p>

  <div class="team_photos">
    <%= image_tag "team/merijn.png", alt: "Merijn Terheggen", width: 82, height: 82 %>
    <%= image_tag "team/gordon.png", alt: "Gordon Rios", width: 82, height: 82 %>
    <%= image_tag "team/tom.png", alt: "Tom de Vries", width: 82, height: 82 %>
    <%= image_tag "team/remon.png", alt: "Remon Oldenbeuving", width: 82, height: 82 %>
    <%= image_tag "team/michiel.png", alt: "Michiel Prins", width: 82, height: 82 %>
    <%= image_tag "team/jobert.png", alt: "Jobert Abma", width: 82, height: 82 %>
    <%= image_tag "team/jan.png", alt: "Jan Salvador van der Ven", width: 82, height: 82 %>
    <%= image_tag "team/mark.png", alt: "Mark Ijbema", width: 82, height: 82 %>
    <%= image_tag "team/jordin.png", alt: "Jordin van Zwol", width: 82, height: 82 %>
    <%= image_tag "team/joel.png", alt: "Joël Kuiper", width: 82, height: 82 %>
    <%= image_tag "team/jens.png", alt: "Jens Kanis", width: 82, height: 82 %>
  </div>
  <h2>Join our team?</h2>
  <p>We're always looking for talented people to add to our team. Are you one of those people? Maybe you should take a look at our opportunities.</p>
  <br/><br/>
  <%= link_to "<span class='btn success'>Apply for a job</span>".html_safe, pages_path("jobs") %>
<% end %>