<% content_for :header do %>
  <h1>The people behind Factlink</h1>
  <p>The Factlink team is a group of world-class people who have been involved with building many pioneering products. Our expertise is in building web-wide scale products. Our focus is on solving hard problems and delighting users. We care deeply about helping people to excel and explore their full talents.</p>
<% end %>

<% content_for :title do %>
  Factlink &mdash; The people behind Factlink
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :team %>
<% end %>

<% content_for :content do %>
  <h2>Team</h2>
  <div class="row-fluid">
    <%= team_photo_tag "floris",  "Floris Venneman", "florisvenneman", "florisvenneman" %>
    <%= team_photo_tag "jens",  "Jens Kanis", "jenskanis", "jenskanis" %>
    <%= team_photo_tag "deelstra",  "Jan Deelstra", "jandeelstra", "JJoos" %>
    <%= team_photo_tag "janpaul",  "Jan Paul Posma", "janpaulposma", "janpaul123" %>
    
  </div>
  <br>
  <div class="row-fluid">
    <%= team_photo_tag "jan",  "Jan Salvador van der Ven", "salvadorven", "salvadorven" %>
    <%= team_photo_tag "jobert",  "Jobert Abma", "jobertabma", "jobertabma" %>
    <%= team_photo_tag "jordin",  "Jordin van Zwol", "vanzwoljj", "vanzwoljj" %>
    <%= team_photo_tag "knud",  "Knud Balslev", "knudbalslev" %>
  </div>
  <br>
  <div class="row-fluid">
    <%= team_photo_tag "mark",  "Mark IJbema", "markijbema", "markijbema" %>
    <%= team_photo_tag "martijn",  "Martijn Russchen", "mrusschen", "mrusschen" %>
    <%= team_photo_tag "merijn",  "Merijn Terheggen", "merijnterheggen", "merijn481" %>
    <%= team_photo_tag "michiel",  "Michiel Prins", "michielprins1", "michielprins" %>
  </div>
  <br>
  <div class="row-fluid">
    <%= team_photo_tag "remon",  "Remon Oldenbeuving", "remonoldenbeuving", "R51" %>
    <%= team_photo_tag "tom",  "Tom de Vries", "tomdev", "tomdev" %>
  </div>
  <br>
  <h2>Advisors and Collaborators</h2>
  <div class="row-fluid">
    <%= advisor_photo_tag "anne", "Anne Vrolyk", "http://www.linkedin.com/pub/anne-vrolyk/0/915/524" %>
    <%= advisor_photo_tag "colin", "Colin Crawford", "colincrawford" %>
    <%= advisor_photo_tag "gordon",  "Gordon Rios", "gordonrios" %>
    <%= advisor_photo_tag "michael", "Michael Lopez", "michaelflopez" %>
    <%= advisor_photo_tag "michel", "Michel Mol", "michelmol" %>
    <%= advisor_photo_tag "richard", "Richard Borsboom", "richardborsboom" %>
  </div>
  <br>
  <div class="row-fluid">
    <%= advisor_photo_tag "roger", "Roger Magoulas", "rmagoulas" %>
    <%= advisor_photo_tag "scott", "Scott Waterman", "waterman" %>
    <%= advisor_photo_tag "tonie", "Tonie Broekhuijsen", "toniebroekhuijsen" %>
  </div>
  <br>
  <h2>Get in touch!</h2>
  <p>
    Do you care about building something amazing? We love talking to talented people. <a href="mailto:info@factlink.com">Drop us a note!</a>
  </p>
<% end %>
