<% content_for :social_account_popup_content do %>
  <h1>Create your Factlink account</h1>

  <%= form_for(@user, as: :user, url: social_accounts_new_path, html: { class: "form-horizontal" }) do |f| %>

    <%= f.hidden_field :social_account_id, value: @social_account.id %>

    <div class="control-group">
      (If you already have a Factlink account, fill in your credentials to connect it with <%= @social_account.provider_name.capitalize %>.)
    </div>

    <div class="control-group">
      <%= f.label :email, "Email address", class: "control-label" %>

      <div class="controls">
        <%= f.text_field :email %>
        <%= possible_error_for_field(@user, :email) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, "Password", class: "control-label" %>

      <div class="controls">
        <%= f.password_field :password %>
        <%= possible_error_for_field(@user, :password) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Continue", class: "button", 'data-disable-with' => "Submitting..." %>
    </div>
  <% end %>
<% end %>
