<div class="footer">
  <div class="container">
    <div class="bottom_links">
      <ul>
        <li>
          <%= link_to "In your browser", in_your_browser_path %>
        </li>
        <li>
          <%= link_to "On your site", publisher_page_path %>
        </li>
        <li>
          <%= link_to "About us", about_path %>
        </li>
        <li>
          <%= link_to "Jobs", jobs_path %>
        </li>
        <li>
          <%= link_to "Blog", "http://blog.factlink.com" %>
        </li>
        <li>
          <%= link_to "Privacy", privacy_path %>
        </li>
        <li>
          <%= link_to "Terms of Service", terms_of_service_path %>
        </li>
        <li>
          <a class="mixpanel-logo" href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </li>
        <li class="copy">
          &copy; 2011-<%= DateTime.now.year %> Factlink. All rights reserved.
        </li>
      </ul>
    </div>
  </div>
</div>
