<div class="sign_in_bar">
  <div class="container">

    <% unless current_user %>
      <%= form_for("user", :url => user_session_path) do |f| %>
        <h2>Sign in to Factlink</h2>

        <%= f.text_field     :login,    class: "text",    placeholder: "Username or email",    tabindex: '1' %>
        <%= f.password_field :password, class: "text", placeholder: "Password", tabindex: '2' %>
        <%= f.submit 'Sign in', 'data-disable-with' => 'Signing in...', class: 'btn', tabindex: '3' %>

        <div class="toolbar">
          <span>
            <%= link_to "Forgot password?", new_password_path('user'), id: :cannot_access_account, tabindex: '4' %>
          </span>

          <%= f.label :remember_me do %>
            Remember me <%= f.check_box :remember_me %>
          <% end %>
        </div>
      <% end %>

      <div class="separator">or</div>
      <div class="social">
        <a href="/auth/twitter" class="btn twitter" data-disable-with="<i></i>Signing in..."><i></i>Sign in with Twitter</a>
        <a href="/auth/facebook" class="btn facebook" data-disable-with="<i></i>Signing in..."><i></i>Sign in with Facebook</a>
      </div>
    <% end %>
  </div>
</div>
