<%= render 'home/notifications', notice: notice, alert: alert %>

<div class="sign_in_bar">
  <div class="container">

    <% unless current_user %>
      <%= form_for("user", :url => user_session_path) do |f| %>
        <h2>Sign in to Factlink</h2>

        <%= return_to_fields_for_sign_in %>

        <%= f.text_field     :login,    class: "text",    placeholder: "Username or email",    tabindex: '1' %>
        <%= f.password_field :password, class: "text", placeholder: "Password", tabindex: '2' %>
        <%= f.submit 'Sign in', 'data-disable-with' => 'Signing in...', class: 'button', tabindex: '4' %>

        <div class="toolbar">
          <span>
            <%= link_to "Forgot password?", new_password_path('user'), id: :cannot_access_account %>
          </span>

          <%= f.label :remember_me do %>
            Remember me <%= f.check_box :remember_me, tabindex: '3' %>
          <% end %>
        </div>
      <% end %>

      <div class="separator">or</div>
      <div class="social">
        <span class="social-services-buttons">
          <a href="/auth/twitter?return_to=<%= params[:return_to] %>" class="button twitter js-social-popup-link" data-disable-with="<i></i>Signing in..."><i></i>Sign in with Twitter</a>
          <a href="/auth/facebook?return_to=<%= params[:return_to] %>" class="button facebook js-social-popup-link" data-disable-with="<i></i>Signing in..."><i></i>Sign in with Facebook</a>
        </span>
      </div>
    <% end %>
  </div>
</div>
