<div class="topbar <%= fixed_topbar ? "" : "topbar-non-fixed" %>">
  <div class="topbar-inner">
    <% if @step_in_signup_process %>
      <%= link_to "Home", home_path, class: 'topbar-logo' %>
    <% else %>
      <%= link_to "Home", home_path, class: 'topbar-logo js-potential-backbone' %>
    <% end %>
    <% if @step_in_signup_process %>
      <%= render "base/topbar/sign_up_steps" %>
    <% elsif current_user %>
      <%= render "base/topbar/signed_in" %>
    <% end %>
  </div>
</div>
