<div class="topbar <%= fixed_topbar ? "" : "topbar-non-fixed" %>">
  <div class="topbar-inner">
    <% if @step_in_signup_process %>
      <%= link_to "Home", home_path, class: 'topbar-logo' %>
    <% else %>
      <%= link_to "Home", home_path, class: 'topbar-logo js-potential-backbone' %>
    <% end %>

    <% unless @step_in_signup_process %>
      <div class="topbar-search">
        <form method="GET" class="js-navbar-search-form" action="<%= search_path %>">
          <input id="factlink_search" type="text" class="topbar-search-field js-navbar-search-box" name="s" placeholder="Search...">
        </form>
      </div>
    <% end %>

    <% if @step_in_signup_process %>
      <%= render "base/topbar/sign_up_steps" %>
    <% elsif current_user %>
      <%= render "base/topbar/signed_in" %>
    <% else %>
      <div class="topbar-connect">
        <strong>Connect with:</strong>
        <a href="/auth/twitter" class="button button-small button-twitter js-accounts-popup-link" data-disable-with="Connecting..."><i class="icon-twitter"></i></a>
        <a href="/auth/facebook" class="button button-small button-facebook js-accounts-popup-link" data-disable-with="Connecting..."><i class="icon-facebook"></i></a>
        <a href="/users/sign_in_or_up" class="js-accounts-popup-link topbar-other-link">Other</a>
      </div>
    <% end %>
  </div>
</div>
