<div class="navbar<%= fixed_topbar ? " navbar-fixed-top" : "" %>">
  <div class="navbar-inner">
    <div class="background"></div>
    <div class="container">
      <div class="logo-container">
        <%= link_to "Home", home_path, class: 'brand potential-backbone' %>
      </div>
      <div class="main-wrapper">
        <% if @step_in_signup_process %>
          <%= render "base/topbar/sign_up_steps" %>
        <% elsif current_user %>
          <%= render "base/topbar/signed_in" %>
        <% else %>
          <%= render "base/topbar/not_signed_in", slide_down: ! fixed_topbar %>
        <% end %>
      </div>
    </div>
  </div>
</div>
