<div class="topbar">
  <div class="topbar-inner">
    <% if @step_in_signup_process %>
      <%= link_to image_tag('base/topbar/logo.svg', class: 'topbar-logo-img', :alt => 'Factlink'), home_path, class: 'topbar-logo' %>
    <% else %>
      <%= link_to image_tag('base/topbar/logo.svg', class: 'topbar-logo-img', :alt => 'Factlink'), home_path, class: 'topbar-logo js-potential-backbone' %>
    <% end %>

    <% unless @step_in_signup_process %>
      <div class="topbar-search">
        <form method="GET" class="js-navbar-search-form" action="<%= search_path %>">
          <input id="factlink_search" type="text" class="topbar-search-field js-navbar-search-box" name="s" placeholder="Search...">
        </form>
      </div>
    <% end %>

    <% if @step_in_signup_process %>
      <%= render "base/topbar/sign_up_steps" %>
    <% elsif current_user %>
      <ul class="topbar-menu">
        <li class="topbar-menu-item">
          <%= link_to "Feed", feed_path, class: 'js-potential-backbone topbar-menu-link topbar-home' %>
        </li>
        <li class="topbar-divider"></li>
        <%= render "base/topbar/user_profile" %>
        <li class="topbar-divider"></li>
        <%= render "base/topbar/topbar_menu" %>
      </ul>
    <% else %>
      <ul class="topbar-menu">
        <li class="topbar-menu-item">
          <%= link_to "In your browser", in_your_browser_path, class: 'topbar-menu-link topbar-in-your-browser' %>
        </li>
        <li class="topbar-divider"></li>
        <li class="topbar-menu-item">
          <%= link_to "On your site", publisher_page_path, class: 'topbar-menu-link topbar-on-your-site' %>
        </li>
        <li class="topbar-divider"></li>
        <li class="topbar-menu-item">
          <div class="topbar-connect">
            <strong class="topbar-connect-label">Connect with:</strong><a href="/auth/twitter" class="button-twitter small-connect-button js-accounts-popup-link"><i class="icon-twitter"></i></a>
            <a href="/auth/facebook" class="button-facebook small-connect-button js-accounts-popup-link"><i class="icon-facebook"></i></a>
            <span class="small-connect-separator">or</span>
            <a href="/users/sign_in_or_up" class="button small-connect-button small-connect-button-factlink js-accounts-popup-link"><i class="icon-factlink"></i></a>
          </div>
        </li>
      </ul><%
     end  #note: no space!
  %></div>
</div>
