<h1>Terms of Service</h1>
<div id="real_tos">
  <p>
    We run a service called <a href="http://factlink.com">Factlink</a> to help people find credibility in the worlds information and would <strong>love</strong> for you to use it. Our basic service is free. We are currently in Beta and depend on your feedback in order to improve our service.
  </p>

  <p>
    If you find something in our site or software that you believe violates our terms of service, please <%= link_to "contact us", pages_path("contact") %>.
  </p>

  <p>
    NOTE: We’ve decided to adopt the Terms of Service below adapted from the Terms of Service of <a href="http://wordpress.com">Wordpress.com</a> and Automattic Inc, which they graciously made available under a Creative Commons Sharealike license. Thanks Automattic and Wordpress!

  </p>
  <p>
    <img src="<%= image_path("creative_commons.png") %>">
  </p>
  <h1>Terms of Service:</h1>
  <p>
    The <a href="https://factlink.com">factlink.com</a> and <a href="https://beta.factlink.com">beta.factlink.com</a>
    website (“Website”) is a hosted service (“Service”) operated by Factlink, Inc. (“Factlink”). Any use of the
    Website and Service is subject to the following Terms and Conditions of Use (“Terms and Conditions”), as well
    as to Factlink’s <%= link_to "Privacy Policy", pages_path("privacy") %>, all of which are incorporated by reference into these Terms and Conditions.
    When you use Factlink, download a Factlink Plugin (“Plugin”), or access any part of the Website or use the
    Service, you agree that you have read, understood, and agree to be bound by the these Terms and Conditions
    concerning your use of:  (a) the Website and Service; and (b) the Plugin.
  </p>
  <ol>
    <li>
      <strong>General.</strong> Factlink may in its sole discretion change, modify, suspend, make improvements to
      or discontinue any aspect of the Website and Service, temporarily or permanently, at any time and without
      notice to you. Under no circumstances will Factlink be liable for any such change, modification, suspension,
      improvement or discontinuance.  If you do not agree with any of these changes, you may terminate your account
      as set forth in Section 11.
    </li>
    <li>
      <strong>Registration.</strong> By registering with Factlink, you represent and warrant that the information
      you provide to Factlink in connection with any registration process is true and accurate, and that you will
      promptly notify Factlink if any of that information changes. Factlink may use the information that you provide
      during the registration process, in particular your email address:  (a) to communicate with you about the
      Website and Service, including without limitation, any changes to Factlink’s Privacy Policy or other policies;
      (b) respond to your emails to us regarding our service; and (c) for all other purposes stated in Factlink’s
      Privacy Policy. Factlink reserves the right to terminate your access to and use of all of all Factlink websites
      if you provide false or inaccurate information.
    </li>
    <li>
      <strong>API Key.</strong> If you obtain or purchase an API Key, you are responsible for maintaining the security of your API Key, and you
      are fully responsible for all activities that occur under the account and any other actions taken in connection
      with your API Key. You must immediately notify Factlink of any unauthorized uses of your API Key, your account
      or any other breaches of security. Factlink will not be liable for any acts or omissions by you, including any
      damages of any kind incurred as a result of such acts or omissions.
    </li>
    <li>
      <strong>Content Posted on Other Websites.</strong> We have not reviewed, and cannot review, all of the material,
      including computer software, made available through the websites and webpages to which the Website links, and
      that link to the Website. Factlink does not have any control over those non-Factlink websites, webpages and
      documents and is not responsible for their contents or their use. By linking to a non-Factlink website, webpage
      or document, Factlink does not represent or imply that it endorses such website or webpage. You are responsible
      for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan
      horses and other harmful or destructive content. Factlink disclaims any responsibility for any harm resulting
      from your use of non-Factlink websites and webpages.
    </li>
    <li>
      <strong>Changes.</strong> The Website, Service, and these Terms and Conditions may be changed at the sole
      discretion of Factlink and without notice. You are bound by any such updates or changes, including but not
      limited to those affecting these Terms and Conditions, and so should periodically review these Terms and
      Conditions.
    </li>
    <li>
      <strong>Communications with Factlink.</strong> All notices and other communications to Factlink required
      under this Agreement should be directed to the <%= link_to("contact page", pages_path("contact")) %>. Notice shall be deemed given twenty-four (24)
      hours after notice is sent.
    </li>
    <li>
      <strong>Limitation of warranties of Factlink, its suppliers and its licensors.</strong> Except as otherwise
      expressly stated, all content posted to or available from the Website and the Service are provided “as is”,
      and Factlink, its suppliers and its licensors make no representations or warranties, express or implied,
      including but not limited to warranties of merchantability, fitness for a particular purpose, title or
      non-infringement of proprietary rights. Factlink makes no representations and warranties regarding uptime
      for the Service and the accuracy of the Service in identifying spelling errors or writing mistakes. You
      understand and agree that you download from, or otherwise obtain content or services through, the Website
      at your own discretion and risk, and that Factlink, its suppliers and its licensors will have no liability
      or responsibility for any damage to your computer system or data that results from the download or use of
      such content or services. Some jurisdictions may not allow the exclusion of implied warranties, so some of
      the above may not apply to you.
    </li>
    <li>
      <strong>Limitation of liability of Factlink, its suppliers and its licensors.</strong> Except as otherwise
      expressly stated, in no event will Factlink, its suppliers or its licensors be liable to you or any other
      party for any direct, indirect, special, consequential or exemplary damages, regardless of the basis or nature
      of the claim, resulting from any use of the Website or Service, or the contents thereof or of any hyperlinked
      website including without limitation any lost profits, business interruption, loss of data or otherwise, even
      if Factlink, its suppliers or its licensors were expressly advised of the possibility of such damages. In no
      event will the aggregate liability for any and all of your claims against Factlink, its suppliers and its
      licensors arising out of or related to use of the Website and Service, or the contents thereof or of any
      hyperlinked website exceed the amounts actually paid by you to Factlink during the 12-month period prior to
      the date a claim is made. Some jurisdictions may not allow the exclusion or limitation of liability for certain
      incidental or consequential damages, so some of the above limitations may not apply to you. You agree that this
      Section 8 represents a reasonable allocation of risk.
    </li>
    <li>
      <strong>General Representation and Warranty.</strong> You represent and warrant that your use of the Website
      and Service will be in accordance with the Factlink <%= link_to("Privacy Policy", pages_path("privacy")) %>, with these Terms and Conditions, with any
      applicable laws and regulations, including without limitation any local laws or regulations in your country,
      state, city, or other governmental area, regarding online conduct and acceptable content, and including all
      applicable laws regarding the transmission of technical data exported from the United States or the country in
      which you reside, and with any other applicable policy or terms and conditions.
    </li>
    <li>
      <strong>Indemnification.</strong> You agree to defend, indemnify and hold harmless Factlink, its contractors
      and its licensors, and their respective directors, officers, employees and agents from and against any and all
      claims and expenses, including attorneys' fees, arising out of your use of the Service, including but not limited
      to out of your violation of any representation or warranty contained in these Terms and Conditions.
    </li>
    <li>
      <strong>Termination.</strong> Factlink may terminate this Agreement, your rights under this Agreement, and
      your access to and use of the Website and Service in its sole discretion, for any reason or no reason at all,
      (including but not limited to failure to pay your fees), with or without cause and without notice or
      liability to you or any third party. Any termination of these Terms and Conditions automatically terminates
      the license to use the Service and this Website and to use your API Key. You may terminate these Terms and
      Conditions for any reason upon thirty (30) days prior written notice to Factlink.
    </li>
    <li>
      <strong>Survival.</strong> Upon termination, all rights and obligations created by this Agreement will
      terminate, except that you will continue to be bound by those terms that would by their nature survive
      such termination, including without limitation those concerning intellectual property rights, disclaimers
      of warranties and limitations of liability; representations, warranties and indemnity obligations; and
      general provisions.
    </li>
    <li>
      <strong>Miscellaneous.</strong> These Terms and Conditions constitute the entire agreement between Factlink
      and you concerning the subject matter hereof, and they may only be modified by a written amendment signed
      by an authorized executive of Factlink, or by the posting by Factlink of a revised version. Except to the
      extent applicable law, if any, provides otherwise, these Terms and Conditions, any access to or use of the
      Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law
      provisions, and the proper venue for any disputes arising out of or relating to any of the same will be
      the state and federal courts located in San Francisco County, California. If any part of these Terms and
      Conditions is held invalid or unenforceable, that part will be construed to reflect the parties' original
      intent, and the remaining portions will remain in full force and effect. A waiver by either party of any
      term or condition of these Terms and Conditions or any breach thereof, in any one instance, will not waive
      such term or condition or any subsequent breach thereof. Factlink may assign its rights under these Terms and
      Conditions without condition. These Terms and Conditions will be binding upon and will inure to the benefit of
      the parties, their successors and permitted assigns. These Terms and Conditions will be binding upon and will
      inure to the benefit of the parties, their successors and permitted assigns.
    </li>
  </ol>
</div>
<% content_for :javascript do %>
<script>
  (function() {
    $('#real_tos').preventScrollPropagation();
  })();
</script>
<% end %>
