<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "tos" %>
<% end %>
<div id="tos">

  <% if can? :sign_tos, current_user %>
    <% if current_user.errors.any? %>
      <div class="alert-block alert-error">
        <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= render "terms_of_service" %>

  <% if can? :sign_tos, current_user %>
    <%= form_for(current_user, url: tos_path, method: "POST") do |f| %>

      <div class="row">
        <%= f.label "Name*" %>
        <div class="field">
        <%= f.text_field :agrees_tos_name, required: true %>
        </div>
      </div>

      <div class="row">
        <%= f.label "Email address*" %>
        <div class="field">
        <%= f.email_field :email, value: current_user ? current_user.email : "", required: true, readonly: true %>
        </div>
      </div>


      <div class="tos_checkbox">
        <%= f.check_box :agrees_tos, required: true %>
        <%= f.label :agrees_tos, "I accept the (pre) beta agreement and terms & conditions. *" %>
      </div>

      <div class="explanation">* fields are required</div>

      <div class="actions">
        <%= f.submit "Continue", class: "btn" %>
      </div>
    <% end %>
  <% else %>
    <div class="center">
      <%= link_to("Go back to your profile", user_profile_path(current_user)) %>
    </div>
  <% end %>
</div>
