<tr>
  <td><%= factlink_top.displaystring %></td>
	<td><%= factlink_top.created_at.strftime("%d %b %Y") %></td>
  <td><%= link_to 'Show', factlink_top %></td>
  <td><%= link_to 'Edit', edit_factlink_top_path(factlink_top) %></td>
  <td><%= link_to 'Destroy', factlink_top, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>