

<%= form_for(@factlink_top) do |f| %>
  <% if @factlink_top.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factlink_top.errors.count, "error") %> prohibited this factlink_top from being saved:</h2>

      <ul>
      <% @factlink_top.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<script type="text/javascript">
		parent.remote.resetStyle();
		parent.remote.setFrameType("show");
		parent.remote.showOverlay();
		parent.remote.highlightNewFactlink("<%= @factlink_top.displaystring %>", "<%= @factlink_top.id %>");
	</script>
	<div class="fl-stats">
		<ul class="fl-stats-bar">
			<li class="fl-bar-support" style="height: 50%;">100</li>
			<li class="fl-bar-maybe" style="height: 20%;">40</li>
			<li class="fl-bar-refute" style="height: 30%;">60</li>
		</ul>
		<span class="fl-stats-count">419,420</span>
	</div>

	<div class="fl-factlink">
		<h1>&#8220;<%= @factlink_top.displaystring %>&#8221;</h1>
	</div>


	<div class="fl-clear"></div>


	<div class="fl-edit-tags">
		<%= f.label "Tags" %>
		<%= f.text_field :tags, :placeholder => "Example, longer example, ...", :style => "width: 340px;" %>
	</div>
	
  <div class="actions" style="float: right; padding: 10px; display: block;">
    <%= f.submit "Update this Factlink" %> or <%= link_to("go back", factlink_top_path(@factlink_top), :style => "color: inherit;") %>
  </div>


<% end %>

<div class="fl-clear"></div>

	<pre style="text-align: center;"><span style="font-size: 0.75em;">alpha development version 0.0481</span></pre>
	<pre style="text-align: center;"><span style="font-size: 0.75em;"><%= current_user.email %></span></pre>
	<br/>
