<%= form_for FactlinkSub.new, :remote => true do |f| %>

	<%= f.hidden_field :factlink_top_id, :value => @factlink_top.id %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %>
		<span id="factlink_sub_title_error" style="display: none;">Please input a title</span>
  </div>
  <div class="field">
    <%= f.text_area :content, :rows => 4, :cols => 45, :placeholder => "Supporting statements" %>
  </div>

  <div class="field">
    <%= f.text_field :url, :placeholder => "Url where the statement can be found" %>
  </div>

  <div class="actions" style="padding: 10px; margin: 0 auto; text-align: center;">
		<%= f.submit "Add this source", :class => "button confirm" %>
		<a onclick="javascript: $('#fl-sources-popup').fadeOut('fast'); ">or cancel</a>
	</div>


<% end %>