<!DOCTYPE html>
<html>
<head>
	<title>Intermediate action</title>
	<script type="text/javascript" src="/client/easyXDM/work/easyXDM.min.js"></script>
	<style type="text/css">
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background: transparent;
		}
		
		iframe {
			height: 100%;
			width: 100%;
			border: 0;
		}
		
		form {
			display: none;
		}
	</style>
	<script type="text/javascript">
			// The form
		var form = document.getElementById("form"),
			// The iFrame
			iframe = document.getElementById("frame"),
			// The global remote object
			remote = new easyXDM.Rpc({
				swf: "/client/easyXDM/src/easyxdm.swf"
			}, {
				remote: {
					positionFrame: {},
					setFrameBounds: {},
					hideFrame: {}
				},
				local: {
					prepareNewFactlink: function() {
						// Set the source of the iframe
						iframe.src = "<%= factlink_prepare_path %>";
					},
					showFactlink: function(id) {
						// Set the source of the iframe
						iframe.src = "/factlink/show/" + id;
					}
				}
			});
	</script>
</head>
<body>
	<form method="post" action="<%= factlink_new_path %>" id="form">
		<input type="text" name="url" value="<%= @url %>">
		<textarea name="passage">
			<%= @passage %>
		</textarea>
		<input type="text" name="fact" value="<%= @fact %>">
	</form>
	<iframe src="<%= eval @path if @path %>" id="frame"></iframe>
</body>
</html>