<!DOCTYPE html>
<html>
<head>
	<title>Intermediate action</title>
	<script type="text/javascript" src="/client/easyXDM/work/easyXDM.min.js"></script>
	<style type="text/css">
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background: transparent;
		}
		
		iframe {
			height: 100%;
			width: 100%;
			border: 0;
		}
		
		form {
			display: none;
		}
	</style>
</head>
<body>
	<form method="post" action="<%= factlink_new_path %>" target="frame" id="form">
		<input type="text" name="url" id="url" value="<%= @url %>">
		<textarea name="passage" id="passage">
			<%= @passage %>
		</textarea>
		<input type="text" name="fact" id="fact" value="<%= @fact %>">
	</form>
	<iframe src="<%= eval @path if @path %>" name="frame" id="frame"></iframe>
	
	<script type="text/javascript">
			// The form
		var form = document.getElementById("form"),
			// The iFrame
			iframe = document.getElementById("frame"),
			// The global remote object
			remote = new easyXDM.Rpc({
				swf: "/client/easyXDM/src/easyxdm.swf"
			}, {
				remote: {
					positionFrame: {},
					setFrameBounds: {},
					resetStyle: {},
					hideFrame: {},
					showFrame: {},
					setFrameType: {},
					showOverlay: {},
					hideOverlay: {},
					highlightNewFactlink: {}
				},
				local: {
					prepareNewFactlink: function( factlink, passage, url ) {
						// Set form data
						document.getElementById("fact").value = factlink;
						document.getElementById("passage").value = passage;
						document.getElementById("url").value = url;
						
						// Set the source of the iframe
						iframe.src = "<%= factlink_prepare_path %>";
					},
					showFactlink: function(id) {
						// Set the source of the iframe
						iframe.src = "/factlink/show/" + id;
					}
				}
			}),
			// Create the Factlink
			createFactlink = function( choice ) {
				//@TODO: Submit the choice of the user
				// Submit the form
				form.submit();
			};
	</script>
</body>
</html>