<!-- <div class="fl-modal">
	<div class="fl-container"> -->
		<script type="text/javascript">
			parent.remote.resetStyle();
			parent.remote.setFrameType("show");
			parent.remote.showOverlay();

			parent.remote.setFrameBounds(440, 370);
		</script>		

		<div id="fl-loading-indicator" style="display: none; z-index: 10; position: absolute; width: 80px; height: 30px; top: 160px; left: 174px; border: solid 4px rgba(0,0,0,0.2); border-radius: 4px; background-color: #eee; margin: 0 auto; text-align: center; padding-top: 12px;">
			<%= image_tag "icons/loading-indicator-white.gif" %>
		</div>

		<%= current_user.email %>
		
		
		<div class="fl-stats">
			<ul class="fl-stats-bar">
				<li id="fl-bar-refute-score" class="fl-bar-refute" style="height: <%= @factlink_top.percentage_score_denies %>%;"></li>
				<li id="fl-bar-maybe-score" class="fl-bar-maybe" style="height: <%= @factlink_top.percentage_score_maybe %>%;"></li>
				<li id="fl-bar-support-score" class="fl-bar-support" style="height: <%= @factlink_top.percentage_score_proves %>%;"></li>
			</ul>
			<span id="fl-stats-count" class="fl-stats-count"><%= @factlink_top.stats_count %></span>
		</div>
		
		<div class="fl-factlink">
			<h1><a style="text-decoration: none; color: inherit;" href="<%= edit_factlink_top_path(@factlink_top) %>">&#8220;<%= @factlink_top.displaystring %>&#8221;</a></h1>
		</div>
		
		
		
		<div class="fl-clear"></div>
		
		<div class="fl-tags">
			<ul>
					<% (@factlink_top.tags_array || []).each do |tag| %>

					<a href="<%= edit_factlink_top_path(@factlink_top) %>" style="text-decoration: none;">						
						<li><%= tag %></li>
					</a>
					<% end %>

				<a href="<%= edit_factlink_top_path(@factlink_top) %>" style="text-decoration: none;">
					<li class="fl-tag-add">+</li>
				</a>

			</ul>
			
			<a href="<%= edit_factlink_top_path(@factlink_top) %>">edit tags</a>
		</div>
		
		<div class="fl-clear"></div>
		
		<div class="fl-scroll-pane">
			<ol id="fl-sources-list" class="fl-sources">

				<% unless @factlink_top.factlink_subs.count > 0 %>					

					<li id="no-facts-message">
						<h4>No facts have been added yet.</h4>
						<a onclick="javascript: $('#fl-sources-popup').fadeIn('fast'); ">Add source</a>
					</li>

				<% else %>

					<% @factlink_top.factlink_subs.each do |factlink_sub| %>	
						<%= render :partial => 'factlink_subs/sub', :locals => {:factlink_sub => factlink_sub} %>
					<% end %>
				<% end %>

			</ol>
		</div>

		<div class="" style="padding: 10px 0px 10px 0px; float: right;">
			<a onclick="javascript: $('#fl-sources-popup').fadeIn('fast'); " class="button ">Add source</a>
		</div>
		
		<div class="fl-clear"></div>

		<!-- Add sources popup -->
		<div id="fl-sources-popup" style="display: none;">
			<%= image_tag "icons/close-button.png", :class => "close-button", :style => "position: absolute; top: -18px; left: 370px;", :onclick => "$('#fl-sources-popup').fadeOut('fast');" %>
			<%= render :partial => "remote_form" %>
		</div>
	