<!-- <div class="fl-modal">
	<div class="fl-container"> -->
		<script type="text/javascript">
			parent.remote.resetStyle();
			parent.remote.setFrameType("show");
			parent.remote.showOverlay();
		</script>		
		<div class="fl-stats">
			<ul class="fl-stats-bar">
				<li class="fl-bar-support" style="height: 50%;">100</li>
				<li class="fl-bar-maybe" style="height: 20%;">40</li>
				<li class="fl-bar-refute" style="height: 30%;">60</li>
			</ul>
			<span class="fl-stats-count">419,420</span>
		</div>
		
		<div class="fl-factlink">
			<h1><a style="text-decoration: none; color: inherit;" href="<%= edit_factlink_top_path(@factlink_top) %>">&#8220;<%= @factlink_top.displaystring %>&#8221;</a></h1>
		</div>
		
		<div class="fl-clear"></div>
		
		<div class="fl-tags">
			<ul>
					<% (@factlink_top.tags_array || []).each do |tag| %>

					<a href="<%= edit_factlink_top_path(@factlink_top) %>" style="text-decoration: none;">						
						<li><%= tag %></li>
					</a>
					<% end %>

				<a href="<%= edit_factlink_top_path(@factlink_top) %>" style="text-decoration: none;">
					<li class="fl-tag-add">+</li>
				</a>

			</ul>
			<a href="<%= edit_factlink_top_path(@factlink_top) %>">more...</a>
		</div>
		
		<div class="fl-clear"></div>
		
		<div class="fl-scroll-pane">
			<ol class="fl-sources">

				<% unless @factlink_top.factlink_subs.count > 0 %>
					<p style="margin-left: 12px;">No facts have been added yet.</p>
				<% else %>
					<% @factlink_top.factlink_subs.each do |factlink_sub| %>	
						<li>
							<span class="fl-source-up"></span>
							<span class="fl-source-down"></span>
							<h4><%= factlink_sub.title %></h4>
							<span class="fl-source">source: <a href="javascript:void();"><%= factlink_sub.url %></a></span>
						</li>
					<% end %>
				<% end %>

			</ol>
		</div>