<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>31 May 2012</time>
  <h1 class="on-your-site-content-heading">Don’t look for a UX guy, be a UX guy</h1>

  <p>The current <%= link_to 'meme', 'http://techcrunch.com/2012/04/15/stop-looking-for-a-technical-co-founder/' %> going around Silicon Valley and startup land is that any founder needs to be a technical founder and be able to program. Don’t look for a technical co-founder, be a technical co-founder. Even more, <%= link_to 'every employee', 'http://sachagreif.com/please-learn-to-code/' %> at an internet startup needs to be able to program. No marketing directors, <%= link_to 'growth hackers', 'http://startup-marketing.com/where-are-all-the-growth-hackers/' %> Lot’s of debate, which is good.</p>

  <p>For those who are all-in on these ideas, I would like to raise the bar and say: don’t look for a UX co-founder, be a UX co-founder. Don’t look for a UX guy, be a UX guy.</p>

  <p>I have to agree that founders with a technical background have build the most amazing companies (Google, Facebook, Twitter). As an entrepreneur and programmer-not-in-active-duty, every day I see people at Factlink that have learned to program come up with smart ways to make things better. Having really learned to build software shapes our ability to analyze problems in a structured fashion. This is great.</p>

  <p>The premise of the programmer meme is that being a programmer shapes your ability to think in a way necessary at a web startup. However, since we want to skate where the puck is going and not to where it is, we have to look at where web startups are going.</p>

  <p>Ron Conway recently stated: <%= link_to 'UI is the new IP', 'http://www.twilio.com/blog/2011/09/ron-conway-twilio-mega-trends.html' %>. I believe UX is the new IP too. Even though each person has their own level of potential when it comes to creating artistic and beautiful things, there are many aspects of UX development that come down to being really persistent in iterating and discovering what works.</p>

  <p>To build a great UX, one has to step back and think about what’s most important, try to come up with the most simple and shortest path to get there, build, analyze what works and why(not), measure, test, rinse, and repeat. Sounds a lot like programming doesn’t it? Maybe what it means to be a programmer is changing and UX development of great web apps just becomes part of it.</p>

  <p>I think the greatest companies of the next few years will be build by teams that consist of people that can program AND can do UX.</p>

<% end %>
