<% content_for :header do %>
  <h1 class="header-heading">Blog</h1>
  <p class="header-tagline">
    Musings of a startup.
  </p>
<% end %>

<% content_for :content do %>

  <h1 class="on-your-site-content-heading"><%= link_to "The Annotated Web", blog_the_annotated_web_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Learning from Discussions", blog_learning_from_discussions_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #10", discussion_of_the_week_10_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #9", discussion_of_the_week_9_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #8", discussion_of_the_week_8_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #7", discussion_of_the_week_7_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #6", discussion_of_the_week_6_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #5", discussion_of_the_week_5_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #4", discussion_of_the_week_4_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #3", discussion_of_the_week_3_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #2", discussion_of_the_week_2_path %></h1>

  <h1 class="on-your-site-content-heading"><%= link_to "Discussion of the Week #1", discussion_of_the_week_1_path %></h1>

<% end %>
