<% content_for :header do %>
  <h1 class="header-heading">Blog</h1>
  <p class="header-tagline">
    Musings of a startup.
  </p>
<% end %>

<% content_for :content do %>

  <h2>2014</h2>

  <h1 class="static-pages-heading-h1"><%= link_to "4 Lessons You Can Learn from Factlink’s Pivot", blog_4_lessons_you_can_learn_from_factlinks_pivot_path %></h1>

  <h2>2013</h2>

  <h1 class="static-pages-heading-h1"><%= link_to "The Annotated Web", blog_the_annotated_web_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Learning from Discussions", blog_learning_from_discussions_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #10", blog_discussion_of_the_week_10_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #9", blog_discussion_of_the_week_9_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #8", blog_discussion_of_the_week_8_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #7", blog_discussion_of_the_week_7_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #6", blog_discussion_of_the_week_6_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #5", blog_discussion_of_the_week_5_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #4", blog_discussion_of_the_week_4_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #3", blog_discussion_of_the_week_3_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #2", blog_discussion_of_the_week_2_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Discussion of the Week #1", blog_discussion_of_the_week_1_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Stubbing the object under test and getting away without it", blog_stubbing_the_object_under_test_and_getting_away_without_it_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "One-legged standup", blog_one_legged_standup_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "YOLO: spend less time deploying, more time for development", blog_yolo_spend_less_time_deploying_more_time_for_development_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Increasing Development Speed by Decreasing Cycle Time", blog_increasing_development_speed_by_decreasing_cycle_time_path %></h1>

  <h2>2012</h2>

  <h1 class="static-pages-heading-h1"><%= link_to "How APIs should be: Drop in keys, running in 1 minute", blog_how_apis_should_be_drop_in_keys_running_in_1_minute_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Don’t look for a UX guy, be a UX guy", blog_dont_look_for_a_ux_guy_be_a_ux_guy_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Building a collective perspective", blog_building_a_collective_perspective_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Knights News Challenge", blog_knights_news_challenge_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Development Process", blog_development_process_path %></h1>

  <h1 class="static-pages-heading-h1"><%= link_to "Collective Knowledge", blog_collective_knowledge_path %></h1>

<% end %>
