<!doctype html>
<html>
	<head>
		<%= stylesheet_link_tag "frontend" %>
		<%= javascript_include_tag "feedback" %>
	</head>
	<body class="feedback_form">

		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h3>Provide us with feedback</h3>
  		</div>
	
		<p>
			Got stuck somewhere or is something not working properly? Just send us a quick note and we'll be on it.
		</p>

		<% if params[:state] %>
			<% if params[:state] == "success" %>
				<div class="alert alert-success">
					<a class="close" href="#" data-dismiss="alert">x</a>
					Your feedback has succesfully been submitted.
				</div>
			<% elsif params[:state] == "error" %>
				<div class="alert alert-error">
					<a class="close" href="#" data-dismiss="alert">x</a>
					Something went wrong while submitting your feedback, did you fill in all the fields?
				</div>
			<% end %>
		<% end %>

		<form action='https://factlink.sirportly.com/remote_form/<%= FactlinkUI::Application.config.sirportly_webform_id %>' method='POST'>
			<% if current_user %>
				<div class="hidden">
					<input name='ticket[name]'  id="ticket_name"  value="<%= current_user.username %>">
					<input name='ticket[email]' id="ticket_email" value="<%= current_user.email %>">
				</div>
			<% else %>
				<input type="text" id="ticket_name"  name='ticket[name]' placeholder='Full name'>
				<input type="text" id="ticket_email" name='ticket[email]' placeholder='E-mail address'>
			<% end %>

			<input type="text" id="ticket_subject" name="ticket[subject]" placeholder="Message subject">
			<textarea  id="ticket_message" name="ticket[message]" placeholder="How can we be of service to you?"></textarea>

			<input type="button" class="btn cancel" value="Cancel">
		  <input type='submit' name='send' value='Send feedback' class="submit btn-primary btn" />
		</form>
	</body>
</html>
