<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "base" %>
    <%= javascript_include_base %>
  </head>
  <script type="text/javascript">
    $(function () {
      updateHeight();
      $(window).on('resize', updateHeight);
    });

    function updateHeight() {
      var $feedback_frame = window.parent.$('.js-feedback-resize');
      var $iframe = $feedback_frame.find('iframe');

      $iframe.css({
        height: $('body').outerHeight()
      });

      $feedback_frame.css({
        marginTop: - $feedback_frame.outerHeight()/2 + "px"
      });
    }

    function onCloseFrame() {
      $('.alert').remove();
    }
  </script>
  <body class="feedback_form">
    <p>
      Got stuck somewhere or is something not working properly? Just send us a quick note and we'll be on it.
    </p>

    <% if params[:state] %>
      <% if params[:state] == "success" %>
        <div class="alert alert-success">
          <a class="close" href="#" data-dismiss="alert">x</a>
          Your feedback has successfully been submitted.
        </div>
      <% elsif params[:state] == "error" %>
        <div class="alert alert-error">
          <a class="close" href="#" data-dismiss="alert">x</a>
          Something went wrong while submitting your feedback, did you fill in all the fields?
        </div>
      <% end %>
    <% end %>

    <form action='https://factlink.sirportly.com/remote_form/<%= FactlinkUI::Application.config.sirportly_webform_id %>' method='POST'>
      <% if current_user %>
        <div class="hidden">
          <input name='ticket[name]'  id="ticket_name"  value="<%= current_user.username %>">
          <input name='ticket[email]' id="ticket_email" value="<%= current_user.email %>">
        </div>
      <% else %>
        <input type="text" id="ticket_name"  name='ticket[name]' placeholder='Full name'>
        <input type="text" id="ticket_email" name='ticket[email]' placeholder='E-mail address'>
      <% end %>

      <input type="text" id="ticket_subject" name="ticket[subject]" placeholder="Message subject">
      <textarea  id="ticket_message" name="ticket[message]" placeholder="How can we be of service to you?"></textarea>

      <%= submit_tag "Send feedback", "data-disable-with" => "Sending feedback...", :class => "submit button button-confirm", :name => "send" %>
    </form>
  </body>
</html>
