<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal setup-account" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <% if params[:msg] %>
    <h1>Hi <%= @user.username %>, set up your account here:</h1>
  <% end %>

  <div class="setup-account-form">
    <%= possible_error_for_field(resource, :reset_password_token) %>

    <% if params[:msg] %>
      <div class="control-group">
        <%= f.label :first_name, "First name", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :first_name, required: true %>
          <%= possible_error_for_field(resource, :first_name) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name, "Last name", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :last_name, required: true %>
          <%= possible_error_for_field(resource, :last_name) %>
        </div>
      </div>
    <% else %>
      <h1>Change your password</h1>
    <% end %>

    <div class="control-group">
      <%= f.label :password, "New password", class: "control-label" %>

      <div class="controls">
        <%= f.password_field :password, required: true %>
        <%= possible_error_for_field(resource, :password) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm new password", class: "control-label" %>

      <div class="controls">
        <%= f.password_field :password_confirmation, required: true %>
        <%= possible_error_for_field(resource, :password_confirmation) %>
      </div>
    </div>

    <% if params[:msg] == 'welcome' %>
      <%= hidden_field_tag :msg, 'welcome' %>
    <% end %>

    <div class="form-actions">
      <%= f.submit(params[:msg] ? "Next Step" : "Change my password", class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
