<% if params[:msg] %>
  <h1>Hi <%= @user.username %>, set up your account here:</h1>
<% else %>
  <h1>Change your password</h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="control-group">
    <%= f.label :password, "New password", class: "control-label" %>

    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm new password", class: "control-label" %>

    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <% if params[:msg] == 'welcome' %>
    <%= hidden_field_tag :msg, 'welcome' %>
  <% end %>

  <div class="form-actions">
    <%= f.submit(params[:msg] ? "Next Step" : "Change my password", class: 'btn btn-primary') %>
  </div>
<% end %>
