<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal setup-account" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="setup-account-form">
    <%= possible_error_for_field(resource, :reset_password_token) %>

    <h1>Change your password</h1>

    <div class="control-group">
      <%= f.label :password, "New password", class: "control-label" %>

      <div class="controls">
        <%= f.password_field :password, required: true %>
        <%= possible_error_for_field(resource, :password) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm new password", class: "control-label" %>

      <div class="controls">
        <%= f.password_field :password_confirmation, required: true %>
        <%= possible_error_for_field(resource, :password_confirmation) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit("Change my password", class: 'button button-confirm') %>
    </div>
  </div>

<% end %>
