<% if can? :access, Ability::FactlinkWebapp %>
<li class="dropdown" data-dropdown="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%= image_tag('info.png') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="chrome_extension_download"><a href="<%= FactlinkUI::Application.config.static_url %>/chrome/factlink-latest.crx"><%= image_tag("chromeGrayIcon.png", style: "padding-right: 4px") %>Chrome Extension <span class="label label-warning chrome_install">Install</span></a></li>
    <li><a onclick="return false" title="You can drag this Bookmarklet to your bookmarks bar. Suitable for browsers other than Chrome." class="bookmarklet"
           <%# here we need singlequotes kthxbye: %>
           href='javascript:<%= minify_js(ensure_no_single_quotes(render 'home/bookmarklet.js')) %>'><%= image_tag("bookmarkletGrayIcon.png") %><span class="bookmarklettext"style="display: none">Factlink</span></a></li>
    <li class="divider"></li>
    <li><%= link_to "Help", pages_path("help") %></li>
    <li><a class="take-the-tour" data-toggle="modal">Take the tour</a></li>
    <li><%= link_to "Privacy Policy", privacy_path %></li>
    <li><%= link_to "Terms of Service", tos_path %></li>
    <% if can_haz :version_number %>
      <li><a>Version <%= FactlinkUI::Application.config.version_number %></a></li>
    <% end %>

  </ul>
</li>
<% end %>
