<div id="sign-in-form" class="span8">
  <%= form_for("user", :url => user_session_path) do |f| %>
    <%= link_to "Can't access?", new_password_path('user'), id: :cannot_access_account, tabindex: '4' %>
    <div class="input-fields">
      <%= f.text_field     :login,    id: "user_login",    placeholder: "Username or email",    tabindex: '1' %>
      <%= f.password_field :password, id: "user_login_password", placeholder: "Password", tabindex: '2' %>
      <%= f.submit 'Sign in', disable_with: 'Signing in...', class: 'btn', tabindex: '3' %>
    </div>
  <% end %>
</div>
