<div class="fl-popup fl-create">
  <div class="fl-label">
    <span class="fl-create"><a href="#"><%= t(:add_fact).humanize %>
        <img src=<%= "#{jslib_url_for(current_user.username)}/images/arrow.png" %> alt="">
    </a></span>
    <span class="fl-created"><%= t(:added_fact).humanize %></span>
  </div>

  <ul class="fl-add-options">
    <li><a href="#" id="beliefs"><%= t(:fact_believe_action).humanize %></a></li>
    <li><a href="#" id="doubts"><%= t(:fact_doubt_action).humanize %></a></li>
    <li><a href="#" id="disbeliefs"><%= t(:fact_disbelieve_action).humanize %></a></li>
  </ul>

  <div class="fl-arrow fl-arrow-bottom"></div>
</div>
