<html>
<head>
  <%= stylesheet_link_tag("#{FactlinkUI::Application.config.static_url}lib/src/css/basic.css") %>  
</head>
<body>
<div id="fl">

  <div class="fl-popup">
    
    <div class="fl-share">
      <img class="fl-share-icon" src=<%= "#{FactlinkUI::Application.config.static_url}lib/src/images/bookmark.gif" %> alt="Share">
    </div>

    <div class="fl-label">
      <span>Show</span>
      
      <div class="fl-indication">
        <span class="fl-authority">123k</span>
        <div class="fl-icon {%= highestOpinion.name %}" style="background-image: url('<%= "#{FactlinkUI::Application.config.static_url}lib/src/images/simple_indicators.png" %>')">
        </div>
      </div>
    </div>

    <ul class="fl-channels">
      <li><label><input type="checkbox">Nutrition</label></li>
      <li><label><input type="checkbox">iPhone 4s</label></li>
      <li><label><input type="checkbox">Financieel rijbewijs</label></li>
    </ul>

    <!-- <div class="fl-arrow fl-arrow-top"    style="background-image: url('<%= "#{FactlinkUI::Application.config.static_url}lib/src/images/arrows-up.png" %>')"></div> -->
    <div class="fl-arrow fl-arrow-bottom" style="background-image: url('<%= "#{FactlinkUI::Application.config.static_url}lib/src/images/arrows-down.png" %>')"></div>
  </div>

</div>
</body>
</html>