<header class="container append-bottom">
  <div class="column span-6" id="logo">
    <h1><%= link_to '<img src="/images/logo-gray.png" alt="factlink">'.html_safe, root_path %> </h1>
  </div>

  <div id="sign-in-form" class="prepend-4 span-14 last">
    <% unless user_signed_in? %>
      <%= form_for("user", :url => user_session_path) do |f| %>
        <div class="input-fields">
          <%= f.text_field :email, placeholder: "Email" %>
          <%= f.password_field :password, placeholder: "Password" %>
          <%= f.submit 'Sign in', class: 'btn' %>
          </div>

          <%= link_to "Forgot your password?", new_password_path('user') %>
        <% end %>
      <% end %>
    </div>
  </header>