<div id="alerts"></div>

<% if alert || notice %>
<div class="alert<%= alert ? " alert-error" : (notice ? " alert-success" : "") %>">
  <a class="close" href="#" data-dismiss="alert">x</a>
  <%= notice || '' %>
  <%= alert  || '' %>
</div>
<% end %>

<%= yield :notifications %>

<% if @show_supported_browser_warning %>
  <% content_for :javascript do %>
    <script type="text/javascript">
      FactlinkApp.NotificationCenter.error("Your browser is not fully supported. To get the full Factlink experience we recommend using Google Chrome. <a href='<%= pages_path("help/supported-browsers") %>'>Learn more...</a>", disablePreferredBrowserMessage);

      function disablePreferredBrowserMessage() {
        $.ajax({
          type: 'PUT',
          url: '<%= see_message_path %>',
          data: {
            message: "supported_browser_warning"
          }
        });
      }
    </script>
  <% end %>
<% end %>
