<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h3>
            <a class="brand" href="/"><%= image_tag('factlink-logo-beta.png', width: 133, height: 20 ) %></a>
          </h3>
        </div>
        <% if current_user %>
        <div class="span9">
          <% if can? :index, Fact %>
            <%= render "facts/fact_search" %>
          <% end %>

          <ul class="nav secondary-nav pull-right">
            <% if can? :access, Ability::AdminArea %>
              <%= render "home/topbar/admin_menu" %>
            <% end %>

            <%= render "home/topbar/notifications" %>
            <%= render "home/topbar/user_menu" %>
            <%= render "home/topbar/info_menu" %>
          </ul>
        </div>
        <% else %>
        <div id="sign-in-form" class="span8">
            <%= form_for("user", :url => user_session_path) do |f| %>
            <%= link_to "Can't access?", new_password_path('user'), id: :cannot_access_account, tabindex: '4' %>

              <div class="input-fields">
                <%= f.text_field     :login,    id: "user_login",    placeholder: "Username or email",    tabindex: '1' %>
                <%= f.password_field :password, id: "user_login_password", placeholder: "Password", tabindex: '2' %>
                <%= f.submit 'Sign in', disable_with: 'Signing in...', class: 'btn', tabindex: '3' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
