<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span3">

          <% if @step_in_signup_process %>
            <span class="brand">
            <%= image_tag('factlink-logo-beta.png', width: 133, height: 20 ) %>
          </span>
          <% else %>
            <%= link_to click_path(:logo), class: 'brand' do %>
              <%= image_tag('factlink-logo-beta.png', width: 133, height: 20 ) %>
            <% end %>
          <% end %>

        </div>
        <% if @step_in_signup_process %>
          <%= render "home/topbar/signup" %>
        <% elsif current_user %>
          <div class="span9">
            <% if can? :index, Fact %>
              <%= render "facts/fact_search" %>
            <% end %>

            <ul class="nav secondary-nav pull-right navbar-options">
              <li><%= link_to "Home", click_path(:home) %></li>
              <% if can? :access, Ability::AdminArea %>
                <%= render "home/topbar/admin_menu" %>
              <% end %>

              <%= render "home/topbar/notifications" %>
              <%= render "home/topbar/user_profile" %>
              <%= render "home/topbar/topbar_menu" %>
            </ul>
          </div>
        <% else %>
          <%= render "home/topbar/not_signed_in"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
