<% content_for :payoff do %>
  <h2>Building a collectively reviewed perspective on the world's information</h2>
  <p> Because the web needs what you know!</p>
<% end %>

<% content_for :sign_up do %>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-error">
      <%= alert %>
    </div>
  <% end %>

  <h3>Reserve your username</h3>
  <p>We'll get you account access as we're opening up for more users.</p>
  <%= render template: "users/registrations/new" %>
  &nbsp;

<% end %>


<% content_for :selling_points do %>
  <h3>Why use Factlink</h3>
  <ul>
    <li class="image-chart">Build authority on any topic, discover expertise</li>
    <li class="image-people">Share what you know, contribute to people's perspective</li>
    <li class="image-globe">Check the credibility of the information you are reading</li>
    <li class="image-money">Free information access. Period</li>
  </ul>
<% end %>


<% content_for :top_facts do %>
  <% cache :top_factlinks, expires_in: 5.minutes do%>
    <h3>Top factlinks</h3>
    <ul id="top-factlinks">
    <% top_facts(3).each do |f| %>
      <li>
        <%= render_mustache 'facts/fact_bubble',  fact: f, hide_links: true %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% content_for :movie do %>
    <a data-toggle="modal" href="#videoModal" id="watchVideoButton"></a>
    <div class="modal fade" id="videoModal">

      <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a><br>
      </div>

      <div class="modal-body">
      </div>
    </div>
<% end %>


<% content_for :new_sign_up do %>

  <%= render template: "users/registrations/new2", locals: { form_id: "top_registration_form" } %>
  <%= render template: "users/registrations/new2", locals: { form_id: "bottom_registration_form" } %>

<% end %>

<% content_for :javascript do %>
  <% cache :top_factlinks_js, expires_in: 5.minutes do%>
    <script>
      <% top_facts(3).each do |f| %>
        new PassiveWheelView({
          el: $('article[data-fact-id=<%= f.id %>]').find('.wheel'),
          model: new Wheel(<%= Facts::FactWheel.for(fact: f, view: self).to_json.to_s.html_safe %>)
        }).render();
          $('article[data-fact-id=<%= f.id %>]').find('.body .text').trunk8({lines: 2});
      <% end %>

      var iframe = $('<iframe src="https://player.vimeo.com/video/39821677?autoplay=1" width="740" height="416" style="border: 0px;"></iframe>');
      $('#watchVideoButton').click(function(){
        iframe.clone().appendTo($('#videoModal > .modal-body'));
      });

      $('#videoModal').on('hidden', function () {
        $('#videoModal > .modal-body').empty();
      });
    </script>
  <% end %>
<% end %>
