<% content_for :payoff do %>
<h2>Building a collectively reviewed perspective on the world's information</h2>
<p> Because the world needs what you know!</p>

<% end %>

<% content_for :sign_up do %>

  <% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
  <% end %>

  <% if alert %>
  <div class="alert alert-error">
    <%= alert %>
  </div>
  <% end %>

  <h4>Reserve your username</h4>
  <p>We'll get you account access as we're opening up for more users.</p>
  <%= render template: "users/registrations/new" %>
  &nbsp;

<% end %>


<% content_for :selling_points do %>
<h3>Why use Factlink</h3>
<ul>
  <li><%= image_tag("chart.png",  alt: "Pie Chart") %>Build authority on any topic, discover expertise</li>
  <li><%= image_tag("people.png", alt: "People") %>Share what you know, contribute to people's perspective</li>
  <li><%= image_tag("globe.png",  alt: "World") %>Check the credibility of the information you are reading</li>
  <li><%= image_tag("money.png",  alt: "Money") %>Free information access. Period</li>
</ul>
<% end %>


<% content_for :top_facts do %>
  <h3>Top factlinks</h3>
  <ul id="top-factlinks">
  <% @facts.each do |f| %>
    <li><%= render_mustache 'facts/fact_bubble',  fact: f, limit_characters_to_display: 80, hide_links: true %></li>
  <% end %>
  </ul>
<% end %>

<% content_for :movie do %>
  <% if can_haz :intro_video %>
		<a data-toggle="modal" href="#videoModal" id="watchVideoButton"><%= image_tag("watchvideo.png", id: "movie-container", alt: "Fact Wheel") %></a>
		<div class="modal fade" id="videoModal">


      <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a><br>
      </div>

		  <div class="modal-body">

		  </div>
		</div>

  <% else %>
  	<%= image_tag("fact-wheel.png", id: "movie-container", alt: "Fact Wheel") %>
  <% end %>

<% end %>

<% content_for :javascript do %>
  <script>
    $("article.fact").each(function()  {
      $fact = $(this);
      $fact.data("wheel", new Wheel(this));
      $fact.data("wheel").init($fact.find(".wheel").get(0));
    });


    var iframe = $('<iframe src="https://player.vimeo.com/video/39821677?autoplay=1" width="740" height="416" style="border: 0px;"></iframe>');
    $('#watchVideoButton').click(function(){
      iframe.clone().appendTo($('#videoModal > .modal-body'));
    });

    $('#videoModal').on('hidden', function () {
      $('#videoModal > .modal-body').empty();
    });



  </script>
<% end %>
