<div id="leftColumn" class="span-14 append-bottom">

	<div id="related_topics" class="span-14 prepend-top">
		
		<% unless params[:search] == "" %>
			<p>Did you mean '<span class="italic"><%= params[:search] %></span>'?</p>
		<% end %>
		
		<ul class="horizontal">
			<% if @results['topics'].count > 0 %>
				<% @results['topics'][0..3].each do |topic, count| %>
					<li><%= link_to(topic, search_topic_path(topic)) %></li>
				<% end %>
			<% end %>
		</ul>

	</div> <!-- related_topics -->
	
	
	<div id="factlinkContainer">

		<% unless @results['factlinks'].count > 0 %>
			<p><%= @results['factlinks'].count %> results</p>
		<% else %>		

			<% @results['factlinks'].each do |factlink| %>
				<%= render :partial => "factlink_block", :locals => {:factlink => factlink} %>
			<% end %>
			
		<% end %>
	</div> <!-- factlinkContainer -->
	
</div> <!-- leftColumn -->


<div id="rightColumn" class="span-10 prepend-top last">
	
	<div id="rightColumnContainer">
		
		<div id="topics" class="span-10">
			<div class="span-5">
				&nbsp;
				
			</div>
			<div class="span-5 last">
				<h3>Related users (<%= @results['users'].count %>)</h3>

				<ul>
				<% @results['users'].each do |user| %>
					<li><%= user %></li>
				<% end %>
				</ul>
			</div>

			</div>		
		</div> <!-- #topics -->
		
	</div> <!-- #rightColumnContainer -->
	
</div> <!-- #rightColumn -->