<div id="leftColumn" class="span-14 append-bottom">

	<div id="related_topics" class="span-13 prepend-top">

		<ul id="related_topics" class="horizontal">
			<% if @results['related_topics'].count > 0 %>
				<% @results['related_topics'].each do |topic| %>
					<!-- TODO: No partial overflow for multi word topics -->
					<li><%= link_to("##{topic}", search_topic_path(topic)) %></li>
				<% end %>
			<% end %>
		</ul>
		
		<% if @results['spell_check'].length > 0 %>
			<p>Did you mean <span class="italic"><%= link_to(@results['spell_check'], search_topic_path(@results['spell_check']) ) %></span>?</p>
		<% end %>

	</div> <!-- related_topics -->
	
	
	<div id="factlinkContainer" class="span-13">

		<% unless @results['factlinks'].count > 0 %>
			<p><%= @results['factlinks'].count %> results</p>
		<% else %>		

			<% @results['factlinks'].each do |factlink| %>
				<%= render :partial => "factlink_block", :locals => {:factlink => factlink} %>
			<% end %>
			
		<% end %>
	</div> <!-- factlinkContainer -->
	
</div> <!-- leftColumn -->


<div id="rightColumn" class="span-10 prepend-top last">
	
	<div id="rightColumnContainer">
		
		<div id="topics" class="span-10">
			<div class="span-5">
				&nbsp;
				
			</div>
			<div class="span-5 last">
				<h3>Related users (<%= @results['users'].count %>)</h3>

				<ul>
				<% @results['users'].each do |user| %>
					<li><%= user %></li>
				<% end %>
				</ul>
			</div>

			</div>		
		</div> <!-- #topics -->
		
	</div> <!-- #rightColumnContainer -->
	
</div> <!-- #rightColumn -->