<% content_for :javascript do %>
	<%= javascript_include_tag("factlink_overview") %>
	<% if @results.count < @row_count %>
	  <script type="text/javascript">
	    var a = <%= @results.count %>;
	    var b = <%= @row_count %>;
	    window.isFullyLoaded = true;
	    $( '#load_more' ).hide();
      $( '#loading' ).hide();
	  </script>
	<% end %>
<% end %>


<% content_for :left_column do %>
	<%= user_signed_in? ? user_block(current_user) : "&nbsp;".html_safe %>

<% end %>

<% content_for :main_column do %>
	<h1>Factlink search - providing credibility you can see</h1>

	<% unless @results.count > 0 %>
		<div class="append-bottom">
			<ul>
				<li>Your search didn't return any matching results...</li>
			</ul>
		</div>

		<div class="append-bottom">
			Here are some random facts that might be interesting:
		</div>
	
		<%= render :partial => "home/snippets/fact_listing", :locals => {  :facts => Fact.all.sort_by(rand).slice(0..5) } %>
	<% else %>
	  <% unless @results.count > 0 %>
	    <p>No facts added yet.</p>
	  <% else %>
	    <ul id="results-listing">
	      <% @results.each do |result| %>
	        <li>
	         <%= render result %>
	        </li>
	      <% end %>
      </ul>
	  <% end %>
	<% end %>
<% end %>