<% content_for :javascript do %>
  <script>
    var results = new SearchResults(<%= @results.map{|sri| SearchResults::SearchResultItem.for(search_result_item: sri, view: self)}.to_json.html_safe %>, {
      search: "<%= params[:s] %>"
    });

    var searchResultView = new SearchResultView({
      collection: results
    }).render();

    $('#results-listing').append(searchResultView.el);
  </script>
<% end %>


<% content_for :left_column do %>
  <%= user_signed_in? ? render("users/user_li", user: current_user ) : "&nbsp;".html_safe %>
<% end %>


+-----------<br>
@results.count: <b><%= @results.count %></b>
<br>------------+<br><br>


<h1>Searched for: <b><%= params[:s] %></b></h1>

<% unless @results.count > 0 %>
  <div class="append-bottom">
      <p>Sorry, your search didn't return any results.</p>
  </div>
<% else %>
  <ul id="results-listing">
  </ul>
<% end %>
