<div id="first-tour-modal" class="modal hide fade tour-modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= image_tag('factlink-logo.png', height: "24px") %></h3>
  </div>
  <div class="modal-body">
    
    <div id="tour-nav">
      <div class="container">
        <ul id="pagerNav">
        </ul>
      </div>
    </div>
    
    <div id="slider">      
      <!-- Start -->
      <div data-title="Start">
        <div class="container">
          <div class="s3">
            <h1>Providing credibility</h1>
            <p>Factlink helps people find credibility in the world's information. Here is an example Factlink:</p>

            <div class="center" style="margin: 42px 0;">
              <%= image_tag('tour/factlink-example.png') %>
            </div>

            <p>In a few steps you will learn all about Factlink and how to use it.
            <br>Ready?</p>
          </div>
          <div class="s1 last"></div>
        </div>
      </div>
      
      <!-- Factlinks -->
      <div data-title="Factlink">
        <div class="container">
          <div class="s2">
            <h1>Built on knowledge</h1>
            <p>Your opinion is really valuable to Factlink.</p>
            <p>You can express your opinion by clicking on the Fact Wheel. Your options are to agree, disagree or be neutral about a Factlink.</p>
            <p>On hover you will see a percentage of users with that opinion.</p>
          </div>
          <div class="s1 last">
            <div class="center" style="margin-top: 24px;">
            <%= image_tag('tour/fact-wheel.png')%>
            </div>
          </div>
        </div>
      </div>

      
      <!-- Evidence -->
      <div data-title="Evidence">
        <div class="container">
          <div class="s2">
            <h1>Solid as a rock</h1>
            <p>Evidence is used to support or weaken a Factlink.</p>
            <p>When provided with proper evidence and opinions, Factlink can tell whether a statement is considered true or false.</p>
            <p>To keep things simple, you can use existing Factlinks as evidence, or create a new Factlink directly as evidence. Clicking Evidence in the lower left corner of a Factlink will show you how.</p>
          </div>
          <div class="s1 last">
            <div class="center" style="margin-top: 72px;">
            <%= image_tag('tour/factlink-fade.png')%>
            </div>
          </div>
        </div>
      </div>

      <!-- Relations -->
      <div data-title="Relations">
        <div class="container">
          <div class="s2">
            <h1>Connect the dots</h1>
            <p>Evidence is linked to a Factlink by a supporting or weakening relation.</p>
            <p>Express your opinion on the relation by using the arrows: the upward arrow to state that the evidence is relevant for this Factlink, the downward arrow when the evidence is unrelated.</p>
            <p>Supporting evidence is indicated by a blue bubble, weakening evidence by an orange bubble.</p>
          </div>
          <div class="s1 last">
            <div class="center" style="margin-top: 0px;">
            <%= image_tag('tour/relations.png')%>
            </div>
          </div>
        </div>
      </div>

      <!-- Channels -->
      <div  data-title="Channels">
        <div class="container">
          <div class="s1">
            <div class="center" style="margin-top: 24px;">
              <%= image_tag('tour/channels.png')%>
            </div>
          </div>
          <div class="s2 last">
            <h1>Discover Factlink</h1>
            <p>Factlink is a great place to share knowledge. Channels provide an easy way to supply clustered Factlinks to other users.</p>
            <p>For example, you could group all your politic related Factlinks in a ‘Politics’ Channel. Other users can follow this channel with a single click.</p>
          </div>
        </div>
      </div>
      
      <!-- On-page one -->
      <div  data-title="Get ready...">
        <div class="container">
          <div class="s2">
            <h1>Get ready...</h1>
            <p>Use the Factlink website to stay up to date on your Factlinks, or explore other interesting Factlinks by browsing a users’ Channel.</p>
            <p>There is so much information to discover!</p>
            <p>The power of Factlink is that it can be used on almost every web page on the internet. Use the Chrome Extension or bookmarklet to activate Factlink on whatever page you are on.</p>
            
            <div class="center" style="margin-top: 64px;">
              <a href="<%= FactlinkUI::Application.config.static_url %>/chrome/factlink-latest.crx" class="btn success">Chrome Extension</a>
              <a title="You can drag this Bookmarklet to your bookmarks bar. Suitable for browsers other than Chrome." class="bookmarklet" href='javascript:<%= minify_js(ensure_no_single_quotes(render 'home/bookmarklet.js')) %>'>Factlink Bookmarklet</a>
            </div>
          </div>
          <div class="s1 last" style="margin-top: 6px;">
            <h2>Discover Factlink</h2>
            <p>Are you browsing with Google Chrome? Best is to download the Chrome Extension.</p>
            <p>For all other browsers, use the Factlink bookmarklet. Simply drag it onto you bookmark bar. It’s now available for use, simply click it!</p>
          </div>
        </div>
      </div>

      <!-- On-page two -->
      <div data-title="Use it!">
        <div class="container">
          <div class="s2">
            <h1>Start using it. Everywhere!</h1>
          </div>

          <div class="s1" style="margin-top: 12px;">
            <h2>Consume</h2>
            <p>See Factlinks added by other users. Enable highlighting in the Chrome Extension or activate the Bookmarklet.</p>
          </div>

          <div class="s2" style="margin-top: 24px;">
            <h2>Join the conversation</h2>
            <p>Not sure about an online statement? Or do you know evidence that supports or weakens a statement in an article? Than add it to Factlink and share it with the world. With Factlink enabled, just select the section you want to add.</p>
          </div>
          
          <div class="show-factlink">
            <%= image_tag('tour/show-factlink.png')%>
          </div>
          <div class="add-factlink">
            <%= image_tag('tour/add-factlink.png')%>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" id="close" class="btn success hide-modal" style="display:none;">Close this window</a>
    <a href="#" id="next" class="btn primary">next</a>
    <a href="#" id="previous" class="btn" style="display:none;">previous</a>
  </div>
</div>

<%= javascript_include_tag "tour" %>