<div class="create-your-first-factlink">
  <div class="create-your-first-factlink-background"></div>
  <div class="create-your-first-factlink-content">
    <h1>Climate change</h1>
    <hr>
    <p>Climate change is a significant and lasting change in the statistical distribution of weather patterns over periods ranging from decades to millions of years. It may be a change in average weather conditions, or in the distribution of weather around the average conditions (i.e., more or fewer extreme weather events).</p>
    <p>Climate change is caused by factors that include oceanic processes (such as oceanic circulation), variations in solar radiation received by Earth, plate tectonics and volcanic eruptions, and human-induced alterations of the natural world; these latter effects are currently causing global warming, and "climate change" is often used to describe human-specific impacts.</p>

    <p>Scientists actively work to understand past and future climate by using observations and theoretical models. Borehole temperature profiles, ice cores, floral and faunal records, glacial and periglacial processes, stable isotope and other sediment analyses, and sea level records serve to provide a climate record that spans the geologic past.</p>
    <p>More recent data are provided by the instrumental record. Physically based general circulation models are often used in theoretical approaches to match past climate data, make future projections, and link causes and effects in climate change.</p>
  </div>
  <div class="js-extension-button-region"></div>
</div>

<% if can_haz :skip_create_first_factlink %>
  <%= link_to 'Skip this step', next_tourstep_path, id: 'skip-link' %>
<% end %>

<%= content_for :tour_javascript do %>
  <% lib_url = "#{jslib_url}" %>
  <% min = '.min' unless ['development'].include?(Rails.env) %>
  <script>
    $(function() {
      window.tour = new InteractiveTour({el: $('.create-your-first-factlink')});
    });

    window.FactlinkConfig = {
      api: "<%= FactlinkUI::Application.config.api_url %>",
      lib: "<%= lib_url %>",
      srcPath: "/factlink.core<%= min %>.js",
      url: "",
      guided: true
    };
  </script>
  <script src="<%= lib_url %>/factlink<%= min %>.js"></script>
<% end %>
