<div class="install-extension-wrapper">
  <h1 class="tour-header">Congratulations with your first Factlink!</h1>

  <div class="install-extension-middle">
    <div class="install-extension-picture">
      <%= image_tag("icon-client-chrome.png", class: "visible-when-chrome") %>
      <%= image_tag("icon-client-firefox.png", class: "visible-when-firefox") %>
      <%= image_tag("icon-client-bookmarklet.png", class: "visible-when-unsupported-browser") %>
    </div>

    <div class="install-extension-text">
      <div class="visible-when-chrome">
        Now you know how to add a Factlink with the Chrome Extension, it's time to add it to your browser.

        <div class="transparent-border">
          <% if FactlinkUI::Application.config.use_chrome_webstore %>
            <a id="chrome-extension-webstore-button" class="btn btn-primary">Install Chrome Extension</a>
          <% else %>
            <!-- for testserver and staging downloads of the Chrome Extension -->
            <iframe id="ce-download" name="ce-download" height=0 width=0 border=0 style="display:none;"></iframe>
            <a id="chrome-extension-button" target="ce-download" class="btn btn-primary" href="<%= FactlinkUI::Application.config.static_url %>/chrome/factlink-latest.crx">Install Chrome Extension (<%= Rails.env %>)</a>
          <% end %>
        </div>
      </div>

      <div class="visible-when-firefox">
        Now you know how to add a Factlink with the Firefox Extension, it's time to add it to your browser.

        <div class="transparent-border">
          <div class="should-install-firefox-extension">
            <a id="firefox-extension-button" class="btn btn-primary" href="<%= "#{FactlinkUI::Application.config.static_url}/extension/firefox/factlink-latest.xpi" %>">Add Factlink to Firefox</a>
          </div>

          <div class="firefox-extension-installed">
            <button type="button" class="btn btn-large btn-primary disabled">Factlink added to Firefox</button>
          </div>
        </div>
      </div>

      <div class="visible-when-unsupported-browser install-extension-text-unsupported">
        Unfortunately you don't have the appropriate browser to add a Factlink button.
        Fortunately we have a bookmarklet which you can add to your bookmarks.

        <span class="dashed-border">
          <a id="bookmarklet-button" class="bookmarklet btn btn-primary" onclick="return false"
               <%# here we need singlequotes kthxbye: %>
               href='javascript:<%= minify_js(ensure_no_single_quotes(render(:partial => 'home/bookmarklet', :formats => [:js]))) %>'><span style="display: none">Factlink</span></a>
        </span>
      </div>
    </div>
  </div>

  <div class="install-extension-bottom">
    <div class="visible-when-chrome">
      <div class="should-install-chrome-extension">
        <a href="<%= next_tourstep_path(ref: 'chrome_extension_skip') %>">Skip this step</a>
      </div>

      <div class="chrome-extension-installed">
        <a class="btn btn-primary" href="<%= next_tourstep_path(ref: 'chrome_extension_next') %>" data-disable-with="Loading...">Next step</a>
      </div>
    </div>

    <div class="visible-when-firefox">
      <div class="should-install-firefox-extension">
        <a href="<%= next_tourstep_path(ref: 'firefox_extension_skip') %>">Skip this step</a>
      </div>

      <div class="firefox-extension-installed">
        <a class="btn btn-primary" href="<%= next_tourstep_path(ref: 'firefox_extension_next') %>" data-disable-with="Loading...">Next step</a>
      </div>
    </div>

    <div class="visible-when-unsupported-browser">
      <div class="should-install-unsupported-browser-extension">
        <a href="<%= next_tourstep_path(ref: 'bookmarklet_skip') %>">Skip step</a>
      </div>

      <div class="unsupported-browser-extension-installed">
        <a class="btn btn-primary" href="<%= next_tourstep_path(ref: 'bookmarklet_next') %>" data-disable-with="Loading...">Next step</a>
      </div>
    </div>
  </div>
</div>

<% content_for :tour_javascript do %>
  <script>
    $(function() {

      var notClicked = true;

      function showNextButtonForClient(identifier) {
        setTimeout(function (){
          if (notClicked) {
            $('.visible-when-' + identifier +' .should-install-' + identifier + '-extension').fadeOut(600, function() {
              $('.visible-when-' + identifier + ' .' + identifier + '-extension-installed').fadeIn(600);
            });
            notClicked = false;
          }
        }, 1800);
      }

      $('#chrome-extension-button').mousedown(function() {
        showNextButtonForClient('chrome');
      });

      $('#bookmarklet-button').mousedown(function() {
        mp_track("Bookmarklet: Clicked the Bookmarklet #almost-ready");
        showNextButtonForClient('unsupported-browser');
      });


      <% if FactlinkUI::Application.config.use_chrome_webstore %>
        $('#chrome-extension-webstore-button').on('click', function() {
          mp_track("Extension: Download Chrome Extension -> Clicked #almost-ready");
          chrome.webstore.install(undefined, successFn, errorFn);
        });

        function successFn() {
          mp_track("Extension: Download Chrome Extension -> Successful install #almost-ready");
          window.location = "<%= next_tourstep_path(ref: 'chrome_extension_redirect') %>";
        }
        function errorFn(e) {
          mp_track("Extension: Download Chrome Extension -> Failed install #almost-ready");
          FactlinkApp.NotificationCenter.error("Something went wrong installing the Factlink extension: " + e + ". Please try again.");
        }
      <% end %>
    });
  </script>
 <% end %>
