<div class="install-extension-wrapper">
  <h1 class="tour-header">Welcome to Factlink!</h1>

  <div class="install-extension-middle">
    <div class="install-extension-picture">
      <%= image_tag("icon-client-extension.png", class: "visible-when-chrome client-extension-image") %>
      <%= image_tag("icon-client-extension.png", class: "visible-when-firefox client-extension-image") %>
      <%= image_tag("icon-client-extension.png", class: "visible-when-safari client-extension-image") %>
      <%= image_tag("icon-client-bookmarklet.png", class: "visible-when-unsupported-browser") %>
    </div>

    <div class="install-extension-text">
      <div class="visible-when-chrome">
        Next, add Factlink to create <%= t(:factlinks) %> on all websites!

        <div class="transparent-border">
          <a id="chrome-extension-webstore-button" class="button-confirm">Add Factlink to Chrome</a>
        </div>
      </div>

      <div class="visible-when-firefox">
        Next, add Factlink to create <%= t(:factlinks) %> on all websites!

        <div class="transparent-border">
          <a id="firefox-extension-button" class="button-confirm" href="https://static.factlink.com/extension/firefox/factlink-latest.xpi">Add Factlink to Firefox</a>
        </div>
      </div>

      <div class="visible-when-safari">
        Next, add Factlink to create <%= t(:factlinks) %> on all websites!

        <div class="transparent-border">
          <a id="safari-extension-button" class="button-confirm" href="https://static.factlink.com/extension/firefox/factlink.safariextz">Add Factlink to Safari</a>
        </div>
      </div>

      <div class="visible-when-unsupported-browser install-extension-text-unsupported">
        Unfortunately you don't have the appropriate browser to install Factlink on.
        Fortunately we have a bookmarklet which you can add to your bookmarks. Then click it to create <%= t(:factlinks) %> on all websites!<br />

        <div class="dashed-border">
          <a id="bookmarklet-button" class="bookmarklet button-confirm" onclick="return false"><span style="display: none">Factlink</span></a>
        </div>
      </div>
    </div>
  </div>
  <a href="<%= next_tourstep_path %>" class="button-confirm extension-next-step-button" data-disable-with="Loading...">Next step</a>
</div>

<% content_for :tour_javascript do %>
  <script>
    $(function() {
      $('#bookmarklet-button').attr('href', Factlink.Global.bookmarklet_link);

      <% if FactlinkUI::Application.config.use_chrome_webstore %>
        $('#chrome-extension-webstore-button').on('click', function() {
          mp_track("Extension: Download Chrome Extension -> Clicked #almost-ready");
          chrome.webstore.install(undefined, successFn, errorFn);
        });

        function successFn() {
          mp_track("Extension: Download Chrome Extension -> Successful install #almost-ready");
          window.location = "<%= next_tourstep_path(ref: 'chrome_extension_redirect') %>";
        }
        function errorFn(e) {
          mp_track("Extension: Download Chrome Extension -> Failed install #almost-ready");
          FactlinkApp.NotificationCenter.error("Something went wrong installing the Factlink extension: " + e + ". Please try again.");
        }
      <% end %>
    });
  </script>
 <% end %>
