<%= content_for :left_column do %>

<div class="help-text-container">

  <div id="step1" class="help-text span2">
    <div class="arrow-right">
      <div class="arrow-right-white"></div>
    </div>

    <h4>Now, let's create your first Factlink</h4>
    <p>First, select a statement on this dummy page on your right.</p>
    <p>You can use Factlink to select statements on any website by using the Chrome Extension.</p>
  </div>

  <div id="step2" class="help-text span2">
    <div class="arrow-right">
      <div class="arrow-right-white"></div>
    </div>

    <h4>Good job! Not so hard after all</h4>
    <p>Now click the 'Add Factlink' button.</p>
  </div>

  <div id="step3" class="help-text span2">
    <div class="arrow-right">
      <div class="arrow-right-white"></div>
    </div>

    <h4>Nice.</h4>
    <p>Click the Factlink or Show to open.</p>
  </div>

  <div id="step4" class="help-text span2">
    <div class="arrow-right">
      <div class="arrow-right-white"></div>
    </div>

    <h4>Yeah, you're on a roll!</h4>
    <p>Add your opinion by clicking into a part of the Factlink wheel.</p>
  </div>

  <div id="step5" class="help-text span2">
    <div class="arrow-right">
      <div class="arrow-right-white"></div>
    </div>

    <h4>Well done!</h4>
    <p>Try adding this Factlink to a channel clicking on "My Channels" and typing in the input field.</p>
  </div>

  <div id="step6" class="help-text span2">
    <div class="arrow-right">
      <div class="arrow-right-white"></div>
    </div>

    <h4>Your all set.</h4>
    <p>Just click 'Post to Factlink' and you have created your first Factlink!</p>
  </div>

</div>

<% end %>

<div id="the-factlink-times">

  <h1>The Factlink Times</h1>
  <sub>4th of July, 2012</sub>

  <hr>

  <p>Bacon ipsum dolor sit amet shankle pancetta pork tail beef ribs, venison pastrami drumstick meatball short loin pork loin spare ribs brisket salami short ribs. Boudin hamburger tri-tip, shank ground round andouille beef ribs bacon cow speck sirloin corned beef pork loin shankle.</p>

  <p>Tri-tip prosciutto chicken, jerky cow pancetta spare ribs short loin pork speck shoulder. Venison meatball chicken pork chop, cow tri-tip rump frankfurter kielbasa ball tip corned beef t-bone. Speck hamburger ribeye, shankle frankfurter ball tip chuck pastrami bresaola tongue brisket jowl cow rump. Turkey ribeye corned beef, sirloin prosciutto ham hock tail leberkas capicola ground round biltong. Strip steak shank salami, meatball turkey filet mignon jowl biltong.</p>
  <p>Tongue flank pork belly leberkas beef ribs. Turkey meatloaf jerky short loin. Filet mignon prosciutto frankfurter, strip steak tri-tip jerky tongue pastrami t-bone boudin salami. Flank meatloaf cow pig ribeye, jowl tri-tip shoulder chuck. Ball tip flank meatball jowl sirloin fatback jerky turducken.</p>

</div>


<%= content_for :javascript do %>
  <% lib_url = "#{FactlinkUI::Application.config.static_url}/lib" %>
  <% min = '.min' unless ['development'].include?(Rails.env) %>
  <script>
    window.FactlinkConfig = {
      modus: "default",
      api: "<%= FactlinkUI::Application.config.api_url %>",
      lib: "<%= lib_url %>",
      srcPath: "/dist/factlink.core<%= min %>.js",
      url: ""
    };
  </script>
  <script src="<%= lib_url %>/dist/factlink<%= min %>.js"></script>
  <script src="<%= lib_url %>/dist/factlink.start_annotating<%= min %>.js"></script>

  <script>


  </script>

<% end %>
