<h2>Send invitation</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <p>Invitations left: <%= current_user.invitation_limit %></p>


  <% if current_user.has_invitations_left? %>
    <p><%= f.label :email %><br />
    <%= f.text_field :email %></p>
    <%= text_field :invite, :message %></p>


    <p><%= f.submit "Send an invitation" %></p>
  <% end %>
<% end %>

