<%= form_for(@factlink_sub) do |f| %>
  <% if @factlink_sub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factlink_sub.errors.count, "error") %> prohibited this factlink_sub from being saved:</h2>

      <ul>
      <% @factlink_sub.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
