<li data-score="<%= factlink_sub.score %>" id="fl-source-<%= factlink_sub.id %>">
	
	<div class="fl-vote-container">
		<%= link_to '<span class="fl-source-up"></span>'.html_safe, factlink_sub_vote_up_path(factlink_sub), :remote => true, :onclick => "return false; /(\\s|^)disabled(\\s|$)/.test(this.className)", :class => "up" %>
		<%= link_to '<span class="fl-source-down"></span>'.html_safe, factlink_sub_vote_down_path(factlink_sub), :remote => true, :onclick => "return false; /(\\s|^)disabled(\\s|$)/.test(this.className)", :class => "down" %>
		<span id="fl-source-score-<%= factlink_sub.id %>" class="fl-source-score"><%= factlink_sub.score %></span>
	</div>

	<h4><%= factlink_sub.title %></h4>
	<p><%= factlink_sub.content %></p>
	<span class="fl-source">found on <a href="javascript:window.open('<%= factlink_sub.url %>');"><%= factlink_sub.url %></a></span>
	<span class="fl-source-created_by"><%= factlink_sub.created_by.username %></span>
</li>