<h1>Listing factlink_subs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factlink_subs.each do |factlink_sub| %>
  <tr>
    <td><%= factlink_sub.title %></td>
    <td><%= factlink_sub.content %></td>
    <td><%= link_to 'Show', factlink_sub %></td>
    <td><%= link_to 'Edit', edit_factlink_sub_path(factlink_sub) %></td>
    <td><%= link_to 'Destroy', factlink_sub, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factlink sub', new_factlink_sub_path %>
