<div id="header" style="width: 100%; border-bottom: solid 1px rgba(0,0,0,0.2); padding-left: 10px;">
	<h1>Listing factlink_subs</h1>
</div>

<div id="content" style="border-top: solid 1px rgba(255, 255, 255, 0.5); padding: 24px;">

	<table>
	  <tr>
	    <th>Title</th>
	    <th>Content</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @factlink_subs.each do |factlink_sub| %>
	  <tr>
	    <td><%= factlink_sub.title %></td>
	    <td><%= factlink_sub.content %></td>
	    <td><%= link_to 'Show', factlink_sub %></td>
	    <td><%= link_to 'Edit', edit_factlink_sub_path(factlink_sub) %></td>
	    <td><%= link_to 'Destroy', factlink_sub, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Factlink sub', new_factlink_sub_path %>
</div>