<% modal ||= nil %>
<% channel ||= nil %>
<% view = FactsHelper::FactView.new(fact,current_user,channel) %>

<div class="fact-block" data-fact-id="<%= fact.id %>">
  <% if view.deletable_from_channel? %>
    <%= link_to(
            image_tag("close-button.png", :class => "close", "style" => "float: right"),
            view.remove_from_channel_path,
            :method => :delete,
            :confirm => "Are you sure you want to remove this fact from your channel?", 
            :remote => true)%>
  <% end %>
  
  <%= render_mustache "/facts/fact_bubble", :fact => fact, :modal => modal, :form_authenticity_token => form_authenticity_token %>

  
  <div class="controls">
    <ul class="evidence">
      <li><a class="evidence-for">Evidence (<%= fact.fact_relations.count %>)</a></li>

      <li><a class="evidence-for add-to-channel">Link to Factlink</a></li>
      <li><a class="evidence-for add-to-channel">Channels</a></li>
    </ul>
  </div>

  <div class="evidence-container">
    <div class="evidence-list">
      <div class="tab_content" rel="evidence-for">
        <div class="evidence">
          <table class="evidence-for-list">
            <tbody>
              <% unless fact.fact_relations.count > 0 %>
              <tr class="no-evidence">
                <td><%= view.no_evidence_message%></td>
              </tr>
              <% else %>
              <tr>
                <td>
                  <%= render :partial => "/facts/partial/evidence_bubble", 
                      :collection => fact.sorted_fact_relations, :as => :fact_relation, :spacer_template => '/home/snippets/table_row_seperator'
                    %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="add-evidence" style="display: none">
          <%= render "/facts/partial/add_evidence", :fact => fact %>
        </div>
      </div>

     </div>
      <% if user_signed_in? %>
       <div class="add-action" rel="evidence-for">
          <a href"#" class="do-add">Add facts</a>
        </div>
      <% end %>
  </div>
</div>
