<% modal ||= nil %>
<% channel ||= nil %>
<div class="fact-block" data-fact-id="<%= fact.id %>">
  <% if channel and user_signed_in? %>
    <%= link_to(
      image_tag("client/close-button.png", :class => "close", "style" => "float: right"),
      remove_fact_from_channel_path(current_user, channel.id, fact.id),
      :confirm => "Are you sure you want to remove this fact from your channel?", :remote => true
    )
    %>
  <% end %>
  <%= render :partial => "/facts/partial/fact_bubble", :locals => {:fact => fact, :modal => modal,}  %>
  <div style="height: 25px"> 
    <div class="evidence-actions">
      <ul class="evidence">
        <li><a class="evidence-for">Evidence for this</a></li>
        <li><a class="for-evidence">This is evidence for</a></li>
      </ul>
    </div>
  </div> 
  <div class="evidence-container" <%= show_evidence(@showEvidence) %>>
    <div class="evidence-list">
      <div class="evidence tab_content" rel="evidence-for">
        <table>
            <tbody>
              <% unless fact.fact_relations.count > 0 %>
                <tr class="no-evidence"><td>
                  <% if user_signed_in? %>
                    Perhaps you know something that supports or weakens this fact?
                  <% else %>
                    There are no facts supporting or weakening this fact at the moment.
                  <% end %>
                </td></tr>
              <% else %>
                <tr><td>
                  <%= render :partial => "/facts/partial/evidence_bubble", 
                    :collection => fact.sorted_fact_relations, :as => :fact_relation, :spacer_template => '/home/snippets/table_row_seperator'
                  %>
                </td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="add-evidence tab_content" rel="evidence-for">
          <%= render :partial => "/facts/partial/add_evidence", :locals => { :fact => fact } %>
        </div>
        <div class="evidence tab_content" rel="for-evidence">
          <table>
            <tbody>
              <tr><td>
                <%= render :partial => "/facts/partial/evidenced_bubble", 
                    :collection => fact.evidenced_factrelations, :as => :fact_relation, :spacer_template => '/home/snippets/table_row_seperator'
                %>
              </td></tr>
            </tbody>
          </table>
        </div>
        <div class="add-evidence tab_content" rel="for-evidence">
          <%= render :partial => "/facts/partial/add_evidenced", :locals => { :fact => fact } %>
        </div>
        <% if user_signed_in? %>
        <div class="add-action" rel="for-evidence">
          <a href"#" class="do-add">Add facts</a>
        </div>
        <div class="add-action" rel="evidence-for">
          <a href"#" class="do-add">Add facts</a>
        </div>
        <% end %>
    </div>
  </div>
</div>
