<% channel ||= nil %>
<% modal ||= nil %>

<div class="fact-block" data-fact-id="<%= fact.id %>">
  <% if channel and user_signed_in? %>
    <%= link_to(
      image_tag("client/close-button.png", :class => "close", "style" => "float: right"),
      remove_fact_from_channel_path(current_user, channel.id, fact.id),
      :confirm => "Are you sure you want to remove this fact from your channel?", :remote => true
    )
    %>
  <% end %>
  <% if modal %>
    <%= fact_bubble(fact, nil, modal) %>
  <% else %>
    <%= fact_bubble(fact) %>
  <% end %>
  
  <div class="evidence-actions">
    <ul class="evidence">
      <li><a class="evidence-for">Evidence for this</a></li>
      <li><a class="for-evidence">This is evidence for</a></li>
    </ul>
  </div>
  <div class="evidence-container" style="display: none">
    <div class="evidence-list">
    <div class="tab_content" rel="evidence-for">
      <table>
          <tbody>
            <% unless fact.fact_relations.count > 0 %>
              <tr class="no-evidence"><td>
                <% if user_signed_in? %>
                  Perhaps you know something that supports or weakens this fact?
                <% else %>
                  There are no facts supporting or weakening this fact at the moment.
                <% end %>
              </td></tr>
            <% else %>
              <tr><td>
                <%= render :partial => "/facts/partial/fact_bubble", 
                  :collection => fact.sorted_fact_relations, :as => :fact_relation, :spacer_template => '/home/snippets/table_row_seperator'
                %>
              </td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tab_content" rel="for-evidence">
      Integer vitae orci eget sem varius egestas sit amet nec erat. Proin ante ligula, rhoncus non congue id, pulvinar varius libero. Sed consectetur fringilla tristique. Pellentesque at augue a nunc placerat sollicitudin. Maecenas ornare volutpat elit, at fringilla arcu hendrerit auctor
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="add-action do-add">
        <a href"#" id="toggle-show-add">Add Fact</a>
      </div>
    <% end %>
  </div>
</div>
