<% modal ||= nil %>
<% channel ||= nil %>
<% view = FactsHelper::FactView.new(fact,current_user,channel) %>

<div class="fact-block" data-fact-id="<%= fact.id %>">
  <% if view.deletable_from_channel? %>
    <%= link_to(
            image_tag("close-button.png", :class => "close", "style" => "float: right"),
            view.remove_from_channel_path,
            :method => :delete,
            :confirm => "Are you sure you want to remove this Factlink from your channel?", 
            :remote => true)%>
  <% end %>
  
  <%= render_mustache "/facts/fact_bubble", :fact => fact, :modal => modal, :form_authenticity_token => form_authenticity_token %>

  
  <div class="controls">
    <ul class="evidence">
      <li><a class="evidence-for">Evidence (<%= fact.fact_relations.count %>)</a></li>
    </ul>
  </div>


  <div class="dropdown-container">
    <!-- default view - show the evidence for this fact -->
    <div class="page evidence-list" style="display: block;">
      <div class="evidence-list-wrapper">
        <% if user_signed_in? %>
        <div class="notification">
          <span>Factlink is build on evidence. <a href"#" class="do-add">Add evidence to this Factlink</a></span>
        </div>
        <% end %>
        
        <div class="no-evidence-message">
          This Factlink is not supported or weakened by other Factlinks.<br/>
          <a href"#" class="do-add">Add evidence to this Factlink</a>
        </div>
        
        <div class="loading-evidence">
          <%= image_tag("ajax-loader.gif") %> <span>Loading...</span>
        </div>
        
        <ul>
        </ul>
      </div>
    </div>
        
    <!-- show the evidence search results -->
    <div class="page evidence-search-results" style="display: none;">
      <div class="search-area">

        
        <%= form_for("search", :url => evidence_search_fact_path(fact.id), :remote => "true" ) do |f| %>
        
          <%= link_to('Back to evidence', '#', :class => "return-from-add") %>
          <input type="text" class="evidence_search" name="s" placeholder="Search or add evidence" <%= params[:s] ? "value='#{params[:s]}'" : "" %> >
          <input type="hidden" name="id" value="<%= fact.id %>">
          <input type="submit" value="Search">
        <% end %>
      </div>
      
      <div class="results">
        <ul class="default-results">
          <li>
            Please search for evidence
          </li>
        </ul>
        
        <ul class="search-term-results">
        </ul>
      </div>
      
      <!-- not implemented yet -->
      <!-- <div class="dropdown-underbar">
        <ul>
          <li>
            Search the internet for "<span class="user-search-input"></span>"
          </li>
          <li>
            Add "<span class="user-search-input"></span>"
          </li>
        </ul>
      </div> -->
    </div>

    <!-- the actual adding - including supporting / weakening buttons -->
    <div class="page evidence-add" style="display: none;">

      <%= link_to('Back to search', '#', :class => 'close-evidence-add') %>

      <span class="message">Add</span>
      <div class="evidence evidence-bubble">
        Pellentesque shiz tortor. Mammasay mammasa mamma oo sa eros. Cool fo shizzle dolizzle dang its fo rizzle.
      </div>
      <span class="message">To</span>
      <div class="fact evidence-bubble">
        <%= fact.data.displaystring %>
      </div>

      <div class="dropdown-underbar">
        <div class="add-actions">
          <button class="supporting">Add as supporting</button><button class="weakening">Add as weakening</button>
        </div>
      </div>
    </div>

  </div>
</div>