<!DOCTYPE html>
<html>
<head>
	<title>Intermediate action</title>
	<script type="text/javascript" src="http://static.factlink.com/lib/dist/easyXDM/easyXDM.min.js"></script>
	<style type="text/css">
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		
		iframe {
			height: 100%;
			width: 100%;
			border: 0;
			z-index: 2147483647;
		}
		
		iframe.overlay {
		  background: rgba(0, 0, 0, .4);
		}
		
		form {
			display: none;
		}
	</style>

	<%= csrf_meta_tag %>
</head>
<body>
	<%= form_for(factlink_new_path, :url => factlink_new_path, :html => { :target => "frame", :id => "form"}) do |f| %>
		<input type="text" name="url" id="url" value="<%= @url %>">
		<textarea name="passage" id="passage">
			<%= @passage %>
		</textarea>
		<input type="text" name="fact" id="fact" value="<%= @fact %>">
	<!-- </form> -->
	<% end %>
	<iframe src="<%= eval @path if @path %>" name="frame" id="frame"></iframe>
		
	<script type="text/javascript">
			// The form
		var form = document.getElementById("form"),
			// The iFrame
			iframe = document.getElementById("frame"),
			// The global remote object
			remote = new easyXDM.Rpc({
				swf: "/client/easyXDM/src/easyxdm.swf"
			}, {
				remote: {
					hide: {},
					show: {},
					highlightNewFactlink: {}
				},
				local: {
					prepareNewFactlink: function( factlink, passage, url ) {
						// Set form data
						document.getElementById("fact").value = factlink;
						document.getElementById("passage").value = passage;
						document.getElementById("url").value = url;
						
						// Set the source of the iframe
						iframe.src = "<%= factlink_prepare_path %>";
						
						// Show the overlay
						iframe.className = "";
					},
					showFactlink: function(id) {
						// Set the source of the iframe
						iframe.src = "/factlink/show/" + id;
						// Show the overlay
						iframe.className = "overlay";
					},
					position: function(top, left) {
						iframe.onload = function() { 
						  this.onload = null;
						  try {
  						  iframe.contentWindow.position(top, left);
  						} catch(e) { }
						}
					}
				}
			}),
			// Create the Factlink
			createFactlink = function( choice ) {
				//@TODO: Submit the choice of the user
				// Submit the form
				form.submit();
			};
	</script>
</body>
</html>