<!DOCTYPE html>
<html>
<head>
	<title>Intermediate action</title>
	<script type="text/javascript" src="http://static.factlink.com/lib/dist/easyXDM/easyXDM.min.js"></script>
	<style type="text/css">
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		
		iframe {
			height: 100%;
			width: 100%;
			border: 0;
			z-index: 2147483647;
		}
		
		iframe.overlay {
		  background: rgba(0, 0, 0, .4);
		}
		
		form {
			display: none;
		}
	</style>

	<%= csrf_meta_tag %>
</head>
<body>
	<%= form_for(create_factlink_path, :url => create_factlink_path, :html => { :target => "frame", :id => "form"}) do |f| %>
  	<input type="hidden" name="evidence_id" id="evidence_id" value="<%= @evidence_url %>">
  	<input type="text" name="url" id="url" value="<%= @url %>">
  	<input type="text" name="title" id="title" value="<%= @title %>">
    <textarea name="passage" id="passage">
      <%= @passage %>
    </textarea>
    <input type="text" name="fact" id="fact" value="<%= @fact %>">
	<% end %>
	<iframe src="" name="frame" id="frame"></iframe>
	
	<script type="text/javascript">
    // The form
    var form = document.getElementById("form"),
        // The iFrame
        showFrame = document.getElementById("frame"),
        // The global remote object
        remote = new easyXDM.Rpc({
          swf: "/client/easyXDM/src/easyxdm.swf"
        }, {
          remote: {
            hide: {},
            show: {},
            highlightNewFactlink: {},
            stopHighlightingFactlink: {},
            addEvidence: {},
            createFactlink: {}
          },
          local: {
            createEvidence: function(evidence_id, url, type, title) {
              document.getElementById("evidence_id").value = evidence_id;
              document.getElementById("url").value = url;
              document.getElementById("title").value = title;
              addEvidence(type);
            },
            createNewEvidence: function(fact, passage, url, type, title) {
              prepareFactlink(fact, passage, url, title);
              addEvidence(type);
            },
            createFactlink: function(fact, passage, url, title, successFn, errorFn) {
              prepareFactlink(fact, passage, url, title);
              
              showFrame.onload = function() {
                if ( showFrame.contentWindow.fact_id !== undefined ) {
                  successFn(showFrame.contentWindow.fact_id);
                  
                  showFrame.onload = undefined;
                } else {
                  console.info( "Need to login first" );
                }
              };
              
              createFactlink();
            },
            opinionateFactlink: function(factId, opinion) {
              
            },
            showFactlink: function(id, successFn) {
              showFrame.onload = function() {
                showFrame.onload = undefined;
                
                successFn();
              }
              
              // Set the source of the iframe
              showFrame.src = "/factlink/show/" + id;
              // Show the overlay
              showFrame.className = "overlay";
            },
            position: function(top, left) {
              try {
                showFrame.contentWindow.position(top, left);
              } catch (e) { // Window not yet loaded
                showFrame.onload = function() {
                  showFrame.contentWindow.position(top, left);
                };
              }
            }
          }
        });

    function createFactlink() {
      form.submit();
    }

    function prepareFactlink(fact, passage, url, title, opinion) {
      document.getElementById("fact").value = fact;
      document.getElementById("passage").value = passage;
      document.getElementById("url").value = url;
      document.getElementById("title").value = title;

      if (opinion !== undefined) {
        document.getElementById("opinion").value = opinion;
      }
    }

    // Add to an existing Factlink
    function addEvidence(type) {
      var evidence_id = document.getElementById("evidence_id").value;

      var proxied_page = parent;
      var proxy_container = proxied_page.parent;
      var show_factlink_container = proxy_container.parent;
      var top_intermediate_page = show_factlink_container.parent; //(same source as current page)
      
      if (evidence_id.length > 0) {
        top_intermediate_page.submitEvidenceToShowFrame(type, evidence_id);
      } else {
        var fact = document.getElementById("fact").value;
        var passage = document.getElementById("passage").value;
        var url = document.getElementById("url").value;
        var title = document.getElementById("title").value;

        top_intermediate_page.submitNewEvidenceToShowFrame(type, fact, passage, url, title);
      }
    }

    function submitEvidenceToShowFrame(type, evidence_id) {
      var fact_id = showFrame.contentWindow.fact_id;
      var script = document.createElement("script");

      script.src = "<%= add_evidence_path %>?type=" + type + "&fact_id=" + fact_id + "&evidence_id=" + evidence_id;
      script.type = "text/javascript";

      showFrame.contentWindow.document.getElementsByTagName('head')[0].appendChild(script);
    }

    function submitNewEvidenceToShowFrame(type, fact, passage, url, title) {
      var fact_id = showFrame.contentWindow.fact_id;
      var script = document.createElement("script");

      script.src = "<%= create_fact_as_evidence_path %>?type=" + type + "&fact=" + fact + "&url=" + escape(url) + "&passage=" + passage + "&fact_id=" + fact_id + "&title=" + title;
      script.type = "text/javascript";

      showFrame.contentWindow.document.getElementsByTagName('head')[0].appendChild(script);
    }

    function openNewProxyWindow() {
      var doc = showFrame.contentWindow.document;
      window.proxyFrame = document.createElement("iframe");

      window.proxyFrame.className = "proxyFrame";
      window.proxyFrame.src = "<%= Factlink.proxy_url %>?url=http://www.google.com";

      doc.getElementsByTagName("body")[0].appendChild(window.proxyFrame);
    }

    function hideProxyWindow() {
      window.proxyFrame.style.display = "none";
      window.proxyFrame.src = "<%= Factlink.proxy_url %>?url=http://www.google.com";
    }
	</script>
</body>
</html>