<!DOCTYPE html>
<html>
<head>
  <title>Intermediate action</title>

  <% if current_user %>
  <%= javascript_include_tag "#{jslib_url_for(current_user.username)}/easyXDM/easyXDM.min.js" %>
  <% else %>

  <% if Rails.env == "development" %>
  <%= javascript_include_tag "#{FactlinkUI::Application.config.static_url}/lib/dist/easyXDM/easyXDM.min.js" %>
  <% else %>
  <%= javascript_include_tag "#{FactlinkUI::Application.config.static_url}/public/easyXDM.min.js" %>
  <% end %>
  <% end %>
  <style type="text/css">
    html, body {
      height: 100%;
      width: 100%;
      margin: 0; padding: 0;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
    }
  </style>

  <%= csrf_meta_tag %>
</head>
<body>
  <iframe src="" name="frame" id="frame"></iframe>

  <%= javascript_include_tag "intermediate" %>
</body>
</html>
