<% if user_signed_in? %>
  <%= form_tag facts_path, class: "fact-block", id:"new_fact_form" do %>
    <div class="content">
      <div class="wheel"></div>

      <div class="factlink">
        <div class="title">
          <span><%= params[:title] %></span>
          <%= text_field_tag :title, params[:title] %>
        </div>

        <div class="fact">
          <%= text_area_tag :fact, params[:fact] %>
          <%= simple_format params[:fact] %>
        </div>

        <%= hidden_field_tag :url, params[:url] %>
      </div>
    </div>

    <h4>Add to</h4>
    <div id="add_to_channels"></div>

    <% if @layout %>
      <%= hidden_field_tag :layout, value: @layout%>
    <% end %>

    <div class="buttons">
      <button class="btn" name="cancel" id="cancel">Cancel</button>
      <%= submit_tag "Post to Factlink", class: "btn btn-primary", disable_with: "Adding...", id: "submit" %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <script>
    <% if current_user %>
      window.currentUser = new User(<%= Users::User.for(user: current_user, view: self).to_json.html_safe %>);

      window.currentUser.setChannels(new OwnChannelCollection(<%= current_graph_user.channels.map{|ch| Channels::Channel.for(channel: ch,view: self) }.to_json.html_safe %>));
    <% end %>

    var addToChannelView = new AddToChannelView({
      collection: currentUser.channels,
      el: $('#add_to_channels')
    }).render();

    var persistentWheel = new PersistentWheelView({
      el: $('.wheel'),
      model: new Wheel(<%= Facts::FactWheel.for(view: self).mock.to_json.html_safe %>)
    }).render();
  </script>
<% end %>
