<% unless user_signed_in? %>

<div class="alert-message block-message warning">
  Hi! You need to sign in before you can add a Factlink. <%= link_to("Sign in", new_user_session_path, target: "_blank") %>
</div>

<% else %>

  <h1>Add a Factlink:</h1>

  <%= form_tag(facts_path) do %>

    <div class="row">
      <%= label_tag :title %>
      <div class="field">
        <%= text_field_tag :title, params[:title] %>
      </div>
    </div>

    <% if params[:url] %>
      <div class="row">
        <%= label_tag :url %>
        <div class="field">
        <%= text_field_tag :url, params[:url] %>
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <%= label_tag :fact %>
      <div class="field">
        <%= text_area_tag :fact, params[:fact] %>
      </div>
    </div>
  
    <%= hidden_field_tag 'layout', 'popup' %>
  
    <div class="actions">
      <%= submit_tag "Create Factlink", :class => "btn" %>
    </div>
  <% end %>

<% end %>