<% if user_signed_in? %>
  <%= form_tag facts_path, class: "fact-block", id:"new_fact_form" do %>
    <div class="content">
      <div class="wheel"></div>

      <div class="factlink">
        <%= text_field_tag :title, params[:title], class: "title", autocomplete: "off" %>

        <div class="fact">
          <%= text_area_tag :fact, params[:fact] %>
          <p style='max-height: 100px; overflow: auto;'><%= params[:fact] %></p>
        </div>

        <%= hidden_field_tag :url, params[:url] %>
      </div>
    </div>

    <div id="add_to_container">
      <h4><%= t('.add_to_channels').capitalize %>:</h4>
      <div id="add-to-channels"></div>
    </div>

    <% if @layout %>
      <%= hidden_field_tag :layout, value: @layout %>
    <% end %>

    <div class="buttons">
      <button class="btn" name="cancel" id="cancel">Cancel</button>
      <%= submit_tag "Post to Factlink", class: "btn btn-primary", disable_with: "Adding...", id: "submit" %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <script>
    <% if @just_signed_in %>
      window.top.postMessage({message: "updateState"}, "*");
    <% end %>

    <% if current_user %>
      window.currentUser = new User(<%= Users::User.for(user: current_user, view: self).to_json.html_safe %>);

      window.currentUser.setChannels(new OwnChannelCollection(<%= current_graph_user.channels.map{|ch| Channels::Channel.for(channel: ch,view: self) }.to_json.html_safe %>));
    <% end %>

    var addToChannelView = new AutoCompletedAddToChannelView().render();

    $('#add-to-channels').replaceWith(addToChannelView.el);


    var persistentWheel = new PersistentWheelView({
      el: $('.wheel'),
      model: new Wheel(<%= Facts::FactWheel.for(view: self).mock.to_json.html_safe %>)
    }).render();
  </script>
<% end %>
