<% if user_signed_in? %>
  <%= form_tag facts_path(layout: @layout), class: "fact-block", id:"new_fact_form" do %>
    <article class="fact">
      <div class="wheel"></div>

      <header>
        <% unless params[:title].blank? %>
        <a class="title"><%= params[:title] %></a>
        <%= hidden_field_tag :title, params[:title] %>
        <% end %>

       <span class="body">
          <%= text_area_tag :fact, params[:fact] %>
          <p style='max-height: 100px; overflow-y: scroll;'><%= params[:fact] %></p>

          <%= hidden_field_tag :url, params[:url] %>
        </span>
      </header>
    </article>

    <div id="add-to-container">
      <h4><%= t('.add_to_channels').capitalize %>:</h4>
      <div id="add-to-channels"></div>
    </div>

    <% if @layout %>
      <%= hidden_field_tag :layout, value: @layout %>
    <% end %>

    <div class="buttons">
      <button class="btn" name="cancel" id="cancel">Cancel</button>
      <%= submit_tag "Post to Factlink", class: "btn btn-primary", "data-disable-with" => "Posting...", id: "submit" %>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <script>
    <%= render 'backbone/currentUser' %>

    var addToChannelView = new AutoCompletedAddToChannelView().render();

    $('#add-to-channels').replaceWith(addToChannelView.el);

    var persistentWheel = new PersistentWheelView({
      el: $('.wheel'),
      model: new Wheel(<%= Facts::FactWheel.for(view: self).mock.to_json.html_safe %>)
    }).render();

    persistentWheel.on('opinionSet', function () {
      parent.remote.trigger('opinionSet');
    });

    $('#cancel').on('click', function (e) {
      mp_track("Modal: Cancel");
      e.preventDefault();
      parent.remote.hide();
    });

    createWhatsYourOpinionTooltip();

    function createWhatsYourOpinionTooltip() {
      $('.wheel').on('click', function () {
        hideTooltip();
      });

      $(window).on('resize', function () {
        destroyTooltip();
        showTooltip();
      });

      var _shouldShowTooltip = true;

      function showTooltip() {
        if ( ! _shouldShowTooltip ) return;

        $('.wheel').tooltip({
          title: "What's your opinion?",
          trigger: "manual"
        }).tooltip('show');
      }

      function destroyTooltip() {
        $('.wheel').tooltip('destroy');
      }

      function hideTooltip() {
        _shouldShowTooltip = false;

        destroyTooltip();
      }
    }

  </script>
<% end %>
