<% if user_signed_in? %>
  <%= form_tag facts_path, class: "form-horizontal", id:"new_fact_form" do %>

    <div class="control-group" style="display: none;">
      <%= text_field_tag :url, params[:url], class: "span6", placeholder: "URL (optional)" %>
    </div>

    <div class="control-group">
      <label><strong>Factlink</strong></label>
      <%= text_area_tag :fact, params[:fact], :class => "input-xxlarge span6", :required => "required", :readonly => "readonly", placeholder: "Factlink text" %>
    </div>

    <div class="control-group">
      <label><strong>Title</strong></label>
      <%= text_field_tag :title, params[:title], class: "span6", placeholder: "Title (optional)" %>
    </div>

    <div class="control-group">
      <label><strong>Channels</strong></label>
      <div id="add_to_channels"></div>
    </div>

    <%= hidden_field_tag 'layout', 'popup' %>
    <div class="row">
      <div style="text-align:right;">
        <button class="btn" name="cancel" id="cancel">Cancel</button>
        <%= submit_tag "Post Factlink", class: "btn btn-primary", disable_with: "Adding..." %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <script>
    <% if current_user %>
      window.currentUser = new User(<%= Users::User.for(user: current_user, view: self).to_json.html_safe %>);

      window.currentUser.setChannels(new OwnChannelCollection(<%= current_graph_user.channels.map{|ch| Channels::Channel.for(channel: ch,view: self) }.to_json.html_safe %>));
    <% end %>

    var addToChannelView = new AddToChannelView({
      collection: currentUser.channels,
      el: $('#add_to_channels')
    }).render();
  </script>
<% end %>