<div id="header" class="row-fluid">
  <div class="span6">
    <%= link_to image_tag("factlink_logo71x15.png"), root_path, { target: "_blank" } %>
  </div>

  <div class="span6 pull-right" style="text-align: right;">
    <% unless user_signed_in? %>
         <%= link_to "Login to Factlink", new_user_session_path, { target: "_blank" } %>
    <% else %>
      <span>
        <label>
          <input type="checkbox" name="highlight" id="highlight" /> Highlight
        </label>
      </span>

      <span>
        <a class="btn btn-small" id="slideDown">
          <i class="icon-plus"></i>
          Add new
        </a>
      </span>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= form_tag facts_path, class: "form-horizontal" do %>
    <div class="control-group">
      <%= text_field_tag :title, params[:title], class: "span6", placeholder: "Title (optional)" %>
    </div>

    <% if params[:url] %>
      <div class="control-group">
        <%= text_field_tag :url, params[:url], class: "span6", placeholder: "URL (optional)" %>
      </div.>
    <% end %>

    <div class="control-group">
      <%= text_area_tag :fact, params[:fact], :class => "input-xxlarge span6", :required => "required", placeholder: "Factlink text" %>
    </div>

    <%= hidden_field_tag 'layout', 'popup' %>
    <div class="row">
      <div class="span3">
        <a class="btn" id="annotate_button">
          <i class="icon-pencil"></i>
          Annotate
        </a>
      </div>
      <div class="span3" style="text-align:right;">
        <button id="slideUp" class="btn">Cancel</button>

        <%= submit_tag "Submit", class: "btn btn-primary", disable_with: "Submitting..." %>
      </div>
    </div>
  <% end %>
<% end %>
<script>
  (function() {
    var topWindow = window.top;

    topWindow.postMessage({
      messageKey: "slideDown"
    }, "*");
  })();
</script>
