<% if user_signed_in? %>
  <div class="fact-block">
    <%= render_mustache 'facts/fact_bubble',  fact: @fact, limit_characters_to_display: 80, hide_links: true %>
  </div>
<% end %>


<% content_for :javascript do %>
  <script>
    new InteractiveWheelView({
      el: $('.wheel'),
      model: new Wheel(<%= Facts::FactWheel.for(fact: @fact, view: self).to_json.html_safe %>),
      fact: new Fact(<%= Facts::Fact.for(fact: @fact, view:self).to_json.html_safe %>)
    }).render();

    top.postMessage({
      'message': 'highlight',
      'fact': '<%= j @fact.data.displaystring %>',
      'fact_id': '<%= j @fact.id %>',
      'percentages': '<%= @fact.opinion.as_percentages.to_json.html_safe %>'
    }, "*");
    
    <%# dirty hack, why is it that we do not use the factbuble view, and only the wheel?? %>
    $('a.more').on('click', function(){$('span.full').show();$('span.normal').hide();})
    $('a.less').on('click', function(){$('span.normal').show();$('span.full').hide();})
  </script>
<% end %>
