<% content_for :script do %>
	<%= javascript_include_tag("factlink_overview") %>
	<% if @factlinks.count < @row_count %>
	  <script type="text/javascript">
	    var a = <%= @factlinks.count %>;
	    var b = <%= @row_count %>;
	    window.isFullyLoaded = true;
	    $( '#load_more' ).hide();
      $( '#loading' ).hide();
	  </script>
	<% end %>
<% end %>

<% content_for :main_column do %>

<div class="span-16">
	<h1 style="font-size: 1.6em; font-weight: 100; text-shadow: 0px 1px 1px #fff;">Factlink search - providing credibility you can see</h1>
</div>

<form method="GET" action="<%= factlink_overview_path %>">	
	<input type="text" class="search" name="s" placeholder="Search..." <%= params[:s] ? "value='#{params[:s]}'" : "" %> x-webkit-speech >
</form>

<table class="factlinks">
	<colgroup>
		<col style="width: 840px;" />
		<col style="width: 120px;" />
	</colgroup>
	<thead>
		<tr>
			<td colspan="2" class="search">
				<!-- <input type="text" class="search" name="s" placeholder="Search.." <%= params[:s] ? "value='#{params[:s]}'" : "" %>> -->
			</td>
		</tr>
	  <tr>
	    <th><%= sortable 'displaystring' %></th>
	    <th><%= sortable 'created_at' %></th>
	  </tr>
	</thead>

	<tfoot>
		<tr id="load_more">
			<td colspan="2">
				<a href="#">Load more...</a>
			</td>
		</tr>
		<tr id="loading" style="display:none;">
			<td colspan="2">
				Loading...
			</td>
		</tr>
	</tfoot>
	<tbody>
	  <%= render(:partial => "facts/partial/factlink_as_td", :collection => @factlinks, :as => :factlink) || "<tr><td colspan=\"2\">No results found...</td></tr>".html_safe %>
	</tbody>
</table>

<% end %>