<!-- <div class="fl-modal">
	<div class="fl-container"> -->
		<% content_for :javascript do %>
		<script>
			function apply_filter(class) {
				$('ol#fl-users > li').fadeOut(40).filter(class).fadeIn(40);
				$('div#filters > a').removeClass('active');

				// override for the 'all' filter
				if (class == "*") {
					class = "all";
				} 
				$('div#filters > a.' + class).addClass('active');
			}
		</script>
		<% end %>

		<script type="text/javascript">
			parent.remote.resetStyle();
			parent.remote.setFrameType("show");
			parent.remote.showOverlay();

			parent.remote.setFrameBounds(440, 470);
		</script>		

		<div id="fl-loading-indicator" style="display: none; z-index: 100; position: absolute; width: 80px; height: 30px; top: 160px; left: 174px; border: solid 4px rgba(0,0,0,0.2); border-radius: 4px; background-color: #eee; margin: 0 auto; text-align: center; padding-top: 12px;">
			<%= image_tag "icons/loading-indicator-white.gif" %>
		</div>

		<div id="fl-stats" class="fl-stats">
				<%= factlink_score_partial(@factlink) %>
		</div>
		
		<div class="fl-factlink">
			<h1><a style="text-decoration: none; color: inherit;" href="<%= edit_fact_path(@factlink) %>">&#8220;<%= @factlink.displaystring %>&#8221;</a></h1>
		</div>
		
		<div class="fl-clear"></div>
		
		<div class="fl-tags">
			<ul>
					<% (@factlink.tags_array || []).each do |tag| %>

					<a href="<%= edit_fact_path(@factlink) %>" style="text-decoration: none;">						
						<li><%= tag %></li>
					</a>
					<% end %>

				<a href="<%= edit_fact_path(@factlink) %>" style="text-decoration: none;">
					<li class="fl-tag-add">+</li>
				</a>

			</ul>
			
			<% if @factlink.created_by == current_user %>
			<a href="<%= edit_fact_path(@factlink) %>">edit tags</a>
			<% end %>
		</div>
		
		<div class="fl-clear"></div>
		
		<div class="fl-scroll-pane">
			<ol id="fl-sources-list" class="fl-sources">

				<% unless @factlink.evidence_count > 0 %>					
					
					<%= no_facts_have_been_added_as_li %>

				<% else %>

					<% @factlink.childs.each do |factlink| %>
						<%= factlink_source_partial_as_li(factlink, @factlink) %>
					<% end %>
					
				<% end %>

			</ol>
		</div>

		<div class="fl-bottom">

			<span style="color: #999; padding: 4px;">Added by <%= link_to(@factlink.created_by, user_profile_path(@factlink.created_by.username), :target => "_blank") %></span>


			<div class="fl-clear">&nbsp;</div>
				
			<div style="padding: 4px 4px 8px 4px;" class="center">
				
				<% if user_signed_in? %>
				<a onclick="javascript: $('#dimmer').fadeIn('fast'); $('#fl-potential-parents-popup').fadeIn('fast');" class="button confirm" style="">Add to existing fact</a>
				<a onclick="javascript: $('#dimmer').fadeIn('fast'); $('#fl-potential-childs-popup').fadeIn('fast'); " class="button confirm" style="">Add fact</a>
				<!-- <a onclick="javascript: $('#fl-sources-popup').fadeIn('fast'); " class="button" style="">Add new</a> -->
				<% else %>

				<%= link_to("Sign in", new_user_session_path) %> or <%= link_to("register", new_user_session_path) %>
				
				<% end %>
			</div>

		</div>
		
		<div class="fl-clear"></div>

		<!-- Add sources popup -->
		<div id="fl-sources-popup" style="display: none;">
			<%= image_tag "icons/close-button.png", :class => "close-button", :style => "position: absolute; top: -18px; left: 370px;", :onclick => "$('#fl-sources-popup').fadeOut('fast');" %>
			<%= render :partial => "facts/partial/remote_form" %>
		</div>
		
		
		<!-- popups -->
		<%= potential_childs_popup(@potential_childs) %>
		
		<%= potential_parents_popup(@potential_parents) %>


<div id="dimmer" style="
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: rgba(0, 0, 0, 0.3);
display: none;
z-index: 1;
border-radius: 4px;
"></div>


<div id="fl-interacting-users"></div>