	<!-- Extra javascript for the filtering of believers/doubter/disbelievers on a certain fact. -->
	<% content_for :javascript do %>
		<%= render :partial => 'facts/javascript/filter_interacting_users' %>
		<script type="text/javascript" src="/client/js/jquery.mousewheel.js"></script>
		<script type="text/javascript">
		  // TODO: This is still buggy, check this.
		  // $("#fl-sources").mousewheel(function(e, d) {
		  //           if (d > 0 && $(this).scrollTop() == 0) {
		  //             e.preventDefault();
		  //           } else if (d < 0 &&  $(this).scrollTop() == $(this).get(0).scrollHeight - $(this).innerHeight()) {
		  //             e.preventDefault();
		  //           }
		  //         });
       
			// Show the 'relevance' / 'opinion' popup
      $('img.arrow').live('click', function() {
        var img = $( this ),
            cont = $('#fl-sources');

        if ( img.hasClass('active') ) {
          img.removeClass('active')
            .closest('li').find('.fl-choices')
            .removeClass('active');
        } else {
          cont.find('img.active, .fl-choices.active').removeClass('active');
          
          img.addClass('active')
            .closest('li').find('.fl-choices')
            .addClass('active')
            .css({
              position: "absolute",
              top: img.offset().top - cont.offset().top + 61 + "px", 
              left: img.offset().left - cont.offset().left - 175 + "px"
            });
          
          $(document).bind('click', function(e) {
            if( $(e.target).closest('.fl-choices').length === 0 ) {
              cont.find('img.active, .fl-choices.active').removeClass('active');
              
              $(document).unbind('click', arguments.callee);
            }
          });
          
          return false;
        }
      });


			// sub.fl-brain-count
			$('sub.fl-brain-count').live('click', function() {

				var el = $( this ),
            cont = $('#fl-sources');
				
				if (el.closest('li').length === 0) {
					// No li found, this is the main fact brain cycles clicked on
					
					el.closest('.fl-stats')
						.find('.fl-users')
						.addClass('active')
						.css({
							position: "absolute",
							top: 110 + "px", 
							left: -100 + "px"
						});

				    $(document).bind('click', function(e) {
		           if( $(e.target).closest('.fl-users').length === 0 ) {
		             el.closest('.fl-stats').find('.fl-users.active').removeClass('active');

		             $(document).unbind('click', arguments.callee);
		           }
		        });
					
				} else {
					// li found, this is for a FactRelation
					el.closest('li')
						.find('.fl-users')
						.addClass('active')
						.css({
							position: "absolute",
							top: el.offset().top - cont.offset().top + 22 + "px", 
							left: el.offset().left - cont.offset().left - 25 + "px"
						});

			    $(document).bind('click', function(e) {
	           if( $(e.target).closest('.fl-users').length === 0 ) {
	             cont.find('.fl-users.active').removeClass('active');

	             $(document).unbind('click', arguments.callee);
	           }
	        });
					
					
				}
			
  
        return false;
				
			});

			$(function() {
				$('.fl-modal > .fl-filter-bar ul>li>a').bind('click', function(e){						
					
					$('.fl-modal > .fl-filter-bar ul>li').removeClass('active');
					$(this).closest('li').addClass('active');

					e.stopPropagation();
					return false;
				});
			});

			function filter(className) {
				$('#fl-evidence > #fl-sources > ol > li').hide().filter(className).fadeIn();
			}
			
			window.fact_id = "<%= @fact.id %>";

		</script>
	<% end %>

<!-- Top pane - containing the chart & main fact -->
<div id="fl-top-pane">
  <!-- Bar chart - showing the believe, doubt and disbelieve bars -->
	<%= factlink_score_partial(@fact) %>

	<div class="fl-factlink">
		<h1>&#8220;<%= @fact.displaystring %>&#8221;</h1>
		<sub>by <%= link_to("#{@fact.created_by.user} (#{@fact.created_by.user.authority})", user_profile_path(@fact.created_by.user.username), :target => "_blank") %></sub>
		<% if current_user && @fact.created_by == current_user.graph_user %>
			<%= link_to(image_tag('trashcan.png'), fact_path(@fact.id), :confirm => "You will delete this Factlink. Are you sure?", :method => :delete, :remote => true, :class => "trashcan" ) %>
		<% end %>
	</div>

	<div class="fl-clear"></div>
	
	add to channel:
	
	
	<%= form_for("test", :remote => true, :url => add_fact_to_channel_path(current_user.username)) do |f| %>
	
		<%= hidden_field_tag(:fact_id, @fact.id) %>

		<%= select_tag(:channel_id, options_for_select(current_user.channels.map { |channel| [channel.title, channel.id] })) %>

		<%= f.submit "add to channel" %>
	<% end %>
		
	</form>
	
</div>

<!-- Filter bar -->
<div class="fl-filter-bar">
  Show:
  <ul>
   <li class="active"><a href="#" onclick="filter('*');"><span>all facts (<%= @fact.evidence_count %>)</span></a></li>
   <li><a href="#" onclick="filter('.supporting');"><span>supporting facts (<%= @fact.supporting_evidence_count %>)</span></a></li>
   <li><a href="#" onclick="filter('.weakening');"><span>weakening facts (<%= @fact.weakening_evidence_count %>)</span></a></li>
  </ul>
</div>

<div class="fl-clear"></div>

<!-- Evidence -->
<div id="fl-evidence">
	<div id="fl-sources">
		<ol>
			<% unless @fact.fact_relations.count > 0 %>
				<%= no_facts_have_been_added_as_li %>
			<% else %>
				<% @fact.sorted_fact_relations.each do |evidence| %>
					<%= factlink_source_partial_as_li(evidence) %>
				<% end %>
			<% end %>
		</ol>
	</div>
</div>

<!-- Bottom bar -->
<div class="fl-bottom-pane">
  <div class="buttons">
		<% if user_signed_in? %>
			<a onclick="$('div#fl-add-evidence').fadeToggle();">Add fact</a>
      <a onclick="parent.addNewFact();">Add <strong>new</strong> fact</a>
		<% else %>
			<%= link_to("Sign in", new_user_session_path({ :return_path => @fact.id })) %> or <%= link_to("register", new_user_session_path) %>
		<% end %>
	</div>
	<sub>credibility provided by Factlink</sub>
</div>

<div class="fl-clear"></div>


<!-- Add evidence popup -->
<div id="fl-add-evidence">

	<div class="fl-add-evidence-message center">
		<span class="message">
		Please select or search a fact to add <a onclick="$('div#fl-add-evidence').fadeToggle();">or hide this fact selection</a>.
		</span>
	</div>

	<div id="fl-fact-search">
		
		<%= form_for("search", :url => client_search_path, :remote => "true" ) do |f| %>
			<input type="text" class="client_search" name="s" placeholder="Search for facts.." <%= params[:s] ? "value='#{params[:s]}'" : "" %> x-webkit-speech >
			<input type="hidden" name="fact_id" value="<%= @fact.id %>">
			<input type="submit" value="Search" />
		<% end %>
		
	</div>
	
	<div id="fl-sources" class="fl-evidence-list">
		<ol>
			
			<% unless @potential_evidence.count > 0 %>				
				<li id="fl-no-evidence" class="center messageyour">
					Currently there are no available facts to support or weaken this fact.
				</li>
			<% else %>
				<% @potential_evidence.all.each do |evidence| %>
					<%= evidence_as_li(@fact, evidence) %>
				<% end %>
			<% end %>
		</ol>
	</div>
	
	<div class="fl-bottom-pane center">
		<div class="buttons">
		<a onclick="$('div#fl-add-evidence').fadeToggle();">Hide this fact selection</a>
		</div>
		<sub>credibility provided by Factlink</sub>
	</div>
</div>