<header>
	<h1>Channels <%= add_channel(user) %></h1>
</header>

<% unless channels.count > 0 %>
	<p><%= user.username %> has no channels.</p>
	
	<% if user_signed_in? %>
		<% if current_user == user %>
			<p><%= link_to("create a new channel", new_channel_path(current_user.username)) %></p>
		<% end %>
	<% end %>

<% else %>
	<ul id="channel-listing">
		<% channels.each do |channel| %>
			<%= channel_snippet(channel, user) %>
		<% end %>

	</ul>
	<% if user_signed_in? %>
		<% if current_user == user %>
			<span class="new-channel"><%= link_to("new channel", new_channel_path(current_user.username)) %></span>
		<% end %>
	<% end %>
<% end %>

<% content_for :main_column do %>

<% end %>


<% content_for :script do %>
	
	<% if @highlight_first_channel %>
		<script>
			$('#channel-listing > li:first').addClass('active');
		</script>
	<% end %>
	
<% end %>