<header class="append-bottom">
	<h1><%= channel.title %> <%= edit_channel(@user, channel) %> <%= follow_channel(@user, channel) %></h1>
	<p><%= channel.description %></p>

	<% if user_signed_in? %>
	<!-- <div class="follow-channel" data-channel-id="<%= channel.id %>" data-follow-url="<%= follow_channel_url(channel.created_by.username, channel.id) %>"> -->
		<!-- <a href="#"><%= fork_label(channel) %></a> -->
	<!-- </div> -->
	<% end %>
</header>


<% unless channel.facts.count > 0 %>
	<p>There are no facts in this channel...</p>
<% else %>
<!-- fact listing -->
<ul id="results-listing">
	<% channel.facts.sort(:order => "DESC").each do |fact| %>
		<li><%=	fact_snippet(fact, channel) %></li>
	<% end %>
</ul>
<% end %>