<header class="append-bottom">
	<h1>
	  <%= channel.title %>
  	<% if user_signed_in? %>
  	  <% if current_user.graph_user == channel.created_by %>
        <%= link_to("edit", edit_channel_path(channel.created_by.user.username, channel.id), :class => "button") %>
  	  <% else %>
        <%= link_to("add to my channels", follow_channel_path(current_user.username, channel.id), :class => "button", :remote => true, :disable_with => ['adding', 'added']) %>
	    <% end %>
  	<% end %>
  </h1>
	<p>
	  <%= channel.description %>
	</p>
</header>


<% unless channel.facts.count > 0 %>
	<p>There are no facts in this channel...</p>
<% else %>
  <!-- fact listing -->
  <ul id="results-listing">
  	<% channel.facts.sort(:order => "DESC").each do |fact| %>
  		<li><%=	fact_snippet(fact, channel) %></li>
  	<% end %>
  </ul>
<% end %>