<h2 style="color: #333; text-shadow: 0px 1px 1px #fff;">Sign in with your Factlink account</h2>

<%= form_for(resource, :as => resource_name, :url => (session_path(resource_name)) do |f| %>

  <%= f.email_field :email, :placeholder => "Email" %><br/>
  <%= f.password_field :password, :placeholder => "Password" %><br/>

  <% if devise_mapping.rememberable? -%>
    <span><%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "font-weight: 100; font-size: 0.85em;" %></span>
  <% end -%>

  <pre><%= f.submit "Sign in", :class => "button" %></pre>
<% end %>



<%= render :partial => "devise/shared/links" %>