<% content_for :left_column do %>
  &nbsp;
<% end %>

<% content_for :javascript do %>
  <!-- Quick workaround for not showing the devise error in the header -->
  <script>
    $('#application-notification > p ').hide();
  </script>
<% end %>


<h2>Sign in with your Factlink account</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
  <fieldset></fieldset>
  <div class="control-group">
    <%= f.label "Email", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :placeholder => "Email" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Password", class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <%= f.label :remember_me, class: "control-label" %>
      <div class="controls">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end -%>

  <% if @layout %>
    <%= hidden_field_tag :layout, @layout%>
  <% end %>


  <div class="form-actions">
    <div class="control-group">
      <%= f.submit "Sign in", disable_with: "Signing in...", class: "btn" %>
    </div>
  </div>

  <div class="control-group">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>
  </div>
<% end %>

