<div class="span9" id="new_session">
  <h2>Log in</h2>

  <%= image_tag "factlink-logo.png" %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>You have to be logged in to use Factlink.</fieldset>

    <% if @layout == "client" %>
      <%= render 'home/notifications', notice: notice, alert: alert %>
    <% end %>

    <div>
      <%= f.text_field :login, placeholder: "Username or email" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>

    <div class="split">
      <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <%= link_to "Forgot your password?",
                new_password_path(resource_name),
                ( { target: "new" } if @layout == "client" ) %>
        <% end -%>
      </div>
      <div class="second">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end -%>
      </div>
    </div>

    <% if @layout %>
      <%= hidden_field_tag :layout, @layout %>
    <% end %>

    <div class="inputs">
      <%= f.submit "Log in", tabindex: 0, 'data-disable-with' => "Logging in...", :class => "btn btn-primary" %>

      <% if @layout == "client" %>
      <button class="btn" name="cancel" id="cancel" style="float: left;">Cancel</button>
      <% end %>
    </div>
  <% end %>
</div>
<% content_for :javascript do %>
<script>
$('#cancel').on('click', function (e) {
  e.preventDefault();
  parent.remote.hide();
});
</script>
<% end %>
