<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle"><%= @activity.user.user %> added an argument</h2>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" id="added-argument-message">
  <tr>
    <td colspan="2" class="added-argument-message-header">
      <h3 class="message-title">
        <%= link_to(friendly_fact_url(@activity.object)) do %>
          <%= @activity.object.data.displaystring %>
        <% end %>
      </h3>
    </td>
  </tr>
    <tr>
      <td class="added-argument-message-container supporting">
        <table cellpadding="0" cellspacing="0" border="0" class="added-argument-message-box">
          <tr>
            <td valign="top" class="message-user-image">
              <img src="<%= @activity.user.user.avatar_url(size: 32) %>" width="32" height="32" />
              <%= link_to_possibly_dead_user(@activity.user.user, class: "user-name") %>
            </td>
          </tr>
          <tr>
            <td class="added-argument-message-content">
              <p>
                <%= @activity.subject.content %>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
</table>

<p align="center">
  <%= link_to('Reply to this argument', friendly_fact_url(@activity.object), class: 'button') %>
</p>
