<%
  subject_parent_user = @activity.subject.parent.created_by
%>

<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle"><%= @activity.user.user %> has commented on an argument</h2>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" id="added-argument-message">
  <tr>
    <td colspan="3" class="added-argument-message-header">
      <h3>
        <%= link_to(friendly_fact_url(@activity.object), class: "message-title") do %>
          <%= @activity.object.data.displaystring %>
        <% end %>
      </h3>
    </td>
  </tr>
  <tr>
    <td class="added-argument-message-container is-inactive" rowspan="3">
      <table cellpadding="0" cellspacing="0" border="0" class="added-argument-message-box">
        <tr>
          <td valign="top" class="message-user-image">
            <img src="<%= subject_parent_user.avatar_url(size: 32) %>" width="32" height="32" alt="<%= subject_parent_user %>" />
            <%= link_to_possibly_dead_user(subject_parent_user, class: "user-name") %>
          </td>
        </tr>
        <tr>
          <td class="added-argument-message-content">
            <p>
              <%= @activity.subject.parent.to_s %>
            </p>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td class="subcomment-container-padding">
            <table cellpadding="0" cellspacing="0" border="0" class="subcomment-container">
              <tr>
                <td valign="top" class="message-user-image">
                  <img src="<%= @activity.user.user.avatar_url(size: 24) %>" width="24" height="24" alt="<%= @activity.user.user %>" />
                  <%= link_to_possibly_dead_user(@activity.user.user, class: "user-name subcomment-user-name") %>
                </td>
              </tr>
              <tr>
                <td class="added-subcomment-message-content">
                  <p><%= @activity.subject.content %></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br /><br />

<table class="button" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="button-inner">
      <%= link_to FactUrl.new(@activity.object).proxy_open_url do %>
        <div class="button-link">
          Reply to this comment
        </div>
      <% end %>
    </td>
  </tr>
</table>

<br /><br />
