  <script type="text/javascript">
    parent.remote.show();
    parent.showFrame.className="overlay";
  </script>

  <div class="center" style="padding: 12px 0px 0px 0px;">
    <%= image_tag('factlink-logo.png', :height => "24px") %>
    <p class="alert" style="color: rgb(206, 0, 0); text-shadow: 0px 1px 0px #fff; margin-left: 84px; width: 260px;"><%= alert %></p>
  </div>

  <div class="fl-sign-in-container sign-in">

    <%= form_for("user", :url => user_session_path) do |f| %>
      <div class="center">
        <%= f.email_field :email, :placeholder => "Email", :style => "border-radius: 4px; border: 1px solid #cfcfcf; padding: 8px; width: 160px;" %>
        <%= f.password_field :password, :placeholder => "Password", :style => "border-radius: 4px; border: 1px solid #cfcfcf; padding: 8px; width: 160px;" %>
      </div>

      <div style="padding: 6px 0px 0px 174px;">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "font-size: 0.80em; color: #888; margin-right: 10px;" %>
        <% end -%>

      <%= f.submit "Sign in", :class => "btn" %>
      </div>
    <% end %>

  </div> <!-- /.fl-sign-in-container -->



  <div class="fl-sign-in-container" style="margin-top: 12px;">
    <div class="center">
      <%= form_for("user", :url => user_registration_path) do |f| %>

      <p>No account? Feel free to register!</p>

      <div>
        <%= f.text_field :username, :placeholder => "Username", :style => "border-radius: 4px; border: 1px solid #cfcfcf; padding: 8px; width: 160px;" %>
      </div>

      <div>
        <%= f.email_field :email, :placeholder => "Email", :style => "border-radius: 4px; border: 1px solid #cfcfcf; padding: 8px; width: 160px;" %>
      </div>

      <div>
        <%= f.password_field :password, :placeholder => "Password", :style => "border-radius: 4px; border: 1px solid #cfcfcf; padding: 8px; width: 160px;" %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, :placeholder => "Password confirmation", :style => "border-radius: 4px; border: 1px solid #cfcfcf; padding: 8px; width: 160px;" %>
      </div>

      <div>
        <%= f.submit "Sign up", :class => "btn confirm" %>
      </div>
      <% end %>
    </div> <!-- /.fl-sign-in-container -->

    <div class="clear">&nbsp;</div>
  </div>
