var no_fact_message = $("div[data-fact-id=<%= @fact_relation.fact.id %>] .no-evidence");
if (no_fact_message.length > 0) {
	no_fact_message.remove();
}

$('div[data-fact-id=<%= @fact_relation.fact.id %>] table.evidence-list > tbody')
    .append("<tr><td><%= escape_javascript(render(:partial => "/facts/partial/fact_bubble", :locals => {  :fact => fact_relation.from_fact, :fact_relation => fact_relation})) %></td></tr>").factlink();
		$("div[data-fact-id=<%= @fact_relation.fact.id %>] .evidence").toggle();
		$("div[data-fact-id=<%= @fact_relation.fact.id %>] .potential-evidence").toggle();

		$("div[data-fact-id=<%= @fact_relation.fact.id %>] .add-action.do-add").toggle();
		$("div[data-fact-id=<%= @fact_relation.fact.id %>] .add-action.do-show").toggle();

