<% content_for :email_body do %>
  <table class="discussion-of-the-week">
    <tr>
      <td>
        <img src="http://cdn.factlink.com/1/factlink-digest.jpg" class="factlink-post-stamp" height="104" width="208" alt="Factlink Digest" />
        <h1>Discussion of the Week</h1>
        <h2>Hello <%= @user.name %>,</h2>
      </td>

    </tr>
    <tr>
      <td>
        Our previous discussion about sugar's effect on your health attracted many arguments. Most people agreed that sugar is a major cause of health problems. Perhaps this week's topic has a sweeter future.
      </td>
    </tr>
    <tr height='10'>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        Electric cars are constantly improving. Companies like Tesla are attracting more and more attention. This week's fuel for thought:
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 43px 0 27px">

        <table class="quoted-factlink">
          <tr>
            <td class="quoted-factlink-image">
              <img src="http://cdn.factlink.com/1/fact-wheel-questionmark.png" height="31" width="31" alt="?" />
            </td>

            <td class="quoted-factlink-quote">
              <%= @fact.data.displaystring %>
            </td>
          </tr>
        </table>
      </td>

    </tr>
    <tr>

      <td align="center">
        <%= link_to 'Join the discussion', @url, class: 'btn-email' %>
      </td>

    </tr>

    <tr>
      <td style="padding: 30px 0 0">
        Join the discussion by clicking the button above or copying this link to your browser:
        <%= link_to @url, @url %>
      </td>
    </tr>

    <tr align="center">
      <td style="padding: 35px 0 15px">
        <img src="http://cdn.factlink.com/1/factlink-logo-small.png" class="factlink-logo-footer" height="13" width="68" alt="Factlink" />
      </td>
    </tr>

  </table>

<% end %>

<% content_for :email_footer do %>
  <%= link_to 'Manage your subscriptions', user_notification_settings_url(@user) %>
<% end %>

<%= render template: "layouts/email" %>
