<% content_for :title do %>
  Jobs
<% end %>

<% content_for :menu_items do %>
  <% @jobs.each do |job| %>
    <%  if (job.show) %>
      <li class="selected_menu_item"><a href="<%= job.id %>"><%= job.title %></a></li>
    <% end %>
  <% end %>
<% end %>

<% content_for :body_text do %>
  <h1></h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.content %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </table>

  <br />

<% end %>