<% content_for :title do %>
  <%= @job.title %>
<% end %>


<% content_for :menu_items do %>
  <% @jobs.each do |job| %>
    <%  if (job.show) %>
      <li <%= job.id == @job.id ? "class='selected_menu_item'" : '' %>  >
         <a href="/pages/jobs/<%= job.id %>"><%= job.title %></a>
        
         <%#*#link_to job.title, pages_path(job)%>
      </li>
    <% end %>
  <% end %>
<% end %>


<% content_for :body_text do %>
  <h1> <%= @job.title %></h1>
  <p> <%= @job.content %> </p>
<% end %>
  
  