<% content_for :title do %>
  <%= @job.title %>
<% end %>


<% content_for :menu_items do %>
  <% @jobs.each do |job| %>
    <li <%= job.id == @job.id ? "class='selected_menu_item'" : '' %>  >
      <%=  link_to job.title, job_path(job) %>
    </li>
  <% end %>

  <% if @jobs.length == 0 %>
    <li>
      <%= link_to "Jobs", jobs_path %>
    </li>
  <% end %>
<% end %>


<h1> <%= @job.title %></h1>

<%= simple_format(@job.content,sanitize: false) %>

<% if can? :update, @job %>
  <div style="text-align:right">
    <%=link_to "Edit", edit_admin_job_path(@job)%>
  </div>
<% end%>

