<h2>Resend confirmation instructions</h2>

<div class="alert alert-info">You're account might already be activated. Are you still on the waiting list to get approved?</div>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row"><%= f.label :email, style: 'width: 160px' %>
  <%= f.email_field :email %></div>

  <div class="action-wrapper"><%= f.submit "Resend confirmation instructions", class: 'btn' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
