<div class="publisher-container">
  <div class="publisher-animation-area">
    <div class="publisher-animation-social">
      <div class="publisher-animation-social-row">
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Adrian.png' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Blain.jpg' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/cdwharton-avatar.jpg' %>" class="animation-social-avatar">
        </div>
      </div>
      <div class="publisher-animation-social-row">
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Innocenti.png' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <div class="animation-social-primary-item">
            <div class="animation-social-icon">
              <div class="social-discuss-icon">
                <span class="social-discuss-icon-body"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Kerry.jpg' %>" class="animation-social-avatar">
        </div>
      </div>
      <div class="publisher-animation-social-row">
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Prisca.jpg' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Sarah_alt.png' %>" class="animation-social-avatar">
        </div>
        <div class="publisher-animation-social-column">
          <img src="<%= asset_path 'landing/content/Shane.jpg' %>" class="animation-social-avatar">
        </div>
      </div>
    </div>
  </div>
  <div class="publisher-content-area">
    <h1 class="publisher-content-heading">Social reach</h1>
    <p>We make it easy for readers to invite their Facebook friends and Twitter followers to join the discussion. In addition, Factlink itself is a social network for knowledge, where users can subscribe to discussions on your website, and discover new content.
    </p>
  </div>
</div>
