<li data-activity-id="<%= activity.id %>">
	
	<article>
	
		<div class="icon-container">
			<%= image_for_activity(activity) %>
		</div>
	
		<div class="activity-container">
			
			<%= activity_for_type(activity) %>
			<sub><%= time_ago_in_words(activity.created_at) %> by <%= link_to(activity.user.user.username, user_profile_path(activity.user.user.username)) %></sub>
			
		</div>
	
	</article>
	
</li>