<h2>Send invitation</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => "form-horizontal"} do |f| %>
  <fieldset>
    <legend>
      Invitations left: <%= current_user.invitation_limit %>
    </legend>
    <%= devise_error_messages! %>

    <% if current_user.has_invitations_left? %>
      <div class="control-group well">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email, class: "input-xlarge", required: "required" %>
        </div>
      </div>

      <% content_for :personalized_message do %>
      <div class="control-group well">
        <%= f.label :message, class: "control-label" %>
        <div class="controls">
          <%= text_area :invite, :message, class: "input-xlarge", rows: 4 %>
        </div>
      </div>
      <% end %>

      <%= render 'users/mailer/invitation_text' %>


      <div class="form-actions">
        <%= f.submit "Send an invitation", :class => "btn btn-primary", 'data-disable-with' => "Sending..." %>
      </div>
    <% end %>
  </fieldset>
<% end %>

