<h2>Send invitation</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => "form-horizontal"} do |f| %>
  <fieldset>
    <legend>
      Invitations left: <%= current_user.invitation_limit %>
    </legend>
    <%= devise_error_messages! %>

    <% if current_user.has_invitations_left? %>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :email, class: "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :message, class: "control-label" %>
        <div class="controls">
          <%= text_area :invite, :message, class: "input-xlarge" %>
        </div>
      </div>


      <div class="form-actions">
        <%= f.submit "Send an invitation", class: "btn btn-primary" %>
      </div>
    <% end %>
  </fieldset>
<% end %>

