<%= form_for(@user, :url => [:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-message block-message error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :username %>
    <div class="field">
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="row">
    <%= f.label :twitter %>
    <div class="field">
      <%= f.text_field :twitter %>
    </div>
  </div>
  <div class="row">
    <%= f.label :email %>
    <div class="field">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <%= f.label :password %>
    <div class="field">
      <%= f.text_field :password %>
    </div>
  </div>
  <div class="row">
    <%= f.label :password_confirmation %>
    <div class="field">
      <%= f.text_field :password_confirmation %>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'cancel', admin_users_path %>
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
