<%= form_for(user, :url => [:admin, user], class: "form-horizontal") do |f| %>
<div class="top-aligned-inline-block">
  <table class="admin-form">
    <% if user.errors.any? %>
    <tr><td>
      <div class="alert-message block-message error">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </td></tr>
    <% end %>

    <tr>
      <th class="form-label-column">
        <%= f.label :username %>
      </th>
      <td>
        <%= f.text_field :username %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :email %>
      </th>
      <td>
        <%= f.text_field :email %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :first_name %>
      </th>
      <td>
        <%= f.text_field :first_name %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :last_name %>
      </th>
      <td>
        <%= f.text_field :last_name %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :tos_name %>
      </th>
      <td>
        <p><%= user.agrees_tos_name %></p>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :location %>
      </th>
      <td>
        <%= f.text_field :location %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :biography, "Bio" %>
      </th>
      <td>
        <%= f.text_area :biography %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :password %>
      </th>
      <td>
        <%= f.text_field :password %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :password_confirmation %>
      </th>
      <td>
        <%= f.text_field :password_confirmation %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :approved %>
      </th>
      <td>
        <%= f.check_box :approved %>
      </td>
    </tr>

    <tr>
      <th class="form-label-column">
        <%= f.label :registration_code %>
      </th>
      <td>
        <%= f.text_field :registration_code %>
      </td>
    </tr>

    <tr class="alert-error">
      <th class="form-label-column">
        <%= f.label :admin %>
      </th>
      <td>
        <%= f.check_box :admin %>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="text-align:right;">
        <div class="form-actions">
          <%= link_to 'cancel', admin_users_path, class: 'btn' %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </td>
    </tr>
  </table>
</div>
<!-- Feature toggle -->
<div class="well top-aligned-inline-block" style="margin-left:2em">
  <h1>Features</h1>

  <ul>
    <% @user_features.each do |feat| %>
    <li>
      <label<%if @globally_enabled_features.include? feat then%>
        class="admin-form-irrelevant-feature"
        <% end%>>
        <%= check_box_tag("user[features][#{feat}]", true, @user.features.member?(feat)) %> <%= feat %>
      </label>
    </li>
    <% end %>
  </ul>
</div>

<% end %>
