<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Twitter</th>
    <th>Email</th>
    <th>Password</th>
    <th>Password confirmation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.twitter %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.password_confirmation %></td>
    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <!-- <td><%= link_to 'Destroy', admin_user_path(user), confirm: 'Are you sure?', method: :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
