<div style="text-align: center;">
  <button class="button button-interesting">
    <div class="button-interesting-tally">7</div>
    <i class="icon-star button-interesting-star button-interesting-star-active"></i>
    <span>Interesting</span>
  </button>

  <div class="interested-avatars">
    <span class="intested-avatar">
      <%= image_tag 'landing/content/Shane.jpg', class: 'image-24px opinionators-avatar-image' %>
    </span>
    <span class="intested-avatar">
      <%= image_tag 'landing/content/Prisca.jpg', class: 'image-24px opinionators-avatar-image' %>
    </span>
    <span class="intested-avatar">
      <%= image_tag 'landing/content/Innocenti.png', class: 'image-24px opinionators-avatar-image' %>
    </span>
    <span class="intested-avatar">
      <%= image_tag 'landing/content/cdwharton-avatar.jpg', class: 'image-24px opinionators-avatar-image' %>
    </span>
    <span class="intested-avatar">
      <%= image_tag 'landing/content/Blain.jpg', class: 'image-24px opinionators-avatar-image' %>
    </span>
    <span class="intested-avatar">
      <%= image_tag 'landing/content/Adrian.png', class: 'image-24px opinionators-avatar-image' %>
    </span>
    <span class="intested-avatar">
      <%= image_tag 'landing/content/Kerry.jpg', class: 'image-24px opinionators-avatar-image' %>
    </span>
  </div>
</div>
