<div class="on-your-site-container">
  <div class="on-your-site-illustration">
    <div>
      <%= image_tag 'landing/content/Adrian.png', class: 'social-reach-avatar' %>
      <%= image_tag 'landing/content/Blain.jpg', class: 'social-reach-avatar' %>
      <%= image_tag 'landing/content/cdwharton-avatar.jpg', class: 'social-reach-avatar' %>
    </div>

    <div>
      <%= image_tag 'landing/content/Innocenti.png', class: 'social-reach-avatar' %>
      <div class="social-reach-icon-container">
        <span class="social-reach-icon"></span>
      </div>
      <%= image_tag 'landing/content/Kerry.jpg', class: 'social-reach-avatar' %>
    </div>

    <div>
      <%= image_tag 'landing/content/Prisca.jpg', class: 'social-reach-avatar' %>
      <%= image_tag 'landing/content/Sarah_alt.png', class: 'social-reach-avatar' %>
      <%= image_tag 'landing/content/Shane.jpg', class: 'social-reach-avatar' %>
    </div>
  </div>

  <div class="on-your-site-content">
    <h1 class="on-your-site-content-heading">Social reach</h1>
    <p>We make it easy for readers to invite their Facebook friends and Twitter followers to join the discussion. In addition, Factlink itself is a social network for knowledge, where users can subscribe to discussions on your website, and discover new content.
    </p>
  </div>
</div>
