<div class="span3 search">
  <% if can? :index, Fact %>
    <%= render "facts/fact_search" %>
  <% end %>
</div>

<div class="span6 pull-right">
  <ul class="nav secondary-nav pull-right navbar-options">
    <li>
      <%= link_to "Home", home_path, rel: 'backbone' %>
    </li>

    <li class="divider-vertical"></li>

    <% if can? :access, Ability::AdminArea %>
      <%= render "base/topbar/admin_menu" %>
      <li class="divider-vertical"></li>
    <% end %>

    <% if can_haz :messaging %>
      <li>
        <%= link_to(image_tag('conversations.png'), conversations_path, class: 'potential-backbone', id: "conversations-link") %>
      </li>

      <li class="divider-vertical"></li>
    <% end %>

    <%= render "base/topbar/notifications" %>

    <% if can? :access, Ability::FactlinkWebapp %>
      <li class="divider-vertical"></li>
      <%= render "base/topbar/user_profile" %>
      <li class="divider-vertical"></li>
      <%= render "base/topbar/topbar_menu" %>
    <% end %>

  </ul>
</div>
