<div class="topbar-search">
  <% if can? :index, Fact %>
    <form method="GET" class="js-navbar-search-form" action="<%= search_path %>">
      <input id="factlink_search" type="text" class="topbar-search-field js-navbar-search-box" name="s" placeholder="Search...">
    </form>
  <% end %>
</div>

<ul class="topbar-menu">
  <li class="topbar-menu-item">
    <%= link_to "Home", home_path, class: 'potential-backbone' %>
  </li>

  <li class="topbar-divider"></li>

  <li class="topbar-menu-item">
    <%= link_to(image_tag('conversations/conversations.png'), conversations_path, alt: '', class: 'potential-backbone conversations-link') %>
  </li>

  <li class="topbar-divider"></li>

  <li class="dropdown topbar-menu-item" id="notifications">

  <% if can? :access, Ability::FactlinkWebapp %>
    <li class="topbar-divider"></li>
    <%= render "base/topbar/user_profile" %>
    <li class="topbar-divider"></li>
    <%= render "base/topbar/topbar_menu" %>
  <% end %>

</ul>
