<div class="span9">
  <ul class="steps">
    <li<%= show_active_step @step_in_signup_process, :account %>>
      <span>1</span>Account
    </li>

    <li<%= show_active_step @step_in_signup_process, :create_your_first_factlink %>>
      <span>2</span>Create Factlink
    </li>

    <li<%= show_active_step @step_in_signup_process, :install_extension %>>
      <span>3</span>Install extension
    </li>

    <li<%= show_active_step @step_in_signup_process, :choose_channels %>>
      <span>4</span><%= t(:stream).capitalize %>
    </li>
  </ul>
</div>
