<div id="fl-potential-childs-popup"
style="position: absolute; 
border: solid 10px rgba(0, 0, 0, 0.2);
border-radius: 4px; padding: 4px;
width: 390px;
height: 248px;
background: #eee;
box-shadow: 0px 0px 8px #888;
top: 60px;
left: 10px;
z-index: 24;
display: none;">
	
	<%= image_tag "icons/close-button.png", :class => "close-button", :style => "position: absolute; top: -18px; left: 386px;", :onclick => "$('#dimmer').fadeOut('fast'); $('#fl-potential-childs-popup').fadeOut('fast');" %>
	
	<span style="margin: 4px; font-weight: 700; text-shadow: 0px 0px 1px #fff;">Please choose an existing fact to add:</span>

	<div class="fl-scroll-pane" style="margin-top: 4px;">
		<ol id="fl-existing-childs-list" class="fl-sources" style="height: 200px;">
			<% unless potential_childs.count > 0 %>
				
				<%= no_facts_have_been_added_as_li %>
			
			<% else %>

				<% potential_childs.each do |evidence| %>
				<li id="fl-source-<%= evidence.id %>">

					<div style="width: 320px; margin-left: -20px;">
						<span><%= evidence.displaystring %></span>
						<p><%= evidence.content || "<no content available>" %></p>
						<% if evidence.site %>
							<span class="fl-source">found on <a href="<%= evidence.site.url %>" target="_blank"><%= truncate(evidence.site.url, :length => 62) %></a></span>
						<% else %>
							<span class="fl-source">found on <a href="<%= evidence.url %>" target="_blank"><%= truncate(evidence.url, :length => 62) %></a></span>
						<% end %>
					</div>

					<div style="padding: 22px 0px 0px 0px; margin-left: -48px;" class="center">
						<%= link_to('add as <span style="font-weight: 700;">supporting</span>'.html_safe, add_supporting_evidence_path(@fact, evidence), :remote => true, :class => "button", :style => "color: #000; padding: 4px; text-decoration: none;" )%>
						<%= link_to('add as <span style="font-weight: 700;">weakening</span>'.html_safe, add_weakening_evidence_path(@fact, evidence), :remote => true, :class => "button", :style => "color: #000; padding: 4px; text-decoration: none;" )%>
					</div>
				</li>
				<% end %>
			<% end %>
		</ol>
	</div>
	
	<div class="center" style="padding: 8px;">
		<a onclick="javascript: $('#dimmer').fadeOut('fast'); $('#fl-potential-childs-popup').fadeOut('fast'); ">or cancel</a>
	</div>
	
</div>