<%= form_for Factlink.new, :url => "/factlink/add_as_source", :remote => true do |f| %>
	
	<%= f.hidden_field :parent_id, :value => @factlink.id %>

  <div class="field">
		<span id="factlink_sub_title_error" class="error" style="display: none;"></span>
    <%= f.text_field :displaystring, :placeholder => "Title" %>
  </div>
  <div class="field">
		<span id="factlink_sub_content_error" class="error" style="display: none;"></span>
    <%= f.text_area :content, :rows => 4, :cols => 45, :placeholder => "Supporting statements" %>
  </div>

  <div class="field">
		<span id="factlink_sub_url_error" class="error" style="display: none;"></span>
    <%= f.text_field :url, :placeholder => "Url where the statement can be found" %>
  </div>

  <div class="actions" style="padding: 10px; margin: 0 auto; text-align: center;">
		<%= f.submit "Add this source", :class => "button confirm" %>
		<a onclick="javascript: $('#fl-sources-popup').fadeOut('fast'); ">or cancel</a>
	</div>

<% end %>


<script>
$('#new_factlink_sub input, textarea').blur(function()
{
    if( $(this).val() ) {
				$('#' + this.id + '_error').fadeOut();
    }
});
</script>