<li data-score="<%= factlink.total_score %>" id="fl-source-<%= factlink.id %>">

	<div id="fl-link-type">
		<span>
			<% if parent.supported_by?(factlink) %>
				Supporting
			<% else %>
				Weakening
			<% end %>
		</span>
	</div>

	<div id="fl-vote-container" class="fl-vote-container">
		<% if user_signed_in? %>
			<%= vote_options(factlink, parent) %>
		<% end %>
	</div>

	<span class="fl-statement-title"><%= factlink.displaystring %></span>
	<p><%= factlink.content %></p>
	<hr>
	
	<div class="fl-source-information">
		<span class="fl-source-created-by">by <%= link_to(factlink.created_by, user_profile_path(factlink.created_by.username), :target => "_blank") %></span>		
		<% if factlink.site %>
			<span class="fl-source">found on <a href="<%= factlink.site.url %>" target="_blank"><%= truncate(factlink.site.url, :length => 40) %></a></span>
		<% else %>
			<span class="fl-source">found on <a href="<%= factlink.url %>" target="_blank"><%= truncate(factlink.url, :length => 40) %></a></span>
		<% end %>
	</div>

	<% if user_signed_in? %>
		<% if factlink.added_to_parent_by_current_user(parent, current_user) %>
		<div class="fl-remove-fact">
			<%= link_to(image_tag('trashcan.png'), remove_factlink_from_parent_path(factlink.id, parent.id), :remote => true, :confirm => "Are you sure you want to remove this supporting/weakening fact?") %>
		</div>
		<% end %>
	<% end %>
		
	<%= link_to('active users', interacting_users_path(factlink), :remote => true, :onclick => "$('div#dimmer').fadeIn(); $('div#fl-interacting-users').fadeIn();") %>

</li>