<% content_for :script do %>
	<%= javascript_include_tag("factlink_overview") %>
<% end %>


<div class="span-16">
	<h1 style="font-size: 1.6em; font-weight: 100; text-shadow: 0px 1px 1px #fff;">Factlink search - providing credibility you can see</h1>
</div>

<form method="GET" action="<%= factlink_overview_path %>">	
	<input type="text" class="search" name="s" placeholder="Search.." <%= params[:s] ? "value='#{params[:s]}'" : "" %>>
</form>

<table class="factlinks">
	<colgroup>
		<col style="width: 450px;" />
		<col style="width: 120px;" />
		<col span="3" style="width: 50px;" />
	</colgroup>
	<thead>
		<tr>
			<td colspan="5" class="search">
				<!-- <input type="text" class="search" name="s" placeholder="Search.." <%= params[:s] ? "value='#{params[:s]}'" : "" %>> -->
			</td>
		</tr>
	  <tr>
	    <th style="width: 450px;"><%= sortable 'displaystring' %></th>
	    <th style="width: 120px;"><%= sortable 'created_at' %></th>
			<th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tfoot>
		<tr id="load_more">
			<td colspan="5">
				<a href="#">Load more...</a>
			</td>
		</tr>
		<tr id="loading" style="display:none;">
			<td colspan="5">
				Loading...
			</td>
		</tr>
	</tfoot>
	<tbody>
	  <%= render :partial => "factlink_as_td", :collection => @factlinks, :as => :factlink %>
	</tbody>
</table>