<li class="fact-block" data-fact-id="<%= fact.id %>">
	<% if channel and user_signed_in? %>
		<%= link_to(image_tag("x_7x7.png", :class => "close", "style" => "float: right"), remove_fact_from_channel_path(current_user, channel.id, fact.id), :confirm => "Are you sure you want to remove this fact from your channel?", :remote => true )%>
	<% end %>
		
	<article class="fact" data-fact-id="<%= fact.id %>" id="fact-<%= fact.id %>" data-user-opinion="<% if user_signed_in? %><%= current_user.graph_user.opinion_on(fact) %><% end %>">
    <div class="wheel" id="wheel-<%= fact.id %>">
  	  <div class="opinion" data-value="<%= fact.get_opinion.as_percentages[:believe][:percentage] %>" data-opinion="beliefs" data-color="#95C11F"></div>
  	  <div class="opinion" data-value="<%= fact.get_opinion.as_percentages[:disbelieve][:percentage] %>" data-opinion="disbeliefs" data-color="#E94E1B"></div>
    	<div class="opinion" data-value="<%= fact.get_opinion.as_percentages[:doubt][:percentage] %>" data-opinion="doubts" data-color="#36A9E1"></div>
    	<div class="authority"><%= image_tag("brains.png", "alt" => "Brain Cycles") %> <%= fact.get_opinion.authority %> </div>		
    </div>
    <div class="beliefs-box opinion-box float-box"><span class="opinion-type">believe</span><br> 
      <span class="percentage"><%= fact.get_opinion.as_percentages[:believe][:percentage] %>%</span> 
      <%= fact_interacting_users(fact.people_beliefs) %>
		</div> 
		<div class="doubts-box opinion-box float-box">
		  <span class="opinion-type">doubt</span>
		  <span class="percentage"><%= fact.get_opinion.as_percentages[:doubt][:percentage] %>%</span> 
      <%= fact_interacting_users(fact.people_doubts) %>
		</div>		
		<div class="disbeliefs-box opinion-box float-box"> 
			<span class="opinion-type">disbelieve</span><br> 
			<span class="percentage"><%= fact.get_opinion.as_percentages[:disbelieve][:percentage] %>%</span> 
			<%= fact_interacting_users(fact.people_disbeliefs) %>
		</div>
		<header>
		  <% if fact.site.title %>
			  <span class="head"><%= fact.site.title %></span><br>
			<% end %>
			<span class="body">
			<%= link_to(fact.displaystring,fact_path(fact.id)) %>
			</span>
			<br>
			<sub>
			   <%= time_ago_in_words(fact.created_at) %> ago by
			   <%= link_to("#{fact.created_by.user.username} (#{fact.created_by.user.authority})", user_profile_path(fact.created_by.user.username)) %>
			   found on <a href="<%= fact.site.url %>" target="_blank"><%= fact.pretty_url %></a>
			</sub>
			<div class="actions">
			<% if user_signed_in? %>				
			<ul>
				<li><a href="#" class="add-to-channel"><%= image_tag("bookmark.gif") %>Channels</a></li>
				<li><%= image_tag("star.gif") %> Favorite</li>
  				<% if current_user && fact.created_by == current_user.graph_user %>
  				<li><%= link_to(image_tag('trash.gif') + "Delete", fact_path(fact.id), :confirm => "You will delete this Factlink. Are you sure?", :method => :delete, :remote => true ) %></li>
  				<% end %>			
			</ul>	
			<%= fact_channel_listing(fact) %>
			<% end %>				
			</div>
		</header>
		<div class="evidence-facts">
			<div class="evidence-open">	
			  <ul>
			   <li><a href="#"><span><%= image_tag("arrow2_s.png") %>Evidence (<%= fact.evidence_count %>)</span></a></li>
			  </ul>
			</div>
			<div class="evidence-container" style="display: none">
			<div class="evidence">
			</div>
			<div class="add-action" style="text-align: center; margin-top: 5px"><input type="button" value="Add a fact"></div>
		</div>
	</article>
</li>