<ul class="nav-tabs">
  <li class="nav-tabs-item"><%= link_to "Frequently Asked Questions", pages_path("help") %></li>
  <li class="nav-tabs-item"><%= link_to "Chrome extension", pages_path("help/chrome-extension") %></li>
  <li class="nav-tabs-item"><%= link_to "Firefox extension", pages_path("help/firefox-extension")  %></li>
  <li class="nav-tabs-item"><%= link_to "Supported browsers", pages_path("help/supported-browsers") %></li>
  <li class="nav-tabs-item"><%= link_to "Unsupported websites", pages_path("help/unsupported-websites") %></li>
</ul>
