<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= t(:app_name) %> &mdash; Share your knowledge for a better world</title>
    <meta name="description" content="<%= t(:app_name) %> social callback page.">
    <meta name="viewport" content="width=device-width">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <style type="text/css">
      body {
        margin-top: 0px;
        min-width: 640px;
      }
    </style>
    <%= render 'snippets/csrf' %>
    <%= inject_special_test_code %>
  </head>
  <body class="accounts-popup-body">
    <div class="accounts-popup-topbar">
      <div class="accounts-popup-logo topbar-logo"></div>
    </div>

    <div class="accounts-popup-content">
      <%= yield :account_popup_content %>
    </div>

    <%= javascript_include_base %>
    <%= yield :specific_javascript %>
  </body>
</html>
