<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%# If you delete this tag, the sky will fall on your head %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= t(:app_name) %></title>
  <link href="email.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <table cellpadding="0" cellspacing="0" border="0" id="wrapper">
    <tr>
      <td >
        <table cellpadding="0" cellspacing="0" width="90%" border="0" align="center" id="inner-wrapper">

          <thead>
            <tr>

              <td class="header-column">
                <%= yield :email_header %>
              </td>

              <td class="header-column">
                <% unless @hide_header_image %>
                  <a href="<%= FactlinkUI::Application.config.core_url %>"><img src="<%= FactlinkUI::Application.config.core_url %>/images/email_logo_header.png" alt="<%= t(:app_name) %>" title="<%= t(:app_name) %>" align="right" width="36px" height="36px" /></a>
                <% end %>
              </td>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="2" id="content">
                <%= yield :email_body %>
                <%= yield %>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="2">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td class="footer-column">
                      <a href="<%= FactlinkUI::Application.config.core_url %>"><img src="<%= FactlinkUI::Application.config.core_url %>/images/email_logo_footer.png" class="footer-logo" alt="<%= t(:app_name) %>" title="<%= t(:app_name) %>" width="71px" height="13px" /></a>
                      <%= yield :email_footer %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tfoot>

        </table>
      </td>
    </tr>
  </table>
</body>

</html>
